@import "./anim-icon/anim-icon.scss";
@import "./anim-stack/anim-stack.scss";

.section-develop-site {
	&__wrap {
		padding-bottom: 40px;
	}

	&__title {
	}

	&__subtitle {
		margin-bottom: 70px;
		font-weight: 300;
		font-size: 23px;
		letter-spacing: 2px;
		color: #aaaaaa;
		line-height: 140%;
	}

	&__advant {
		margin-bottom: 120px;
	}

	&__product {
		margin-bottom: 80px;
	}

	&__directions {
	}
}

@media (max-width: 1600px) {
	.section-develop-site {
		&__subtitle {
			@include adaptiv-font(23, 16);
		}
	}
}

@media (max-width: 1170px) {
	.section-develop-site {
		&__wrap {
			padding-bottom: 20px;
		}

		&__subtitle {
			text-align: center;
			margin-bottom: 30px;
		}

		&__advant {
			margin-bottom: 40px;
		}

		&__product {
			margin-bottom: 40px;
		}
	}
}

.develop-main-reestr{
	background:#e9ebf7;
	border-radius:60px;
	padding:30px 40px;

	&__list{
		display:grid;
		grid-template-columns:.3fr 4fr 1fr 1fr;
		align-items:center;
		gap:40px;
	}
}

.develop-main-reestr__list .--text{
	font-weight:400;
	font-size:18px;
	line-height:40px;
	color:#000;
}
.develop-main-reestr__list .--link{
	font-weight:400;
	font-size:14px;
	line-height:17px;
	text-decoration-line:underline;
	color:#333;
}

@media(max-width: 1450px){
	.develop-main-reestr__list{
		grid-template-columns:3fr 1fr 1fr;
		justify-items:center;
	}
	.develop-main-reestr__list .--image{
		grid-column:1/span 3;
	}
}

@media(max-width: 1100px){
	.develop-main-reestr__list{
		grid-template-columns:1fr 1fr;
	}
	.develop-main-reestr__list .--image{
		grid-column:1/span 2;
	}
	.develop-main-reestr__list .--text{
		grid-column:1/span 2;
	}
}

@media(max-width: 400px){
	.develop-main-reestr__list{
		grid-template-columns:1fr;
	}
	.develop-main-reestr__list .--image{
		grid-column:1;
	}
	.develop-main-reestr__list .--text{
		font-size:14px;
		line-height:2;
		grid-column:1;
	}
}

.advant-develop-site {
	&__row {
		padding-right: 100px;
		display: grid;
		grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr;
		grid-gap: 100px;
		align-items: center;
	}

	&__column {
	}

	&__list {
	}

	&__item {
		margin-bottom: 70px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__name {
		margin-bottom: 10px;
		font-size: 27px;
		line-height: 140%;
		color: #000;
		font-weight: bold;
	}

	&__text {
		font-size: 14px;
		line-height: 30px;
		color: #000;
	}

	&__group-link {
		display: flex;
		align-items: center;
		&:hover {
			& .advant-develop-site__link {
				border-color: transparent;
			}
		}
	}

	&__link {
		display: block;
		margin-right: 20px;
		font-size: 27px;
		line-height: 140%;
		color: #000;
		border-bottom: 1px solid #000;
		transition: all 0.3s ease;
	}

	&__lord-icon {
		width: 100px;
		height: 100px;
	}

	&__anim-svg {
		& svg {
			overflow: visible;
		}
	}

	& .number-info {
		& .number-info__text {
			padding: 0;
			font-size: 14px;
			& a {
				display: block;
				color: #000;
				& span {
					border-bottom: 1px solid #000;
					transition: all 0.3s ease;
				}
				&:hover {
					& span {
						border-bottom: transparent;
					}
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.advant-develop-site {
		&__name {
			@include adaptiv-font(27, 20);
		}

		&__link {
			@include adaptiv-font(27, 18);
		}
	}
}

@media (max-width: 1400px) {
	.advant-develop-site {
		&__row {
			padding-right: 0;
			grid-gap: 40px;
		}

		&__item {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 1170px) {
	.advant-develop-site {
		&__row {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 25px;
		}

		&__column {
			&:nth-child(3) {
				grid-column: span 3;
				grid-row-start: 1;
			}

			&:nth-child(4) {
				grid-column-start: 3;
				grid-row-start: 2;
			}
		}

		&__group-link {
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	.advant-develop-site {
		&__row {
			grid-template-columns: 1fr 1fr;
			justify-items: center;
		}

		&__column {
			&:nth-child(3) {
				grid-column: span 2;
				grid-row-start: 1;
			}

			&:nth-child(4) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 3;
				display: none;
			}
		}

		&__anim-svg {
			min-width: 200px;
		}
	}
}

@media (max-width: 500px) {
	.advant-develop-site {
		&__row {
			grid-template-columns: 1fr;
		}

		&__column {
			&:nth-child(3) {
				grid-column: span 1;
			}

			&:nth-child(4) {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 4;
			}
		}
	}
}

.develop-main-product {
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 90px;
	}

	&__item {
	}
}

.card-dev {
	cursor: pointer;
	position: relative;
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-gap: 55px;
	padding: 25px 50px 40px 45px;
	overflow: hidden;

	transition: all 0.3s ease;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	&__image {
		align-self: center;
	}

	&__group {
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 2;
	}

	&__name {
		margin-bottom: 13px;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 1.62px;
		color: #000;
		line-height: 140%;
	}

	&__sign {
		margin-bottom: 15px;
	}

	&__price {
		margin-bottom: 15px;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 2.16px;
		line-height: 140%;
		color: #000;
	}

	&__text {
		flex-grow: 1;
		& p {
			font-family: $EFont;
			margin-bottom: 15px;
			color: #333;
			font-size: 14px;
			line-height: 200%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__wrap-button {
		margin-top: 20px;
		text-align: end;
	}

	&__button {
		position: relative;
		padding-right: 78px;
		color: #000;
		& span {
			border-bottom: 1px solid #000;
			transition: all 0.3s ease;
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			right: 0;
			width: 58px;
			height: 11px;
			background: url("../img/icon-arrow-card-dev.png") no-repeat;
		}

		&:hover {
			& span {
				border-color: transparent;
			}
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&-svg {
			position: absolute;
			z-index: 0;
			transition: all 0.3s ease;
			&.--one {
				top: 0;
				right: 0;
				transform: translate(0, -100%);
			}

			&.--two {
				bottom: 0;
				right: 0;
				transform: translate(100%, 0);
			}

			&.--three {
				left: 0;
				bottom: 0;
				transform: translate(-100%, 0);
			}
		}
	}

	&:hover {
		box-shadow: 0px 37px 52.4px 4.6px #e9ebf7;
		background-color: #fff;

		& .card-dev {
			&__bg {
				&-svg {
					transform: translate(0, 0);
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.card-dev {
		&__name {
			@include adaptiv-font(27, 20);
		}

		&__price {
			@include adaptiv-font(36, 24);
		}
	}
}

@media (max-width: 1400px) {
	.develop-main-product {
		&__list {
			grid-gap: 30px;
		}
	}

	.card-dev {
		grid-gap: 25px;
		padding: 25px 15px 25px 15px;
	}
}

@media (max-width: 1170px) {
	.develop-main-product {
		&__list {
			grid-template-columns: 1fr;
		}
	}

	.card-dev {
		box-shadow: 0px 37px 52.4px 4.6px #e9ebf7;
		background-color: #fff;

		& .card-dev {
			&__bg {
				&-svg {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.card-dev {
		grid-template-columns: 1fr;
		gap: 50px;
		justify-items: center;
	}
}

.develop-all-product {
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px;
	}
}

.card-dev-all {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	padding: 25px 35px 40px 25px;
	transition: all 0.3s ease;

	background: #fff;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	&__banner {
		position: absolute;
		top: 0%;
		right: 0;
		width: 100%;
		transform: translate(35%, 75%) rotate(40deg);
		z-index: 2;
	}

	&__banner-item {
		padding: 15px;
		text-align: center;
		font-size: 14px;
		line-height: 14px;
		color: #ffffff;
		background: #ec808d;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&-svg {
			position: absolute;
			z-index: 0;
			transition: all 0.3s ease;
			&.--one {
				top: 0;
				right: 0;
				transform: translate(0, -100%);
			}

			&.--two {
				bottom: 0;
				right: 0;
				transform: translate(100%, 0);
			}

			&.--three {
				left: 0;
				bottom: 0;
				transform: translate(-100%, 0);
			}
		}
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		z-index: 2;
	}

	&__group {
		display: grid;
		grid-template-columns: 60px 1fr;
		grid-gap: 25px;
		margin-bottom: 30px;
	}

	&__icon {
	}

	&__group-name {
	}

	&__name {
		margin-bottom: 12px;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 1.62px;
		color: #000;
		line-height: 27px;
	}

	&__sign {
	}

	&__price {
		margin-bottom: 35px;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 2.16px;
		line-height: 40px;
		color: #000;
	}

	&__text {
		flex-grow: 1;
		& p {
			font-family: $EFont;
			font-size: 14px;
			line-height: 200%;
			color: #333;
		}

		&.--front {
			transform: scale(1);
			transition: all 0.3s ease;
		}

		&.--back {
			max-height: 0;
			overflow: hidden;

			transform: scale(0);

			transition: all 0.3s ease;
		}
	}

	&__list {
		& li {
			position: relative;
			padding-left: 50px;
			margin-bottom: 20px;
			font-family: $EFont;
			color: #333;
			font-size: 14px;
			line-height: 140%;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				width: 19px;
				height: 19px;
				background: url("../img/icon-list-card-dev-all.png") no-repeat;
			}

			&.--gift {
				&::before {
					background: url("../img/icon-list-card-dev-all-gift.png") no-repeat;
				}
			}

			&.--hot {
				&::before {
					background: url("../img/icon-list-card-dev-all-hot.png") no-repeat;
				}
			}
		}
	}

	&__item {
	}

	&__wrap-button {
		margin-top: 20px;
		text-align: end;
	}

	&__order {
		// opacity: 0;
		// visibility: hidden;
		margin-top: 40px;
		text-align: center;
		transition: all 0.3s ease;
	}

	&__button {
		position: relative;
		padding-right: 78px;
		color: #000;
		// opacity: 0;
		// visibility: hidden;
		transition: all 0.3s ease;
		& span {
			border-bottom: 1px solid #000;
			transition: all 0.3s ease;
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			right: 0;
			width: 58px;
			height: 11px;
			background: url("../img/icon-arrow-card-dev.png") no-repeat;
		}

		&:hover {
			& span {
				border-color: transparent;
			}
		}
	}

	&__out-text {
		// opacity: 0;
		// visibility: hidden;
		margin-top: 30px;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		color: #797979;
		transition: all 0.3s ease;
	}

	&.--hover {
		box-shadow: 0px 37px 52.4px 4.6px #e9ebf7;
		background-color: #fff;

		& .card-dev-all {
			&__bg {
				&-svg {
					transform: translate(0, 0);
				}
			}

			&__button {
				opacity: 1;
				visibility: visible;
			}

			&__order {
				opacity: 1;
				visibility: visible;
			}
		}

		& .card-dev-all__out-text {
			opacity: 1;
			visibility: visible;
		}

		& .card-dev-all__text {
			&.--back {
				max-height: initial;
				overflow: initial;
				transform: scale(1);
			}

			&.--front {
				max-height: 0;
				overflow: hidden;
				transform: scale(0);
			}
		}
	}
}

@media (max-width: 1600px) {
	.card-dev-all {
		&__name {
			@include adaptiv-font(27, 20);
		}

		&__price {
			@include adaptiv-font(36, 26);
		}
	}
}

@media (max-width: 1400px) {
	.develop-all-product {
		&__list {
			grid-gap: 25px;
		}
	}
}

@media (max-width: 1170px) {
	.develop-all-product {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
	}

	.card-dev-all {
		padding: 15px;

		&.--hover {
			box-shadow: 0px 15px 15.4px 4.6px #e9ebf7;

			& .card-dev-all__bg {
				display: none;
			}

			& .card-dev-all__text {
				&.--back {
					display: none;
					max-height: initial;
					overflow: initial;
					transform: scale(1);
				}

				&.--front {
					max-height: initial;
					overflow: visible;
					transform: scale(1);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.develop-all-product {
		&__list {
			grid-template-columns: 1fr;
		}
	}

	.card-dev-all {
		&__group {
			margin-bottom: 15px;
		}

		&__price {
			margin-bottom: 20px;
		}

		&__list {
			& li {
				padding-left: 30px;
			}
		}

		&__order {
			margin-top: 20px;
		}

		&__out-text {
			margin-top: 20px;
		}
	}
}

@media (max-width: 500px) {
	.card-dev-all {
		&__banner {
			transform: translate(40%, 89%) rotate(40deg);
		}

		&__banner-item {
			font-size: 12px;
			padding: 5px;
		}
	}
}

.develop-directions {
	&__list {
	}

	&__item {
	}
}

.card-directions {
	padding: 40px 0;
	border-top: 1px solid #e9ebf7;
	border-bottom: 1px solid #e9ebf7;
	min-height: 400px;
	&__row {
		display: grid;
		grid-template-columns: 0.7fr 250px 1fr;
		grid-gap: 150px;
	}

	&__column {
		&:nth-child(2) {
			min-height: 0px;
			transition: all 0.3s ease;
		}
	}

	&__name {
		font-size: 27px;
		font-weight: 300;
		line-height: 1.11;
		letter-spacing: 1.62px;
		color: #010101;
	}

	&__group-stack {
	}

	&__text {
		margin-bottom: 40px;
		& p {
			font-size: 18px;
			line-height: 1.67;
			color: #010101;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__competencies {
	}

	&__competencies-name {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.67;
		color: #aaaaaa;
	}

	&__competencies-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__competencies-item {
		margin: 0 15px 10px 15px;
		font-size: 18px;
		line-height: 1.67;
		color: #010101;
		border-bottom: 1px solid #000;
	}
}

.card-directions-stack {
	&__name {
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding-left: 55px;
		& span {
			font-size: 18px;
			line-height: 1.67;
			letter-spacing: 1.08px;
			color: #010101;
			border-bottom: 1px solid #000;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
			width: 39px;
			height: 39px;
			background: url("../img/icon-stack.svg") no-repeat;
		}
	}
}

@media (max-width: 1600px) {
	.card-directions {
		&__row {
			grid-gap: 100px;
		}

		&__name {
			@include adaptiv-font(27, 20);
		}

		&__text {
			& p {
				@include adaptiv-font(18, 14);
			}
		}

		&__competencies-item {
			@include adaptiv-font(18, 14);
		}
	}
}

@media (max-width: 1400px) {
	.card-directions {
		&__row {
			grid-gap: 40px;
		}
	}
}

@media (max-width: 1170px) {
	.card-directions {
		&__row {
			grid-template-columns: 1fr 300px;
			grid-column-gap: 60px;
		}

		&__column {
			&:nth-child(2) {
				grid-row: span 2;
			}
		}

		&__text {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 768px) {
	.card-directions {
		padding: 20px 0;
		&__row {
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}

		&__column {
			&:nth-child(2) {
				grid-row: initial;
				grid-row-start: 3;
			}
		}

		&__competencies-name {
			margin-bottom: 10px;
		}
	}

	.card-directions-stack {
		display: flex;
		justify-content: center;
	}
}
