<section class="section-develop-site">

    <div class="wrapper">
        <div class="section-develop-site__wrap">
            <div class="section-develop-site__title main-title">СОЗДАНИЕ И РАЗРАБОТКА САЙТОВ</div>

            <div class="section-develop-site__subtitle">
                Разрабатываем крутейшие сайты, которые создают правильный имидж
                компании
            </div>

            <div class="section-develop-site__advant advant-develop-site">
                <div class="advant-develop-site__row">
                    <div class="advant-develop-site__column">
                        <div class="advant-develop-site__list">
                            <div class="advant-develop-site__item">
                                <div class="advant-develop-site__name">Доводим идею до ума</div>
                                <div class="advant-develop-site__text">Собираем нужную информацию: обзор рынка, инсайды,
                                    гипотезы, тренды, ожидания. </div>
                            </div>

                            <div class="advant-develop-site__item">
                                <div class="advant-develop-site__name">Реализуем проект под ключ </div>
                                <div class="advant-develop-site__text">От идеи до вашего первого клиента.</div>
                            </div>
                        </div>
                    </div>

                    <div class="advant-develop-site__column">
                        <div class="number-info">
                            <div class="number-info__title">
                                2
                            </div>
                            <div class="number-info__img">
                                <img src="img/svsh.png" width="150" alt="">
                            </div>
                            <div class="number-info__text">
                                место студий России по разработке e-commerce сайтов (Рейтинг Рунета)
                                <a href="#"><span>PDF</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="advant-develop-site__column">
                        <a href="#" class="advant-develop-site__group-link">
                            <span class="advant-develop-site__link">Портфолио</span>
                            <lord-icon class="advant-develop-site__lord-icon" target="a" trigger="hover"
                                src="img/computer-display-outline-edited.json">
                            </lord-icon>
                        </a>
                    </div>

                    <div class="advant-develop-site__column">
                        <div class="advant-develop-site__anim-svg js-svg-anim"></div>
                    </div>
                </div>
            </div>

            <div class="section-develop-site__product develop-main-product">
                <div class="develop-main-product__list">
                    <div class="develop-main-product__item card-dev">
                        <a href="#" class="card-dev__link"></a>
                        <div class="card-dev__bg">
                            <svg class="card-dev__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>


                        <div class="card-dev__image">
                            <div class="iconCard">
                                <div class="dynamicIcon">
                                    <div class="dynamicBrowser">
                                        <div class="dynamicBrowser__panel">
                                            <div class="dynamicBrowser__buttonsWrap">
                                                <div class="dynamicBrowser__button __button_exit"></div>
                                                <div class="dynamicBrowser__button __button_minimize"></div>
                                                <div class="dynamicBrowser__button __button_screen"></div>
                                            </div>
                                        </div>
                                        <header class="dynamicBrowser__header">
                                            <ul class="dynamicBrowser__lineWrap">
                                                <li class="dynamicBrowser__line"></li>
                                                <li class="dynamicBrowser__line"></li>
                                                <li class="dynamicBrowser__line"></li>
                                                <li class="dynamicBrowser__line"></li>
                                            </ul>
                                            <div class="dynamicBrowser__title"></div>
                                            <div class="dynamicBrowser__subtitle"></div>
                                        </header>
                                        <section class="dynamicBrowser__main">
                                            <div class="landscape">
                                                <div class="landscapePicture">
                                                    <div class="landscapePicture__bg"></div>
                                                    <div class="landscapePicture__dayWrap">
                                                        <div class="landscapePicture__sun"></div>
                                                        <div class="landscapePicture__moon"></div>
                                                    </div>
                                                    <div class="landscapePicture__mountainsWrap">
                                                        <div class="landscapePicture__mountain"></div>
                                                        <div class="landscapePicture__mountain"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="dynamicBrowser__footer">
                                            <ul class="dynamicBrowser__productList">
                                                <li class="dynamicBrowser__product">
                                                    <div class="dynamicBrowser__productImg"></div>
                                                    <div class="dynamicBrowser__productLineWrap">
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                    </div>
                                                </li>
                                                <li class="dynamicBrowser__product">
                                                    <div class="dynamicBrowser__productImg"></div>
                                                    <div class="dynamicBrowser__productLineWrap">
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                    </div>
                                                </li>
                                                <li class="dynamicBrowser__product">
                                                    <div class="dynamicBrowser__productImg"></div>
                                                    <div class="dynamicBrowser__productLineWrap">
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                        <div class="dynamicBrowser__productLine"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </footer>
                                    </div>
                                    <ul class="dynamicDialog dynamicDialog_left">
                                        <li class="dynamicDialog__line"></li>
                                        <li class="dynamicDialog__line"></li>
                                        <li class="dynamicDialog__line"></li>
                                        <li class="dynamicDialog__line"></li>
                                    </ul>
                                    <ul class="dynamicDialog dynamicDialog_right">
                                        <li class="dynamicDialog__line"></li>
                                        <li class="dynamicDialog__line"></li>
                                        <li class="dynamicDialog__line"></li>
                                    </ul>
                                    <div class="dynamicDashedFrame"></div>
                                    <ul class="dynamicChart">
                                        <li class="dynamicChart__line"></li>
                                        <li class="dynamicChart__line"></li>
                                        <li class="dynamicChart__line"></li>
                                        <li class="dynamicChart__line"></li>
                                        <li class="dynamicChart__line"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-dev__group">
                            <div class="card-dev__name">Сайт на шаблонном решении</div>
                            <div class="card-dev__sign">от 5 рабочих дней</div>
                            <div class="card-dev__price">от 80 000 р</div>
                            <div class="card-dev__text">
                                <p>
                                    Быстрый старт, проект делается обычно 10 дней.
                                    В проекте участвует 5 специалистов: программист, копирайтер, seo-специалист,
                                    контент-менеджер, проект-менеджер
                                </p>
                            </div>
                            <div class="card-dev__wrap-button">
                                <a href="#" class="card-dev__button"><span>Подробнее</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="develop-main-product__item card-dev">
                        <a href="#" class="card-dev__link"></a>

                        <div class="card-dev__bg">
                            <svg class="card-dev__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev__image">
                            <div class="iconCard">
                                <div class="responsiveIcon">
                                    <div class="respImac">
                                        <div class="respImac__display">
                                            <div class="respBrowser">
                                                <div class="respBrowser__panel">
                                                    <div class="respBrowser__buttonsWrap">
                                                        <div class="respBrowser__button __button_exit"></div>
                                                        <div class="respBrowser__button __button_minimize"></div>
                                                        <div class="respBrowser__button __button_screen"></div>
                                                    </div>
                                                </div>
                                                <div class="respBrowser__page">
                                                    <div class="respBrowser__pageLayout">
                                                        <div class="respBrowser__nav"></div>
                                                        <div class="respBrowser__banner"></div>
                                                        <ul class="respBrowser__productList">
                                                            <li class="respBrowser__product">
                                                                <div class="respBrowser__productImg"></div>
                                                                <div class="respBrowser__productLineWrap">
                                                                    <div class="respBrowser__productLine"></div>
                                                                    <div class="respBrowser__productLine"></div>
                                                                </div>
                                                            </li>
                                                            <li class="respBrowser__product">
                                                                <div class="respBrowser__productImg"></div>
                                                                <div class="respBrowser__productLineWrap">
                                                                    <div class="respBrowser__productLine"></div>
                                                                    <div class="respBrowser__productLine"></div>
                                                                </div>
                                                            </li>
                                                            <li class="respBrowser__product">
                                                                <div class="respBrowser__productImg"></div>
                                                                <div class="respBrowser__productLineWrap">
                                                                    <div class="respBrowser__productLine"></div>
                                                                    <div class="respBrowser__productLine"></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="respImac__panel"></div>
                                        <div class="respImac__stand">
                                            <div class="respImac__standShadow"></div>
                                            <div class="respImac__standBase"></div>
                                        </div>
                                    </div>
                                    <div class="respIpad">
                                        <div class="respIpad__display">
                                            <div class="ipadBrowser">
                                                <div class="ipadBrowser__nav"></div>
                                                <div class="ipadBrowser__banner"></div>
                                                <ul class="ipadBrowser__productList">
                                                    <li class="ipadBrowser__product">
                                                        <div class="ipadBrowser__productImg"></div>
                                                        <div class="ipadBrowser__productLineWrap">
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                        </div>
                                                    </li>
                                                    <li class="ipadBrowser__product">
                                                        <div class="ipadBrowser__productImg"></div>
                                                        <div class="ipadBrowser__productLineWrap">
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                        </div>
                                                    </li>
                                                    <li class="ipadBrowser__product">
                                                        <div class="ipadBrowser__productImg"></div>
                                                        <div class="ipadBrowser__productLineWrap">
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                            <div class="ipadBrowser__productLine"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="respIpad__camera"></div>
                                        <div class="respIpad__button"></div>
                                    </div>
                                    <div class="respIphone">
                                        <div class="respIphone__display">
                                            <div class="iphoneBrowser">
                                                <div class="iphoneBrowser__nav"></div>
                                                <ul class="iphoneBrowser__productList">
                                                    <li class="iphoneBrowser__product">
                                                        <div class="iphoneBrowser__productImg"></div>
                                                        <div class="iphoneBrowser__productLineWrap">
                                                            <div class="iphoneBrowser__productLine"></div>
                                                            <div class="iphoneBrowser__productLine"></div>
                                                        </div>
                                                    </li>
                                                    <li class="iphoneBrowser__product">
                                                        <div class="iphoneBrowser__productImg"></div>
                                                        <div class="iphoneBrowser__productLineWrap">
                                                            <div class="iphoneBrowser__productLine"></div>
                                                            <div class="iphoneBrowser__productLine"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="respIphone__camera"></div>
                                        <div class="respIphone__button"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-dev__group">
                            <div class="card-dev__name">Сайт с уникальным дизайном</div>
                            <div class="card-dev__sign">от 30 рабочих дней</div>
                            <div class="card-dev__price">от 250 000 р</div>
                            <div class="card-dev__text">
                                <p>
                                    Продает в 2-50 раз больше, чем у конкурентов.
                                    В проекте участвует 12 специалистов: аналитик, веб-дизайнер, программист,
                                    копирайтер, маркетолог, seo-специалист, проектировщик, иллюстратор, верстальщик,
                                    контент-менеджер, креативщик, проект-менеджер
                                </p>
                            </div>
                            <div class="card-dev__wrap-button">
                                <a href="#" class="card-dev__button"><span>Подробнее</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-develop-site__product develop-all-product">
                <div class="develop-all-product__list">
                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-1.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Визитка</div>
                                    <div class="card-dev-all__sign">от 5 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 49 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Сайт, полностью готовый к поисковому продвижению</li>
                                    <li class="card-dev-all__item">Удобрная и понятная пользователю система управления
                                        сайтом
                                        (CMS) </li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Бесплатная регистрация домена в зоне ru и
                                        размещение
                                        сайта на
                                        хостинге в подарок</li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Небольшой ресурс на CMS, знакомит клиентов с компанией, имеет простой, но
                                    функциональный дизайн. Требует разработки нескольких разделов: «О компании», «Товары
                                    и услуги», «Прайс-лист». Подходит для предприятий и частных лиц, не ведущих плотной
                                    коммерческой деятельности в Интернете
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>

                    </div>

                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-2.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Лендинг</div>
                                    <div class="card-dev-all__sign">от 14 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 84 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Сайт, полностью готовый к поисковому продвижению</li>
                                    <li class="card-dev-all__item">Удобрная и понятная пользователю система управления
                                        сайтом
                                        (CMS) </li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Бесплатная регистрация домена в зоне ru и
                                        размещение
                                        сайта на
                                        хостинге в подарок</li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Одностраничный сайт, который показывает потенциальным покупателям все преимущества
                                    товара или услуги, на нем нельзя разместить несколько разных продуктов. Делается с
                                    броским дизайном и продуманным маркетинговым наполнением. Такой сайт невозможно
                                    продвинуть в SEO, трафик всегда покупной (контекстная реклама, таргетинг и т.д.)
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>


                    </div>

                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-3.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Визитка</div>
                                    <div class="card-dev-all__sign">от 5 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 49 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Базовая SEO-оптимизация</li>
                                    <li class="card-dev-all__item">Удобрная и понятная пользователю система управления
                                        сайтом (CMS)</li>
                                    <li class="card-dev-all__item">Интеграция с сервисами, чатами, возможность
                                        подключения
                                        CRM</li>
                                    <li class="card-dev-all__item">Корпоративная почта</li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Бесплатная регистрация домена в зоне ru и
                                        размещение
                                        сайта на хостинге в подарок</li>
                                    <li class="card-dev-all__item --gift"> Настройка контекстной рекламы на 100 ключей в
                                        подарок
                                    </li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Такой продукт полноценно раскрывает для посетителей всю информацию о компании - что
                                    производит, какие цели, где купить и т.д. Часто требуется наличие личного кабинета
                                    для сотрудников, клиентов, партнеров. Подходит для крупных компаний и ИП, нацеленных
                                    вести коммерческую деятельность в Интернете, используется для поиска новых партнеров
                                    и поставщиков, размещения вакансий, проведение рекламных акций, информирования и
                                    поддержки клиентов. Требует эксклюзивного дизайна (но не всегда) и ежемесячной
                                    поддержки.
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>


                    </div>

                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-4.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Сайт каталог</div>
                                    <div class="card-dev-all__sign">от 18 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 94 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Сайт, полностью готовый к поисковому продвижению</li>
                                    <li class="card-dev-all__item">Удобрная и понятная пользователю система управления
                                        сайтом (CMS)</li>
                                    <li class="card-dev-all__item">Подключение сервисов оплаты картами, кошельками и
                                        атоматического расчета стоимости доставки</li>
                                    <li class="card-dev-all__item">Интеграция с 1С, внешними сервисами, чатами,
                                        возможность подключения CRM</li>
                                    <li class="card-dev-all__item">Установка счетчиков метрики и аналитики</li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Бесплатная регистрация домена в зоне ru и
                                        размещение сайта на хостинге в подарок</li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Данный тип ресурса несет почти похожую цель как и интернет магазин, отличие
                                    заключается только в отсутвии корзины и нет маркетингового расширенного функционала.
                                    Каталог может выдержать нагрузку до 100 000 товаров, продаются по кнопке запроса
                                    цены, прайса или КП. Это можно сказать современная замена прайс-листу, цель ресурса
                                    — ознакомление с товаром, а не продажа онлайн, то есть яркие фотографии, подробные
                                    характеристики, возможные цветовые или размерные решения. Такой ресурс
                                    характеризуется легкостью, быстротой загрузки, простой и понятной навигацией
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>


                    </div>

                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-5.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Интернет-магазин</div>
                                    <div class="card-dev-all__sign">от 20 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 105 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Сайт, полностью готовый к поисковому продвижению</li>
                                    <li class="card-dev-all__item">Удобрная и понятная пользователю система управления
                                        сайтом (CMS)</li>
                                    <li class="card-dev-all__item">Подключение сервисов оплаты картами, кошельками и
                                        атоматического расчета стоимости доставки</li>
                                    <li class="card-dev-all__item">Интеграция с 1С, внешними сервисами, чатами,
                                        возможность подключения CRM</li>
                                    <li class="card-dev-all__item">Установка счетчиков метрики и аналитики</li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Бесплатная регистрация домена в зоне ru и
                                        размещение сайта на хостинге в подарок</li>
                                    <li class="card-dev-all__item --gift">Настройка контекстной рекламы на 100 ключей в
                                        подарок</li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Платформа для бизнеса, основанного на online-продажах. Требует разработки большого
                                    удобного функционала, сложной структуры каталога, нескольких обязательных разделов и
                                    корзины. Может содержать 100 - 500 000 товаров (выдерживает нагрузку). Позволяет
                                    проводить маркетинговые акции, синхронизацию с учетными системами (1C, мой склад или
                                    прайсом поставщика). Подходит для компаний занимающихся розничночной и оптовой
                                    торговлей. Есть возможность быстрой настройки автоматической синхронизации со всеми
                                    маркетплейсами (БЕРУ, Яндекс Маркет, OZON, Wildberries, Ebay, Aliexpress и т.д.).
                                    Требуется в последствии SEO продвижение, ежемесячное обслуживание и реклама.
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>


                    </div>

                    <div class="develop-all-product__item card-dev-all">
                        <a href="#" class="card-dev-all__link"></a>
                        <div class="card-dev-all__bg">
                            <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                            </svg>

                            <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                                <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                    d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                            </svg>
                        </div>

                        <div class="card-dev-all__wrap">
                            <div class="card-dev-all__group">
                                <div class="card-dev-all__icon"><img src="./img/icon-card-dev-all-6.png" alt=""></div>

                                <div class="card-dev-all__group-name">
                                    <div class="card-dev-all__name">Маркетплейс</div>
                                    <div class="card-dev-all__sign">от 30 рабочих дней</div>
                                </div>
                            </div>

                            <div class="card-dev-all__price">от 499 990 р</div>

                            <div class="card-dev-all__text --front">
                                <ul class="card-dev-all__list">
                                    <li class="card-dev-all__item">Адаптивный дизайн – сайт прекрасно выглядит на всех
                                        устройствах</li>
                                    <li class="card-dev-all__item">Сайт, полностью готовый к поисковому продвижению</li>
                                    <li class="card-dev-all__item">Специализированная CMS с личными кабинетами
                                        администратора, продавца и покупателя</li>
                                    <li class="card-dev-all__item">Подключение сервисов оплаты картами, сплитирование
                                        платежей, возможность подклечения любых сервисов доставки для каждого продавца
                                    </li>
                                    <li class="card-dev-all__item">Огромные возможности как автоматической загрузки
                                        товаров с баз, прайсов и других систем продавца, так и ручное создание</li>
                                    <li class="card-dev-all__item">Премодерация действий продавцов, умная система
                                        объединения товаров разных продавцов в 1 карточку</li>
                                    <li class="card-dev-all__item">Система разрешения споров между продавцами и
                                        покупателями</li>
                                    <li class="card-dev-all__item">Прозрачный договор</li>
                                    <li class="card-dev-all__item --gift">Регистрация домена в зоне ru и размещение
                                        сайта на хостинге в подарок</li>
                                </ul>
                            </div>

                            <div class="card-dev-all__text --back">
                                <p>
                                    Такой сайт дает возможность независимым продавцам самостоятельно выставлять товары
                                    на вашей платформе. Подходит для владельцев торговых центров, стартапов с большим
                                    бюджетом, владельцев больших складов с отработанной логистикой. Несколько способов
                                    дохода: комиссия с продажи продавцов, фиксированная ежемесячная оплата, размещение
                                    рекламы, плата за доп. функционал (можно выбрать любой из них или настроить сразу
                                    несколько). Готовые интеграции со всеми операторами логистики и эквайринга,
                                    мультивитринность и
                                    многоскладовость. Есть возможность продавцам настроить собсвенный дизайн страницы
                                    своего магазина и проводить персональные маркетинговые акции. Есть возможность
                                    интеграции готового мобильного приложения для Android и iOS.
                                </p>
                            </div>


                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <div class="section-develop-site__directions develop-directions">
                <div class="develop-directions__list">
                    <div class="develop-directions__item card-directions">
                        <div class="card-directions__row">
                            <div class="card-directions__column">
                                <div class="card-directions__name">UI/UX дизайн и айдентика</div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__group-stack card-directions-stack">
                                    <div class="card-directions-stack__name"><span>Стек</span></div>

                                    <div class="card-directions-stack__container --one">
                                        <p data-id="1" data-time="0" data-duration="1">I</p>
                                        <p data-id="2" data-time="1" data-duration="1">'m UI/UX </p>
                                        <p data-id="3" data-time="1.5" data-duration="1">Designer</p>
                                        <p data-id="4" data-time="3.3" data-duration="0.5">with</p>
                                        <p data-id="5" data-time="4.5" data-duration="1">Photoshop</p>
                                        <p data-id="6" data-time="6" data-duration="1">Figma</p>
                                        <p data-id="7" data-time="7.5" data-duration="0.7">illustrator</p>
                                        <p data-id="8" data-time="9" data-duration="1">Sketch</p>
                                        <p data-id="9" data-time="10.5" data-duration="1">Axure</p>

                                        <p data-id="10" data-time="11.5" data-duration="1">After Effects</p>
                                        <p data-id="11" data-time="12.5" data-duration="1">Pixel Perfect</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__text">
                                    <p>
                                        Генерируем идеи, создаем прототипы и тестируем их в UX‑лаборатории для
                                        определения наиболее эффективных решений с учетом трендов и Usability. Создаем
                                        уникальную дизайн‑концепцию. Дарим эмоции и наполняем эстетикой уже проверенные
                                        решения.
                                    </p>
                                </div>

                                <div class="card-directions__competencies">
                                    <div class="card-directions__competencies-name">Компетенции:</div>
                                    <div class="card-directions__competencies-list">
                                        <div class="card-directions__competencies-item">Прототипирование</div>
                                        <div class="card-directions__competencies-item">Дизайн интерфейсов </div>
                                        <div class="card-directions__competencies-item">Фирменный стиль</div>
                                        <div class="card-directions__competencies-item">Логотипы</div>
                                        <div class="card-directions__competencies-item">Полиграфия</div>
                                        <div class="card-directions__competencies-item">Брендбук</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="develop-directions__item card-directions">
                        <div class="card-directions__row">
                            <div class="card-directions__column">
                                <div class="card-directions__name">Frontend-разработка</div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__group-stack card-directions-stack">
                                    <div class="card-directions-stack__name"><span>Стек</span></div>

                                    <div class="card-directions-stack__container --two">
                                        <p data-id="1" data-time="0" data-duration="1">I</p>
                                        <p data-id="2" data-time="1" data-duration="1">'m Front-End </p>
                                        <p data-id="3" data-time="1.5" data-duration="1">Engineer</p>
                                        <p data-id="4" data-time="3.3" data-duration="0.5">with</p>
                                        <p data-id="5" data-time="4.5" data-duration="1">JavaScript</p>
                                        <p data-id="6" data-time="6" data-duration="1">TypeScript</p>
                                        <p data-id="7" data-time="7.5" data-duration="0.7">HTML + CSS</p>
                                        <p data-id="8" data-time="9" data-duration="1">Node.js</p>
                                        <p data-id="9" data-time="10.5" data-duration="1">React</p>
                                        <p data-id="10" data-time="11.5" data-duration="1">БЭМ</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__text">
                                    <p>
                                        Верстка адаптивных макетов из исходников Psd, Figma, Sketch, Zeplin, XD. Всегда
                                        выходим в зелёную зону google page speed, внимательны к деталям pixel perfect.
                                        Павильно внедряем микроразметуку, заранее проверяем на правильное индексирование
                                        контента. А так же создаем SPA‑приложения с серверным рендерингом на основе
                                        React‑фреймворков Next.js, Angular и Vue.js. Оптимизируем Webpack c пре‑ и
                                        постпроцессингом CSS и JS. Разрабатываем и используем крутую анимацию и 3d.
                                        Собсвенная база своих готовых решений.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="develop-directions__item card-directions">
                        <div class="card-directions__row">
                            <div class="card-directions__column">
                                <div class="card-directions__name">Backend-разработка</div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__group-stack card-directions-stack">
                                    <div class="card-directions-stack__name"><span>Стек</span></div>

                                    <div class="card-directions-stack__container --three">
                                        <p data-id="1" data-time="0" data-duration="1">I</p>
                                        <p data-id="2" data-time="1" data-duration="1">'m Back-End</p>
                                        <p data-id="3" data-time="1.5" data-duration="1">Engineer</p>
                                        <p data-id="4" data-time="3.3" data-duration="0.5">with</p>
                                        <p data-id="5" data-time="4.5" data-duration="1">Bitrix Framework</p>
                                        <p data-id="6" data-time="6" data-duration="1">REST API</p>
                                        <p data-id="7" data-time="7.5" data-duration="0.7">AJAX</p>
                                        <p data-id="8" data-time="9" data-duration="1">PHP</p>
                                        <p data-id="9" data-time="10.5" data-duration="1">SQL</p>
                                        <p data-id="10" data-time="11.5" data-duration="1">JSON</p>
                                        <p data-id="11" data-time="12.5" data-duration="1">Git</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__text">
                                    <p>
                                        Пишем чистый код по стандартам PHPDoc для легкой поддержки и развития проекта, в
                                        дальнейшем любой программист поймет наш код. Выполняем архитектурную
                                        backend‑разработку на современных и безопасных технологиях и фреймворках,
                                        производим рефакторинг кода. Умеем решать проблемы быстродействия
                                        (профилирование, рефакторинг, кэширование) и не создавать их. Храним все
                                        изменния в git. Внимание к безопасности, знание модели угроз и способы их
                                        предотвращение.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="develop-directions__item card-directions">
                        <div class="card-directions__row">
                            <div class="card-directions__column">
                                <div class="card-directions__name">Интеграции</div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__group-stack card-directions-stack">
                                    <div class="card-directions-stack__name"><span>Стек</span></div>

                                    <div class="card-directions-stack__container --four">
                                        <p data-id="1" data-time="0" data-duration="1">I</p>
                                        <p data-id="2" data-time="1" data-duration="1">'m Web </p>
                                        <p data-id="3" data-time="1.5" data-duration="1">Integrator</p>
                                        <p data-id="4" data-time="3.3" data-duration="0.5">with</p>
                                        <p data-id="5" data-time="4.5" data-duration="1">RESTfull API</p>
                                        <p data-id="6" data-time="6" data-duration="1">ERP</p>
                                        <p data-id="7" data-time="7.5" data-duration="0.7">SOAP</p>
                                        <p data-id="8" data-time="9" data-duration="1">XML</p>
                                        <p data-id="9" data-time="10.5" data-duration="1">JSON-RPC</p>
                                        <p data-id="10" data-time="11.5" data-duration="1">SMPT</p>
                                        <p data-id="11" data-time="12.5" data-duration="1">1C</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__text">
                                    <p>
                                        Реализуем сложные интеграции с внешними сервисами (публичными и приватными) -
                                        квайринговые системы, службы доставки, маркетплейсы, корпоративные CRM и ERP,
                                        бухгалтерские программы, агрегаторы, личные кабинеты. Двусторонний обмен
                                        информацией по различным протоколам — HTTP, MQTT или SMTP и технологиям —
                                        RESTful API, SOAP, XML.
                                    </p>
                                </div>

                                <div class="card-directions__competencies">
                                    <div class="card-directions__competencies-name">Компетенции:</div>
                                    <div class="card-directions__competencies-list">
                                        <div class="card-directions__competencies-item">Битрикс24</div>
                                        <div class="card-directions__competencies-item">amoCRM</div>
                                        <div class="card-directions__competencies-item">1С Предприятие</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="develop-directions__item card-directions">
                        <div class="card-directions__row">
                            <div class="card-directions__column">
                                <div class="card-directions__name">QA-исследования</div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__group-stack card-directions-stack">
                                    <div class="card-directions-stack__name"><span>Стек</span></div>

                                    <div class="card-directions-stack__container --five">
                                        <p data-id="1" data-time="0" data-duration="1">I</p>
                                        <p data-id="2" data-time="1" data-duration="1">'m QA </p>
                                        <p data-id="3" data-time="1.5" data-duration="1">Research</p>
                                        <p data-id="4" data-time="3.3" data-duration="0.5">with</p>
                                        <p data-id="5" data-time="4.5" data-duration="1">W3C Validator</p>
                                        <p data-id="6" data-time="6" data-duration="1">DDOS</p>
                                        <p data-id="7" data-time="7.5" data-duration="0.7">Refactoring</p>
                                        <p data-id="8" data-time="9" data-duration="1">Postman</p>
                                        <p data-id="9" data-time="10.5" data-duration="1">PHPInspections</p>
                                        <p data-id="10" data-time="11.5" data-duration="1">Docker</p>
                                        <p data-id="11" data-time="12.5" data-duration="1">Testing Library</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-directions__column">
                                <div class="card-directions__text">
                                    <p>
                                        Экспертиза из первых рук - с нами работают специалисты, которые обучают всех
                                        тестировщиков СНГ. Контролируем качество продуктов на всех стадиях разработки и
                                        внедрения. Покрываем код тестами и комментариями, проводим нагрузочное,
                                        функциональное и приемочное тестирование. Используем как ручной, так и
                                        автоматизированный подход. Примененяем специализированные сервисы.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>