.section-unique-service__wrap {
  border-top: 1px solid #e9ebf7;
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.85fr;
      grid-template-columns: 1fr 0.85fr;
  grid-gap: 80px;
}

.section-unique-service__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.section-unique-service__item img {
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 115px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-unique-service__group {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-unique-service__group::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 75%;
  left: 47%;
  width: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #e9ebf7;
}

.section-unique-service__decor-text {
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.section-unique-service__decor-text-green {
  color: #43bea2;
}

.section-unique-service__decor-text-bg {
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
  padding: 4px;
  color: #fff;
  background: #43bea2;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .section-unique-service__wrap {
    grid-gap: 40px;
  }
  .section-unique-service__group {
    grid-gap: 40px;
  }
}

@media (max-width: 1170px) {
  .section-unique-service__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-unique-service__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-unique-service__group {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-unique-service__list {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    text-align: center;
  }
  .section-unique-service__group {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .section-unique-service__group::before {
    content: none;
  }
}
