<section class="portfolio-color js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-color__wrap">
            <div class="portfolio-color__row">
                <div class="portfolio-color__column">
                    <div class="portfolio-color__numbers numbers-portfolio" data-letter="6">6</div>
                </div>

                <div class="portfolio-color__column">
                    <div class="portfolio-color__title main-title">ТИПОГРАФИКА И ЦВЕТОВАЯ ПАЛИТРА</div>
                    <div class="portfolio-color__group">
                        <div class="portfolio-color__image">
                            <img src="./img/image-fornt-portfolio-item.png" alt="">
                        </div>

                        <div class="portfolio-color__list-color">
                            <div class="portfolio-color__item">
                                <span class="portfolio-color__item-value" style="color:#FFFFFF">46B062</span>

                                <svg xmlns="http://www.w3.org/2000/svg" width="252" height="129" viewBox="0 0 252 129"
                                    fill="none">
                                    <path
                                        d="M193.025 119.526C175.667 124.293 121.194 132.035 74.6442 126.099C51.3621 123.13 30.1506 116.749 16.5406 104.944C9.74524 99.0501 4.84672 91.8058 2.52194 82.9494C0.198041 74.0963 0.436711 63.5964 3.97267 51.1745C10.9144 34.7225 21.1667 23.8553 34.7826 18.7664C48.4204 13.6693 65.5176 14.3367 86.1966 21.1407C125.878 34.1963 169.989 23.0716 193.448 6.20179C204.917 -2.04559 218.346 -0.718696 229.317 6.25139C240.297 13.2279 248.756 25.8313 250.198 40.0089C251.648 54.2559 249.113 70.9078 240.345 85.6057C231.582 100.293 216.577 113.059 193.025 119.526Z"
                                        fill="#46B062" stroke="#AAAAAA" />
                                </svg>
                            </div>

                            <div class="portfolio-color__item">
                                <span class="portfolio-color__item-value" style="color:#FFFFFF">94DF6D</span>

                                <svg xmlns="http://www.w3.org/2000/svg" width="252" height="129" viewBox="0 0 252 129"
                                    fill="none">
                                    <path
                                        d="M193.025 119.526C175.667 124.293 121.194 132.035 74.6442 126.099C51.3621 123.13 30.1506 116.749 16.5406 104.944C9.74524 99.0501 4.84672 91.8058 2.52194 82.9494C0.198041 74.0963 0.436711 63.5964 3.97267 51.1745C10.9144 34.7225 21.1667 23.8553 34.7826 18.7664C48.4204 13.6693 65.5176 14.3367 86.1966 21.1407C125.878 34.1963 169.989 23.0716 193.448 6.20179C204.917 -2.04559 218.346 -0.718696 229.317 6.25139C240.297 13.2279 248.756 25.8313 250.198 40.0089C251.648 54.2559 249.113 70.9078 240.345 85.6057C231.582 100.293 216.577 113.059 193.025 119.526Z"
                                        fill="#94DF6D" stroke="#AAAAAA" />
                                </svg>
                            </div>

                            <div class="portfolio-color__item">
                                <span class="portfolio-color__item-value" style="color:#AAAAAA">FFFFFF</span>

                                <svg xmlns="http://www.w3.org/2000/svg" width="252" height="129" viewBox="0 0 252 129"
                                    fill="none">
                                    <path
                                        d="M193.025 119.526C175.667 124.293 121.194 132.035 74.6442 126.099C51.3621 123.13 30.1506 116.749 16.5406 104.944C9.74524 99.0501 4.84672 91.8058 2.52194 82.9494C0.198041 74.0963 0.436711 63.5964 3.97267 51.1745C10.9144 34.7225 21.1667 23.8553 34.7826 18.7664C48.4204 13.6693 65.5176 14.3367 86.1966 21.1407C125.878 34.1963 169.989 23.0716 193.448 6.20179C204.917 -2.04559 218.346 -0.718696 229.317 6.25139C240.297 13.2279 248.756 25.8313 250.198 40.0089C251.648 54.2559 249.113 70.9078 240.345 85.6057C231.582 100.293 216.577 113.059 193.025 119.526Z"
                                        fill="#FFFFFF" stroke="#AAAAAA" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>