<section>
    <div class="wrapper">
        <div class="form-container">
            <div class="main-title">Обсудим ваш проект</div>
            <div class="form-wrapper">
                <form class="contact-form">
                    <div class="contact-form__item">
                        <ul class="contact-form__list">
                            <li class="contact-form__list-item">
                                <div class="contact-form__list-input">
                                    <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="firstname" class="placeholder">Имя</label>
                                </div>
                            </li>
                            <li class="contact-form__list-item">
                                <div class="contact-form__list-input">
                                    <input id="firstname" class="input js-placeholder" type="tel" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="firstname" class="placeholder">Телефон</label>
                                </div>
                            </li>
                            <li class="contact-form__list-item">
                                <div class="contact-form__list-input">
                                    <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="firstname" class="placeholder">URL адрес сайта</label>
                                </div>
                            </li>
                        </ul>
                        <div class="application">
                            <div class="application__title">
                                По какому вопросу?
                            </div>
                            <div class="application__item">
                                <input class="radio" id="a" type="radio" name="hopping" value="a" checked>
                                <label class="radio-label" for="a"><span></span>Создание сайта</label>
                                <input class="radio" id="b" type="radio" name="hopping" value="b">
                                <label class="radio-label" for="b"><span></span>SEO продвижение</label>
                                <input class="radio" id="c" type="radio" name="hopping" value="c">
                                <label class="radio-label" for="c"><span></span>Реклама в интернете</label>
                                <input class="radio" id="d" type="radio" name="hopping" value="d">
                                <label class="radio-label" for="d"><span></span>Техническая поддержка</label>
                                <input class="radio" id="e" type="radio" name="hopping" value="e">
                                <label class="radio-label" for="e"><span></span>Комплекс работ</label>
                                <div class="worm">
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                    <div class="worm__segment"></div>
                                </div>
                            </div>
                            <div class="application__item">
                                <div class="checklist">
                                    <input id="01" class="check" type="checkbox" name="r" value="1" checked>
                                    <label class="check-label" for="01">Обсудить SMM</label>
                                    <input id="02" class="check" type="checkbox" name="r" value="2">
                                    <label class="check-label" for="02">Работа с репутацией</label>
                                    <input id="03" class="check" type="checkbox" name="r" value="3">
                                    <label class="check-label" for="03">Аналитика</label>
                                </div>
                                <label class="input-box">
                                    <input type="file" name="file">
                                    <span class="input-box__button">Прикрепите файл</span>
                                    <!-- <input type="text" name="up_file" placeholder="Прикрепите файл" disabled=""> -->
                                    <span class="input-box__text">Можно прикреплять файлы pdf, docx, xlsx, rar, zip до
                                        25 Мб</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form__item">
                        <div class="contact-form__list-textarea">
                            <textarea class="textarea js-placeholder" placeholder=""></textarea>
                            <div class="cut"></div>
                            <span class="placeholder">Комментарий</span>
                        </div>
                        <div class="privacy">
                            Заполняя данную форму вы соглашаетесь на обработку персональных данных ООО "WESMA"
                            в соответствии с законом №152-ФЗ "О персональных данных" <a href="#">политика
                                конфиденциальности.</a>
                        </div>
                        <div class="contact-form__btn">
                            <span class="bubble-container">
                                <span class="button button-bubble">
                                    Оставить заявку
                                </span>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button"></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>