.logo-partners {
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	display: grid;
	grid-template-columns: repeat(7, auto);
	justify-content: space-between;
	align-items: center;
	grid-gap: 20px;

	&__item {
		text-align: center;
	}
}

.random-phrase-container {
	margin-top: 70px;
	font-family: "Exo20-Bold";
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 100%;
	color: #000;

	& .random-phrase {
		color: #43bea2;
	}
}

@media (max-width: 1300px) {
	.random-phrase-container {
		@include adaptiv-font(36, 18);
	}
}

@media (max-width: 1170px) {
	.logo-partners {
		grid-template-columns: repeat(4, auto);
	}

	.random-phrase-container {
		min-height: 60px;
	}
}

@media (max-width: 768px) {
	.random-phrase-container {
		margin-top: 30px;
	}

	.logo-partners {
		grid-template-columns: repeat(3, auto);
	}
}

@media (max-width: 500px) {
	.logo-partners {
		grid-template-columns: repeat(2, auto);
	}
}

/* random phrases animation */
.random-phrase-container {
	position: relative;
	display: flex;
}

.random-phrase-container__text {
	flex-shrink: 0;
}

.random-phrase-container__animation {
	flex-grow: 1;
	margin-left: 10px;
	flex-shrink: 0;
	filter: url(#threshold);
}

/* Your average text styling */
.random-phrase__text1,
.random-phrase__text2 {
	position: absolute;
	display: inline-block;
	color: #43bea2;

	user-select: none;
}

.random-phrase-container svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
}

@media (min-width: 1170px) and (max-width: 1400px) {
	.random-phrase-container {
		font-size: 30px;
	}
}

@media (max-width: 1170px) {
	.random-phrase-container {
		flex-direction: column;
		align-items: center;
	}

	.random-phrase-container__animation {
		width: 100%;
		margin-left: 0;
	}

	.random-phrase-container__text {
		margin-bottom: 10px;
	}

	.random-phrase__text1,
	.random-phrase__text2 {
		text-align: center;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
	}
}
