<section class="section-unique-service">
    <div class="wrapper">
        <div class="section-unique-service__wrap">
            <div class="section-unique-service__list">
                <div class="section-unique-service__item"><img src="./img/yandex_agency.png" alt=""></div>
                <div class="section-unique-service__item"><img src="./img/facebook_marketing_partner.jpg" alt=""></div>
                <div class="section-unique-service__item"><img src="./img/target_partner.png" alt=""></div>
                <div class="section-unique-service__item"><img src="./img/goole-part.png" alt=""></div>
            </div>

            <div class="section-unique-service__group">
                <div class="section-unique-service__decor-text">
                    <span class="section-unique-service__decor-text-green">Реклама работает всегда</span><br> <span
                        class="section-unique-service__decor-text-bg">ВАЖНО</span> кто ее настраивает
                </div>
                <div class="section-unique-service__text">Никаких пакетных решений, каждый бизнес уникален</div>
            </div>

        </div>
    </div>
</section>