<div class="marketplace-automation">
    <div class="marketplace-automation__wrap">
        <div class="wrapper">
            <div class="marketplace-automation__title main-title">Готовое решение по хабу автоматизации выгрузки товаров
            </div>

            <div class="marketplace-automation__row">
                <div class="marketplace-automation__column">
                    <div class="marketplace-automation__img">
                        <img src="./img/marketplace/paralax/image-circle.png" alt="">

                        <div class="marketplace-automation__img-group">
                            <img class="marketplace-automation__img-paralax" data-depth="0.1"
                                src="./img/marketplace/paralax/image-1.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.3"
                                src="./img/marketplace/paralax/image-2.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.2"
                                src="./img/marketplace/paralax/image-3.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.5"
                                src="./img/marketplace/paralax/image-4.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.4"
                                src="./img/marketplace/paralax/image-5.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.1"
                                src="./img/marketplace/paralax/image-6.png" alt="">
                            <img class="marketplace-automation__img-paralax" data-depth="0.2"
                                src="./img/marketplace/paralax/image-7.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="marketplace-automation__column">
                    <div class="marketplace-automation__text">
                        <h5>Описание технологии</h5>

                        <p>
                            Чтобы не попасть под штрафы и баны от маркетплейсов - нужно передавать всегда правильные
                            остатки, габариты и цены. Для этого:
                        </p>

                        <p>
                            Мы разворачиваем отдельный сайт, с готовыми модулями автоматической интеграции со всеми
                            маркетплейсами по API, автоматизируем передачу на него ваших товаров, настраиваем
                            автообновление (например раз в 5-30 мин.).
                        </p>

                        <p>
                            Сайт без внешней оболочки, поэтому закрываем от индексации (в дальнейшем можно будет
                            преобразовать его в ваш отдельный интернет-магазин).
                        </p>

                        <h5>
                            Условия
                        </h5>

                        <p>Для создания хаба нужно:</p>

                        <ul>
                            <li>источник данных - это 1с база, ваша или поставщика или фид вашего интернет-магазина или
                                фид поставщика;</li>
                            <li>актуальные габариты упаковки, вес, остатки и цены в этом источнике.</li>
                        </ul>
                    </div>
                </div>

                <div class="marketplace-automation__column">
                    <div class="marketplace-automation__group">
                        <div class="marketplace-automation__price-name">Стоимость</div>

                        <div class="marketplace-automation__price">от 50 000 руб</div>
                    </div>

                    <div class="marketplace-automation__tip tip-item">
                        Оплата единоразовая и зависит от того как будет нами наполняться хаб, какие интеграции нужно
                        будет делать
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>