<div class="btn-play-music"
    data-src-music="https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3">
    <div class="btn-play-music__group">
        <div class="btn-play-music__text-wrap">
            <div class="btn-play-music__text">
                Позвольте включить музыкальное сопровождение кейса
            </div>
        </div>
        <div class="btn-play-music__icon">
            <span>
                <span class="s1"></span>
                <span class="s2"></span>
                <span class="s3"></span>
            </span>
        </div>
    </div>

    <div class="btn-play-music__volume">
    </div>
</div>