<section class="description --not-bg">
    <div class="wrapper">
        <div class="description__wrap">
            <div class="description__text">
                <p>
                    Если вы хотите, чтобы бизнес быстро начал приносить прибыль, то компания WESMA знает, как вам
                    помочь. Предлагаемые вами товары или услуги - простые и понятные для потребителя? Самым лучшим
                    инструментом для их продвижения станет контекстная реклама.
                </p>

                <p>
                    Для того, чтобы мы могли запустить ведение контекстной рекламы, вы должны нам немного помочь -
                    рассказать о реализуемом продукте:
                </p>

                <h4>Что дает Яндекс.Директ</h4>

                <ul>
                    <li>
                        <lord-icon class="card-examples-works__dot-icon" target="li" trigger="morph"
                            src="img/lord-icon-list-dot.json">
                        </lord-icon>
                        Предоставить ваш сайт (если он есть).
                    </li>

                    <li>
                        <lord-icon class="card-examples-works__dot-icon" target="li" trigger="morph"
                            src="img/lord-icon-list-dot.json">
                        </lord-icon>
                        Согласовать рекламные площадки.
                    </li>

                    <li>
                        <lord-icon class="card-examples-works__dot-icon" target="li" trigger="morph"
                            src="img/lord-icon-list-dot.json">
                        </lord-icon>
                        Уточнить регион продвижения.
                    </li>

                    <li>
                        <lord-icon class="card-examples-works__dot-icon" target="li" trigger="morph"
                            src="img/lord-icon-list-dot.json">
                        </lord-icon>
                        Рассказать о товаре или услуге, который вы продвигаете.
                    </li>

                    <li>
                        <lord-icon class="card-examples-works__dot-icon" target="li" trigger="morph"
                            src="img/lord-icon-list-dot.json">
                        </lord-icon>
                        Оговорить бюджет.
                    </li>
                </ul>

                <p>
                    После этого мы решим вопросы о количестве лидов, их стоимости и приоритетности товаров. Оценим
                    качество лидов, распределим их по значимости.
                </p>

                <p>
                    Часто к нам приходят клиенты, которые уже вели рекламную кампанию у других фирм. И, в этом случае,
                    мы анализируем, что не устроило клиентов, почему кампания не принесла прибыли. При ведении
                    контекстной рекламы мы стараемся исключить не устраивающие вас моменты, «подтянуть» слабые позиции
                    товаров или услуг на должный уровень.
                </p>

            </div>
        </div>
    </div>
</section>