.description {
	margin: 100px 0 20px 0;
	position: relative;
	background: #e9ebf7;
	&.--not-bg {
		margin: 0px 0 20px 0;
		background: none;
	}
	&__wrap {
		position: relative;
		padding: 40px 0 80px 0;
		z-index: 3;
	}

	&__text {
		& a {
			font-size: 14px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #333333;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}

		& p {
			font-family: $EFont;
			font-size: 14px;
			line-height: 180%;
			letter-spacing: 0.02em;
			color: #333333;
			margin-bottom: 30px;
		}

		& ul {
			margin-bottom: 30px;
			& li {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #333333;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		& ol {
			margin-bottom: 30px;
			& li {
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #333333;
				list-style-position: inside;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		& *:last-child {
			margin-bottom: 0;
		}
	}

	& .bubbles {
		background: #e9ebf7;
		--bubble-background: #e9ebf7;
	}
}

@media (max-width: 1170px) {
	.description {
		&__wrap {
			padding: 20px 0;
		}
	}
}
