<section class="section-order-vacancy">
    <div class="wrapper">
        <div class="section-order-vacancy__wrap">
            <div class="section-order-vacancy__title main-title">ХОТИТЕ РАБОТАТЬ У НАС?</div>

            <div class="section-order-vacancy__row">
                <div class="section-order-vacancy__column">
                    <div class="section-order-vacancy__image">


                        <div class="scene">
                            <div class="cloud cloud--one">
                                <div class="cloud__shift">
                                    <div class="cloud__body">
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud cloud--two">
                                <div class="cloud__shift">
                                    <div class="cloud__body">
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud cloud--three">
                                <div class="cloud__shift">
                                    <div class="cloud__body">
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cuboid cuboid--cloud">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plane__floater">
                                <div class="plane__looper">
                                    <div class="plane">
                                        <div class="plane__wheels">
                                            <div class="plane__axle">
                                                <div class="cuboid cuboid--axle">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="plane__wheel plane__wheel--left">
                                                <div class="cuboid cuboid--wheel-left">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="plane__wheel plane__wheel--right">
                                                <div class="cuboid cuboid--wheel-right">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="plane__body">
                                            <div class="cuboid cuboid--body">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__nose">
                                            <div class="cuboid cuboid--nose">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__propellor">
                                            <div class="propellor"></div>
                                        </div>
                                        <div class="plane__screen">
                                            <div class="cuboid cuboid--screen">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__wings wings">
                                            <div class="wings__top">
                                                <div class="cuboid cuboid--wings-top">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="wings__ghost">
                                                <div class="cuboid cuboid--wings-ghost">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="wings__bottom">
                                                <div class="cuboid cuboid--wings-bottom">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="wings__strobe wings__strobe--left">
                                                <div class="cuboid cuboid--strobe">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                            <div class="wings__strobe wings__strobe--right">
                                                <div class="cuboid cuboid--strobe">
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                    <div class="cuboid__side"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="plane__tail">
                                            <div class="cuboid cuboid--tail">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__stabilizer plane__stabilizer--horizontal">
                                            <div class="cuboid cuboid--horizontal-stabilizer">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__stabilizer plane__stabilizer--vertical">
                                            <div class="cuboid cuboid--vertical-stabilizer">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                        <div class="plane__beacon">
                                            <div class="cuboid cuboid--beacon">
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                                <div class="cuboid__side"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="section-order-vacancy__text">
                        Если вы молоды, креативны и стремитесь получить большой опыт в<br> веб-технологиях -
                        присоединяйтесь
                        к нашей команде! Не забудьте<br> прикрепить резюме для более детального изучения ваших
                        текущих<br>
                        навыков.
                    </div>
                </div>

                <div class="section-order-vacancy__column">
                    <form action="#" class="section-order-vacancy__form form-order-vacancy">
                        <div class="form-order-vacancy__list-input">
                            <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
                            <div class="cut"></div>
                            <label for="firstname" class="placeholder">Имя</label>
                        </div>

                        <div class="form-order-vacancy__list-input">
                            <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
                            <div class="cut"></div>
                            <label for="firstname" class="placeholder">Телефон</label>
                        </div>

                        <div class="form-order-vacancy__list-input">
                            <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
                            <div class="cut"></div>
                            <label for="firstname" class="placeholder">Email</label>
                        </div>

                        <div class="form-order-vacancy__list-input">
                            <textarea class="textarea js-placeholder" placeholder=""></textarea>
                            <div class="cut"></div>
                            <span class="placeholder">Что нам стоит знать</span>
                        </div>

                        <label class="form-order-vacancy__file input-box">
                            <input type="file" name="file">
                            <span class="input-box__button">Прикрепите файл</span>
                            <span class="input-box__text">Можно прикреплять файлы pdf, docx, xlsx, rar, zip до
                                25 Мб</span>
                        </label>

                        <div class="form-order-vacancy__privacy privacy">
                            Заполняя данную форму вы соглашаетесь на обработку персональных данных ООО "WESMA"
                            в соответствии с законом №152-ФЗ "О персональных данных" <a href="#">политика
                                конфиденциальности.</a>
                        </div>
                        <div class="form-order-vacancy__btutton-wrap">
                            <div class="form-order-vacancy__btutton btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>