<section class="section-order-vacancy">
  <div class="wrapper">
    <div class="section-order-vacancy__wrap">
      <div class="section-order-vacancy__title main-title">ХОТИТЕ РАБОТАТЬ У НАС?</div>

      <div class="section-order-vacancy__row">
        <div class="section-order-vacancy__column">
          <div class="section-order-vacancy__image">
            <!-- The two texts -->
            <div class="section-order-vacancy__container" id="container">
              <span class="section-order-vacancy__text1" id="text1"></span>
              <span class="section-order-vacancy__text2"></span>
            </div>

            <!-- The SVG filter used to create the merging effect -->
            <svg id="filters">
              <defs>
                <filter id="threshold">
                  <!-- Basically just a threshold effect - pixels with a high enough opacity are set to full opacity, and all other pixels are set to completely transparent. -->
                  <feColorMatrix
                    in="SourceGraphic"
                    type="matrix"
                    values="1 0 0 0 0
									0 1 0 0 0
									0 0 1 0 0
									0 0 0 255 -140"
                  />
                </filter>
              </defs>
            </svg>
          </div>
          <div class="section-order-vacancy__text">
            Если вы молоды, креативны и стремитесь получить большой опыт в<br />
            веб-технологиях - присоединяйтесь к нашей команде! Не забудьте<br />
            прикрепить резюме для более детального изучения ваших текущих<br />
            навыков.
          </div>
        </div>

        <div class="section-order-vacancy__column">
          <form action="#" class="section-order-vacancy__form form-order-vacancy">
            <div class="form-order-vacancy__list-input">
              <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="firstname" class="placeholder">Имя</label>
            </div>

            <div class="form-order-vacancy__list-input">
              <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="firstname" class="placeholder">Телефон</label>
            </div>

            <div class="form-order-vacancy__list-input">
              <input id="firstname" class="input js-placeholder" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="firstname" class="placeholder">Email</label>
            </div>

            <div class="form-order-vacancy__list-input">
              <textarea class="textarea js-placeholder" placeholder=""></textarea>
              <div class="cut"></div>
              <span class="placeholder">Что нам стоит знать</span>
            </div>

            <label class="form-order-vacancy__file input-box">
              <input type="file" name="file" />
              <span class="input-box__button">Прикрепите файл</span>
              <span class="input-box__text">Можно прикреплять файлы pdf, docx, xlsx, rar, zip до 25 Мб</span>
            </label>

            <div class="form-order-vacancy__privacy privacy">
              Заполняя данную форму вы соглашаетесь на обработку персональных данных ООО "WESMA" в соответствии с законом №152-ФЗ "О персональных данных" <a href="#">политика конфиденциальности.</a>
            </div>
            <div class="form-order-vacancy__btutton-wrap">
              <div class="form-order-vacancy__btutton btn-magic-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                  <defs>
                    <filter id="goo">
                      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                      <feComposite in="SourceGraphic" in2="goo" />
                    </filter>
                  </defs>
                </svg>
                <span class="bubble-container">
                  <a href="#" class="button button-bubble"> Оставить заявку </a>
                  <span class="button-bubble__effect-container">
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>

                    <span class="button effect-button"></span>

                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                  </span>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
