<section class="adverst-company">
    <div class="wrapper">
        <div class="adverst-company__wrap">
            <div class="adverst-company__title">Ведение рекламных компаний:</div>

            <div class="adverst-company__lsit">
                <div class="adverst-company__item card-adverst-company">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">До 500 фраз</div>

                        <div class="card-adverst-company__text">
                            <p>Яндекс.Директ — 10% от месячного платежа, но не менее 7 000 рублей в месяц. Включено 5
                                часов
                                работы специалистов отдела контекстной рекламы.</p>
                            <p>Google Adwords — 15% от месячного платежа, но не менее 9 000 рублей в месяц. Включено 7
                                часов
                                работы специалистов отдела контекстной рекламы.</p>
                        </div>
                    </div>
                </div>

                <div class="adverst-company__item card-adverst-company">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">500 – 1000 фраз</div>

                        <div class="card-adverst-company__text">
                            <p>Яндекс.Директ — 10% от месячного платежа, но не менее 10 000 рублей в месяц. Включено 7
                                часов
                                работы специалистов отдела контекстной рекламы.</p>
                            <p>Google Adwords — 15% от месячного платежа, но не менее 13 000 рублей в месяц. Включено 9
                                часов работы специалистов отдела контекстной рекламы.</p>
                        </div>
                    </div>
                </div>

                <div class="adverst-company__item card-adverst-company">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">От 1 000 до 3 000 фраз</div>

                        <div class="card-adverst-company__text">
                            <p>Яндекс.Директ — 10% от месячного платежа, но не менее 18 000 рублей в месяц. Включено 9
                                часов
                                работы специалистов отдела контекстной рекламы.</p>
                            <p>Google Adwords — 15% от месячного платежа, но не менее 22 000 рублей в месяц. Включено 12
                                часов работы специалистов отдела контекстной рекламы.</p>
                        </div>
                    </div>
                </div>

                <div class="adverst-company__item card-adverst-company">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">От 3 000 до 5 000 фраз</div>

                        <div class="card-adverst-company__text">
                            <p>Яндекс.Директ — 10% от месячного платежа, но не менее 24 000 рублей в месяц. Включено 12
                                часов работы специалистов отдела контекстной рекламы.</p>
                            <p>Google Adwords — 15% от месячного платежа, но не менее 28 000 рублей в месяц. Включено 15
                                часов работы специалистов отдела контекстной рекламы.</p>
                        </div>
                    </div>
                </div>

                <div class="adverst-company__item card-adverst-company">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">Более 5 000 фраз</div>

                        <div class="card-adverst-company__text">
                            <p>Яндекс.Директ — 10% от месячного платежа, но не менее 30 000 рублей в месяц. Включено 15
                                часов работы специалистов отдела контекстной рекламы.</p>
                            <p>Google Adwords — 15% от месячного платежа, но не менее 35 000 рублей в месяц. Включено 18
                                часов работы специалистов отдела контекстной рекламы.</p>
                        </div>
                    </div>
                </div>

                <div class="adverst-company__item card-adverst-company --service">
                    <div class="card-adverst-company__wrap">
                        <div class="card-adverst-company__name">Дополнительная информация</div>

                        <div class="card-adverst-company__text">
                            <p>Стоимость одного дополнительно часа работы сотрудников отдела контекстной рекламы 1 200
                                рублей.</p>

                            <p class="--gray">* Важно: при превышении количества фраз в рекламной кампании тарифный план
                                автоматически
                                повышается.</p>

                            <p class="--gray">** Предоставляется полный доступ к рекламным кампаниям.</p>

                            <p class="--gray">*** В случае, если вы хотите получить полное управление над рекламными
                                кампаниями, то в этом
                                случае, мы создаем Вам аккаунт и переносим все рекламные кампании на уже Ваш аккаунт, в
                                этом
                                случае, стоимость согласно Создание РК Яндекс ИЛИ Создание РК Google</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>