<section class="office">


    <div class="office__wrap lightgallery">
        <div class="wrapper">
            <div class="office__title main-title">Наши офисы</div>
        </div>

        <div class="office__group">

            <div class="splide office__gallery office-gallery">
                <div class="splide__track office-gallery__tack">
                    <ul class="splide__list office-gallery__list">
                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/1202120211.JPG">
                                <img src="./img/office/1202120211.JPG" alt=""
                                    data-splide-lazy="./img/office/1202120211.JPG" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/2202120212.JPG">
                                <img src="./img/office/2202120212.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/3202120213.JPG">
                                <img src="./img/office/3202120213.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/4202120214.JPG">
                                <img src="./img/office/4202120214.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/5202120215.JPG">
                                <img src="./img/office/5202120215.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/6202120216.JPG">
                                <img src="./img/office/6202120216.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/7202120217.JPG">
                                <img src="./img/office/7202120217.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/112021202111.JPG">
                                <img src="./img/office/112021202111.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="splide office__gallery office-gallery --revers">
                <div class="splide__track office-gallery__tack">
                    <ul class="splide__list office-gallery__list">
                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/1202120211.JPG">
                                <img src="./img/office/1202120211.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/2202120212.JPG">
                                <img src="./img/office/2202120212.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/3202120213.JPG">
                                <img src="./img/office/3202120213.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/4202120214.JPG">
                                <img src="./img/office/4202120214.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/5202120215.JPG">
                                <img src="./img/office/5202120215.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/6202120216.JPG">
                                <img src="./img/office/6202120216.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/7202120217.JPG">
                                <img src="./img/office/7202120217.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>

                        <li class="splide__slide office-gallery__slide">
                            <a href="./img/office/112021202111.JPG">
                                <img src="./img/office/112021202111.JPG" data-splide-lazy="./img/office/1202120211.JPG"
                                    alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


</section>