<section class="portfolio-site">
    <div class="wrapper">

        <div class="portfolio-site__wrap">

            <div class="portfolio-site__title main-title">Компания «ПРОМЕТР»</div>

            <div class="portfolio-site__subtitle">Короткий текст о клиенте и его направлении</div>

            <div class="portfolio-site__list">
                <div class="portfolio-site__item">
                    <div class="portfolio-site__name">Сайт: </div>
                    <div class="portfolio-site__text"><a href="#">prometr-mos.ru</a></div>
                </div>

                <div class="portfolio-site__item">
                    <div class="portfolio-site__name">Дата сдачи проекта:</div>
                    <div class="portfolio-site__text"><span>20. 08. 2020</span></div>
                </div>

                <div class="portfolio-site__item">
                    <div class="portfolio-site__name">Время реализации:</div>
                    <div class="portfolio-site__text"><span>45 дней</span></div>
                </div>
            </div>

            <div class="portfolio-site__arrow">
                <a href="#" class="portfolio-site__prev"><span>Предыдущий проект</span></a>
                <a href="#" class="portfolio-site__next"><span>Следующий проект</span></a>
            </div>

            <div class="portfolio-site__back"><a href="#">Вернуться в портфолио</a></div>

            <div class="portfolio-site__share block-share">
                <div class="block-share__text">Поделиться:</div>

                <div class="block-share__social">
                    <div class="ya-share2" data-curtain data-size="l" data-shape="round" data-color-scheme="whiteblack"
                        data-services="vkontakte,facebook,twitter,pinterest,linkedin"></div>
                </div>
            </div>

        </div>

    </div>
</section>