<div class="marketplace-conferences">
    <div class="marketplace-conferences__wrap">
        <div class="wrapper">
            <div class="marketplace-conferences__title title-h5">Мы участвуем в локальных и международных конференциях
                по маркетплейсам и e-commerce, вовремя видим все тренды и используем их в работе</div>

            <div class="marketplace-conferences__list">
                <div class="marketplace-conferences__item">
                    <img src="./img/marketplace/logo-conferences-1.png" alt="">
                </div>

                <div class="marketplace-conferences__item">
                    <img src="./img/marketplace/logo-conferences-2.png" alt="">
                </div>

                <div class="marketplace-conferences__item">
                    <img src="./img/marketplace/logo-conferences-3.png" alt="">
                </div>

                <div class="marketplace-conferences__item">
                    <img src="./img/marketplace/logo-conferences-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>