<section class="tariff-order">
    <div class="wrapper">
        <div class="tariff-order__wrap">
            <div class="tariff-order__group">
                <div class="tariff-order__title main-title">НЕ НАШЛИ ПОДХОДЯЩИЙ ТАРИФ?</div>

                <div class="tariff-order__subtitle">Сделаем вам персональное предложение, от вас только заявка</div>

                <from class="tariff-order__form from-tariff-order">

                    <div class="from-tariff-order__row">
                        <div class="from-tariff-order__column">
                            <div class="from-tariff-order__tel">
                                <div class="from-tariff-order__tel-text">
                                    Со мной можно <span>связаться по телефону</span>
                                </div>
                                <input type="tel" placeholder="+7 (___) ___-__-__">
                            </div>

                            <div class="from-tariff-order__adress">
                                <div class="from-tariff-order__adress-text">Адрес сайта</div>
                                <input type="text">
                            </div>

                            <div class="from-tariff-order__price">
                                <div class="from-tariff-order__price-text">Бюджет прокта</div>

                                <input class="from-tariff-order__price-ipnut --one" type="hidden"
                                    data-min-value="30000">
                                <input class="from-tariff-order__price-ipnut --two" type="hidden"
                                    data-max-value="200000">

                                <div class="from-tariff-order__range nouislider-container"></div>
                            </div>
                        </div>

                        <div class="from-tariff-order__column">
                            <div class="from-tariff-order__wrap-button">
                                <div class="btn-magic-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                    result="goo" />
                                                <feComposite in="SourceGraphic" in2="goo" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="bubble-container">
                                        <button type="submit" class="button button-bubble ">
                                            Оставить заявку
                                        </button>
                                        <span class="button-bubble__effect-container">
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>

                                            <span class="button effect-button "></span>

                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="from-tariff-order__subtext">
                        Заполняя данную форму вы соглашаетесь на обработку персональных данных ООО "WESMA" в
                        соответствии с
                        законом №152-ФЗ "О персональных данных" <a href="#">политика конфиденциальности.</a>
                    </div>

                </from>
            </div>

            <div class="tariff-order__ainm">
                <div class="control" style="position:absolute">
                    <input type="text" value=">_<" id="t">
                    <button onclick="changeText(t.value)">
                        change
                    </button>
                </div>
                <canvas class="tariff-order__ainm-canvas"></canvas>
            </div>

        </div>
    </div>
</section>