<section class="advant-develop">
    <div class="wrapper">
        <div class="advant-develop__wrap">
            <div class="advant-develop__list">
                <div class="advant-develop__item card-advant-develop">
                    <div class="card-advant-develop__number">15</div>
                    <div class="card-advant-develop__group">
                        <div class="card-advant-develop__name">Сертифицированных backend и frontend разработчиков</div>
                        <div class="card-advant-develop__text">имеют личные сертификаты 1с Битрикс, CS Cart и других
                            персональных курсов профаттестации
                        </div>
                    </div>
                </div>

                <div class="advant-develop__item card-advant-develop">
                    <div class="card-advant-develop__number">400+</div>
                    <div class="card-advant-develop__group">
                        <div class="card-advant-develop__name">Завершенных проектов</div>
                        <div class="card-advant-develop__text">Готовы взять проект на любом из этапов</div>
                    </div>
                </div>

                <div class="advant-develop__item card-advant-develop">
                    <div class="card-advant-develop__number">12</div>
                    <div class="card-advant-develop__group">
                        <div class="card-advant-develop__name">Лет<br>
                            опыта</div>
                        <div class="card-advant-develop__text">Посещаем выставки, делимся знаниями и <a
                                href="#">кейсами</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>