<section class="opportunities">
    <div class="wrapper">
        <div class="opportunities__wrap">
            <div class="opportunities__row">
                <div class="opportunities__column">
                    <div class="opportunities__title title-h2">ГАРАНТИЯ НА РАБОТЫ</div>

                    <div class="opportunities__text">Гарантийные работы оказываются в <span>течение 12 месяцев</span> с
                        момента
                        завершения работ по первому пакету часов или смете.</div>

                    <div class="opportunities__lsit">
                        <div class="opportunities__item card-opportunities">
                            <div class="card-opportunities__circle"></div>
                            <div class="card-opportunities__number">1</div>
                            <div class="card-opportunities__text">
                                Сообщаете о гарантийном случае своему аккаунт-менеджеру,
                                а он в своё время подключает специалистов для диагностики причины возникновения
                                неисправности.
                            </div>
                        </div>

                        <div class="opportunities__item card-opportunities">
                            <div class="card-opportunities__circle"></div>
                            <div class="card-opportunities__number">2</div>
                            <div class="card-opportunities__text">
                                Если проблема возникла по нашей вине, мы устраним её за свой счёт
                                и приложим максимум усилий, чтобы сделать это максимально быстро.
                            </div>
                        </div>

                        <div class="opportunities__item card-opportunities">
                            <div class="card-opportunities__circle"></div>
                            <div class="card-opportunities__number">3</div>
                            <div class="card-opportunities__text">
                                Если в ходе диагностики выявлено, что неисправность, ошибка или недочет в работе сайта
                                возник не по нашей вине, время, затраченное
                                на диагностику, оплачивается клиентом.
                            </div>
                        </div>
                    </div>

                    <div class="opportunities__text">
                        Гарантийные обязательства не распространяются на случаи, когда программный код или настройки
                        сервера были самостоятельно изменены заказчиком или кем-то ещё.
                    </div>

                </div>

                <div class="opportunities__column">
                    <div class="opportunities__title title-h2">
                        ВСЕ ЖЕ ОСТАНОВИМСЯ НА НАШИХ ВОЗМОЖНОСТЯХ
                    </div>

                    <div class="opportunities__subtitle">Часы поддержки можете потратить на:</div>

                    <div class="opportunities__clock clock-opportunities">

                        <div class="clock-opportunities__list">
                            <a href="#" class="clock-opportunities__item current">
                                <div class="clock-opportunities__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="65" viewBox="0 0 64 65"
                                        fill="none">
                                        <path
                                            d="M20.0155 35.4224V26.1056M47.5932 63H62.5V3.37267H20.0155V15.4236M47.5932 63H2.5V53.4969M47.5932 63L2.5 17.9068V33.559M2.5 33.559H7.71739M2.5 33.559V43.9938M2.5 43.9938H7.71739M2.5 43.9938V53.4969M2.5 53.4969H7.71739M39.0217 45.1118L47.2205 48.0932L44.2391 39.8944M39.0217 45.1118L44.2391 39.8944M39.0217 45.1118L20.0155 26.1056M44.2391 39.8944L20.0155 15.4236M20.0155 26.1056L7.71739 13.8075M20.0155 15.4236L12.8821 8.21739M7.71739 13.8075L2.5 8.59006L7.71739 3L12.8821 8.21739M7.71739 13.8075L12.8821 8.21739M12.1894 53.4969V40.6398L25.0466 53.4969H12.1894Z"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Прототипирование</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="63" height="64" viewBox="0 0 63 64" fill="none">
                                        <path
                                            d="M46.5 6.01924C37.218 0.660254 25.782 0.660254 16.5 6.01924C7.21797 11.3782 1.5 21.282 1.5 32C1.5 42.718 7.21797 52.6218 16.5 57.9808C23.9786 62.2985 32.8555 63.1374 40.8774 60.4975L35.7647 50.272C35.0959 48.9343 34.7477 47.4593 34.7477 45.9637C34.7477 40.6432 39.0608 36.3301 44.3813 36.3301H61.1864C61.3937 34.9082 61.5 33.4617 61.5 32C61.5 21.282 55.782 11.3782 46.5 6.01924Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M13.8559 38.2245C14.726 37.7221 15.7982 37.7221 16.6684 38.2245C17.5385 38.7269 18.0746 39.6554 18.0746 40.6602C18.0746 41.665 17.5385 42.5935 16.6684 43.0959C15.7982 43.5983 14.726 43.5983 13.8559 43.0959C12.9857 42.5935 12.4496 41.665 12.4496 40.6602C12.4496 39.6554 12.9857 38.7269 13.8559 38.2245Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M14.9384 19.8215C15.8086 19.3191 16.8807 19.3191 17.7509 19.8215C18.6211 20.3239 19.1571 21.2524 19.1571 22.2572C19.1571 23.262 18.6211 24.1905 17.7509 24.6929C16.8807 25.1953 15.8086 25.1953 14.9384 24.6929C14.0682 24.1905 13.5321 23.262 13.5321 22.2572C13.5321 21.2524 14.0682 20.3239 14.9384 19.8215Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M30.4046 11.4722C31.2748 10.9697 32.3469 10.9697 33.2171 11.4722C34.0873 11.9746 34.6234 12.903 34.6234 13.9078C34.6234 14.9127 34.0873 15.8411 33.2171 16.3435C32.3469 16.8459 31.2748 16.8459 30.4046 16.3435C29.5344 15.8411 28.9984 14.9127 28.9984 13.9078C28.9984 12.903 29.5344 11.9746 30.4046 11.4722Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M45.5601 20.1324C46.4303 19.63 47.5024 19.63 48.3726 20.1324C49.2428 20.6348 49.7788 21.5633 49.7788 22.5681C49.7788 23.5729 49.2428 24.5014 48.3726 25.0038C47.5024 25.5062 46.4303 25.5062 45.5601 25.0038C44.6899 24.5014 44.1538 23.5729 44.1538 22.5681C44.1538 21.5633 44.6899 20.6348 45.5601 20.1324Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg></div>
                                <div class="clock-opportunities__name">Дизайн</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="52" height="64" viewBox="0 0 52 64" fill="none">
                                        <path
                                            d="M37.0118 2H2V62H50V13.6949M37.0118 2L50 13.6949M37.0118 2V13.6949H50M22.3294 52.8475L29.1059 34.5424M20.0706 36.5763L11.0353 43.6949L20.0706 51.8305M31.3647 36.5763L40.4 43.6949L31.3647 51.8305"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Верстка</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="63" height="52" viewBox="0 0 63 52" fill="none">
                                        <path
                                            d="M28.0912 2H1.5V33.6522M28.0912 41.5652H1.5V33.6522M1.5 33.6522H25.424M22.3861 41.5652L15.9304 50.2319H26.943M14.6348 26.8386L19.7815 13.0435M11 16L6.05696 19.941L11 24M24 16L28.3593 19.941L24 24M41.7532 29.3478H44.7911V33.8696M49.3481 29.3478H52.3861V33.8696M58.462 29.3478H61.5V33.8696M40.2342 7.49275V9C40.2342 10.2486 41.2543 11.2609 42.5127 11.2609C43.771 11.2609 44.7911 10.2486 44.7911 9V7.49275C44.7911 6.24411 43.771 5.23188 42.5127 5.23188C41.2543 5.23188 40.2342 6.24411 40.2342 7.49275ZM49.3481 7.49275V9C49.3481 10.2486 50.3682 11.2609 51.6266 11.2609C52.8849 11.2609 53.9051 10.2486 53.9051 9V7.49275C53.9051 6.24411 52.8849 5.23188 51.6266 5.23188C50.3682 5.23188 49.3481 6.24411 49.3481 7.49275ZM44.7911 18.7971V20.3043C44.7911 21.553 45.8112 22.5652 47.0696 22.5652C48.328 22.5652 49.3481 21.553 49.3481 20.3043V18.7971C49.3481 17.5485 48.328 16.5362 47.0696 16.5362C45.8112 16.5362 44.7911 17.5485 44.7911 18.7971ZM53.9051 18.7971V20.3043C53.9051 21.553 54.9252 22.5652 56.1835 22.5652C57.4419 22.5652 58.462 21.553 58.462 20.3043V18.7971C58.462 17.5485 57.4419 16.5362 56.1835 16.5362C54.9252 16.5362 53.9051 17.5485 53.9051 18.7971ZM35.6772 7.51036V8.98239C35.6772 10.2408 34.6571 11.2609 33.3987 11.2609V11.2609C32.1404 11.2609 31.1203 10.2408 31.1203 8.98239V7.51037C31.1203 6.25199 32.1404 5.23188 33.3987 5.23188V5.23188C34.6571 5.23188 35.6772 6.25199 35.6772 7.51036Z"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Кодинг</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="52" height="64" viewBox="0 0 52 64" fill="none">
                                        <path
                                            d="M13 19V11H27M27 11L33 17M27 11V17H33M33 17V40H13V34.5M13 34.5H8V19H20.5V34.5H13ZM36 11H46M36 17.5H46M36 24.5H46M36 32H46M36 38.5H46M8 45.5H46M8 52.5H46M2 2H50V62H2V2Z"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Наполнение</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="69" height="61" viewBox="0 0 69 61" fill="none">
                                        <path
                                            d="M14.1702 21.6124L14.9202 20.3133L14.1702 21.6124ZM19.5864 21.6124L18.8364 20.3133H18.8364L19.5864 21.6124ZM6.28577 28.2059L4.98673 28.9559L6.28577 28.2059ZM1.86752 20.5533L0.568479 21.3033L1.86752 20.5533ZM6.28577 5.63354L4.98673 4.88354L6.28577 5.63354ZM27.1106 29.2427L25.8116 28.4927L27.1106 29.2427ZM26.596 29.4015L25.9515 30.7559L26.596 29.4015ZM25.7687 29.0078L26.4132 27.6533L25.7687 29.0078ZM23 31.5706L21.5047 31.4515L23 31.5706ZM21.5852 30.4407L21.5047 31.4515L24.4952 31.6897L24.5757 30.6789L21.5852 30.4407ZM27.2405 28.047L26.4132 27.6533L25.1242 30.3623L25.9515 30.7559L27.2405 28.047ZM30.8284 19.8033L25.8116 28.4927L28.4097 29.9927L33.4265 21.3033L30.8284 19.8033ZM26.4102 6.38354L30.8284 14.0362L33.4265 12.5362L29.0083 4.88354L26.4102 6.38354ZM12.5792 3.5L21.4157 3.5V0.5L12.5792 0.5V3.5ZM3.16655 14.0362L7.5848 6.38354L4.98673 4.88354L0.568478 12.5362L3.16655 14.0362ZM7.58481 27.4559L3.16656 19.8033L0.568479 21.3033L4.98673 28.9559L7.58481 27.4559ZM22.7099 30.3394L12.5792 30.3394V33.3394H22.7099V30.3394ZM14.9202 13.5302C16.1319 12.8307 17.6248 12.8307 18.8364 13.5302L20.3364 10.9322C18.1966 9.69669 15.5601 9.69669 13.4202 10.9322L14.9202 13.5302ZM12.9621 16.9218C12.9621 15.5227 13.7085 14.2298 14.9202 13.5302L13.4202 10.9322C11.2803 12.1676 9.9621 14.4509 9.9621 16.9218H12.9621ZM14.9202 20.3133C13.7085 19.6138 12.9621 18.3209 12.9621 16.9218H9.9621C9.9621 19.3927 11.2803 21.676 13.4202 22.9114L14.9202 20.3133ZM18.8364 20.3133C17.6248 21.0129 16.1319 21.0129 14.9202 20.3133L13.4202 22.9114C15.5601 24.1469 18.1966 24.1469 20.3364 22.9114L18.8364 20.3133ZM20.7946 16.9218C20.7946 18.3209 20.0481 19.6138 18.8364 20.3133L20.3364 22.9114C22.4763 21.676 23.7946 19.3927 23.7946 16.9218H20.7946ZM18.8364 13.5302C20.0481 14.2298 20.7946 15.5227 20.7946 16.9218H23.7946C23.7946 14.4509 22.4763 12.1676 20.3364 10.9322L18.8364 13.5302ZM9.39708 30.4007C9.52927 32.0601 10.9145 33.3394 12.5792 33.3394V30.3394C12.479 30.3394 12.3956 30.2624 12.3876 30.1625L9.39708 30.4007ZM9.12285 30.2423C9.24449 30.1845 9.38639 30.2664 9.39708 30.4007L12.3876 30.1625C12.21 27.9327 9.85369 26.5723 7.83389 27.5334L9.12285 30.2423ZM4.98673 28.9559C5.81909 30.3976 7.61961 30.9576 9.12285 30.2423L7.83389 27.5334C7.74336 27.5764 7.63493 27.5427 7.58481 27.4559L4.98673 28.9559ZM1.52244 17.078C0.151385 18.0223 -0.263883 19.8616 0.568479 21.3033L3.16656 19.8033C3.11643 19.7164 3.14144 19.6057 3.224 19.5488L1.52244 17.078ZM1.52244 16.7614C1.63338 16.8378 1.63338 17.0016 1.52244 17.078L3.224 19.5488C5.06619 18.2801 5.06619 15.5593 3.224 14.2906L1.52244 16.7614ZM0.568478 12.5362C-0.263885 13.9779 0.151387 15.8172 1.52244 16.7614L3.224 14.2906C3.14144 14.2338 3.11643 14.123 3.16655 14.0362L0.568478 12.5362ZM9.12285 3.59709C7.61961 2.88183 5.81909 3.44185 4.98673 4.88354L7.5848 6.38354C7.63493 6.29672 7.74336 6.26299 7.83389 6.30607L9.12285 3.59709ZM9.39708 3.43876C9.38639 3.57304 9.24449 3.65496 9.12285 3.59709L7.83389 6.30607C9.85369 7.26711 12.21 5.90669 12.3876 3.67698L9.39708 3.43876ZM12.5792 0.5C10.9145 0.5 9.52927 1.77929 9.39708 3.43876L12.3876 3.67698C12.3956 3.57704 12.479 3.5 12.5792 3.5V0.5ZM24.5979 3.43876C24.4657 1.77929 23.0805 0.5 21.4157 0.5V3.5C21.516 3.5 21.5994 3.57704 21.6074 3.67698L24.5979 3.43876ZM24.8721 3.59709C24.7505 3.65496 24.6086 3.57303 24.5979 3.43876L21.6074 3.67698C21.785 5.90669 24.1413 7.26711 26.1611 6.30607L24.8721 3.59709ZM29.0083 4.88354C28.1759 3.44184 26.3754 2.88183 24.8721 3.59709L26.1611 6.30607C26.2516 6.26299 26.3601 6.29672 26.4102 6.38354L29.0083 4.88354ZM32.4726 16.7614C33.8436 15.8172 34.2589 13.9779 33.4265 12.5362L30.8284 14.0362C30.8786 14.123 30.8536 14.2338 30.771 14.2906L32.4726 16.7614ZM32.4726 17.078C32.3616 17.0016 32.3616 16.8378 32.4726 16.7614L30.771 14.2906C28.9288 15.5593 28.9288 18.2801 30.771 19.5488L32.4726 17.078ZM33.4265 21.3033C34.2589 19.8616 33.8436 18.0223 32.4726 17.078L30.771 19.5488C30.8536 19.6057 30.8786 19.7164 30.8284 19.8033L33.4265 21.3033ZM27.9575 30.5213C28.1423 30.3723 28.2945 30.1921 28.4097 29.9927L25.8116 28.4927C25.8777 28.3782 25.9659 28.2734 26.0745 28.1859L27.9575 30.5213ZM25.9515 30.7559C26.5985 31.0638 27.38 30.9869 27.9575 30.5213L26.0745 28.1859C26.4143 27.9119 26.8691 27.8703 27.2405 28.047L25.9515 30.7559ZM24.5757 30.6789C24.5971 30.4104 24.8809 30.2465 25.1242 30.3623L26.4132 27.6533C24.2717 26.6344 21.7735 28.0767 21.5852 30.4407L24.5757 30.6789ZM22.2578 30.4273C22.404 30.3683 22.5577 30.3394 22.7099 30.3394V33.3394C22.9369 33.3394 23.1647 33.2964 23.3804 33.2094L22.2578 30.4273ZM23.3804 33.2094C24.0184 32.9519 24.442 32.3575 24.4952 31.6897L21.5047 31.4515C21.5403 31.004 21.8247 30.6021 22.2578 30.4273L23.3804 33.2094Z"
                                            fill="#333333" />
                                        <path
                                            d="M52.7845 21.5649L48.2059 18.3564L26.9834 44.4643C25.0778 46.8086 25.5613 50.2774 28.0355 52.0112C30.5096 53.745 33.9352 53.0155 35.4883 50.4241L52.7845 21.5649Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M61.9418 27.982C65.4859 22.9246 64.259 15.9517 59.2016 12.4076L52.3336 7.59484L51.5315 8.73951L48.0975 6.33311L48.8996 5.18844L45.4657 2.78204L39.0486 11.9393L42.4826 14.3457L43.2847 13.2011L46.7187 15.6075L45.9166 16.7521L61.9418 27.982Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Тестирование</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="61" height="49" viewBox="0 0 61 49" fill="none">
                                        <path
                                            d="M0 47.2824H9.59551M61 47.2824H49.3483M9.59551 47.2824V33.542V31.1069M9.59551 47.2824H13.7079H33.2416H37.6966M9.59551 31.1069H6.85393V26.2977H11.6517M9.59551 31.1069H37.6966M41.1236 26.2977V31.1069H37.6966M41.1236 26.2977H27.4157M41.1236 26.2977L47.9775 18.4275C47.9775 18.4275 48.9653 17.4769 48.8705 16.3664M37.6966 31.1069V33.542M37.6966 47.2824V38.3512M37.6966 47.2824H44.8933M37.6966 33.542C37.6966 33.542 44.2079 33.542 46.6067 33.542C49.3921 33.542 49.3567 24.8139 49.1067 19.8015M37.6966 33.542V38.3512M11.6517 26.2977C11.6517 26.2977 11.6517 22.8931 11.6517 20.4886C11.6517 18.084 18.5056 17.0534 18.5056 17.0534M11.6517 26.2977H27.4157M18.5056 17.0534C18.5056 17.0534 19.5337 19.458 21.5899 19.458C23.6461 19.458 24.6742 17.0534 24.6742 17.0534M18.5056 17.0534V14.3359M24.6742 17.0534C24.6742 17.0534 31.1854 18.4275 31.1854 20.4886C31.1854 21.5191 31.1854 21.8626 31.1854 21.8626M24.6742 17.0534V14.3359M31.1854 21.8626H27.4157V26.2977M31.1854 21.8626H38.382L44.8933 15.6794C44.8933 15.6794 47.7348 13.9618 48.6629 15.6794C48.7879 15.9106 48.8514 16.1418 48.8705 16.3664M48.8705 16.3664C48.8705 16.3664 49.006 17.7825 49.1067 19.8015M49.1067 19.8015H54.1461C54.1461 19.8015 56.2022 38.3512 49.691 38.3512C49.2695 38.3512 48.8084 38.3512 48.3202 38.3512M37.6966 38.3512C37.6966 38.3512 40.6384 38.3512 43.8652 38.3512M43.8652 38.3512L44.8933 47.2824M43.8652 38.3512C45.3789 38.3512 46.9553 38.3512 48.3202 38.3512M44.8933 47.2824H49.3483M48.3202 38.3512L49.3483 47.2824M45.236 2.28244V2.28244C42.397 2.28244 40.0955 4.5839 40.0955 7.42289V9.85193C40.0955 12.6909 42.397 14.9924 45.236 14.9924V14.9924C48.0749 14.9924 50.3764 12.6909 50.3764 9.85193V7.42289C50.3764 4.5839 48.0749 2.28244 45.236 2.28244ZM26.7303 9.22597V7.14045C26.7303 4.30146 24.4289 2 21.5899 2V2C18.7509 2 16.4494 4.30146 16.4494 7.14045V9.22597C16.4494 12.065 18.7509 14.3664 21.5899 14.3664V14.3664C24.4289 14.3664 26.7303 12.065 26.7303 9.22597Z"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Консалт</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="79" height="64" viewBox="0 0 79 64" fill="none">
                                        <path
                                            d="M22.4 22.4H17.3H8.6V60C8.6 61.1046 9.49543 62 10.6 62H69C70.1046 62 71 61.1046 71 60V22.4H61.4H56.6M22.4 22.4H26V24.8H54.2V22.4H56.6M22.4 22.4V16.4V2H56.6V16.4V22.4M25.4 10.4H45.5M77 23.3V29.3C77 30.4598 74.8598 31.4 73.7 31.4C72.5402 31.4 71.6 30.4598 71.6 29.3V23.3C71.6 22.1402 72.5402 21.2 73.7 21.2C74.8598 21.2 77 22.1402 77 23.3ZM35.9 39.2C35.9 37.2118 34.2882 35.6 32.3 35.6C30.3118 35.6 28.7 37.2118 28.7 39.2C28.7 41.1882 30.3118 42.8 32.3 42.8C34.2882 42.8 35.9 41.1882 35.9 39.2ZM49.1 39.2C49.1 37.2118 47.4882 35.6 45.5 35.6C43.5118 35.6 41.9 37.2118 41.9 39.2C41.9 41.1882 43.5118 42.8 45.5 42.8C47.4882 42.8 49.1 41.1882 49.1 39.2ZM62.3 39.2C62.3 37.2118 60.6882 35.6 58.7 35.6C56.7118 35.6 55.1 37.2118 55.1 39.2C55.1 41.1882 56.7118 42.8 58.7 42.8C60.6882 42.8 62.3 41.1882 62.3 39.2ZM22.7 39.2V39.2C22.7 41.1882 21.0882 42.8 19.1 42.8V42.8C17.1118 42.8 15.5 41.1882 15.5 39.2V39.2C15.5 37.2118 17.1118 35.6 19.1 35.6V35.6C21.0882 35.6 22.7 37.2118 22.7 39.2ZM2 23.9V28.7C2 30.1912 3.20883 31.4 4.7 31.4V31.4C6.19117 31.4 7.4 30.1912 7.4 28.7V23.9C7.4 22.4088 6.19117 21.2 4.7 21.2V21.2C3.20883 21.2 2 22.4088 2 23.9ZM55.7 54.6V53.2C55.7 52.0954 54.8046 51.2 53.7 51.2H25.3C24.1954 51.2 23.3 52.0954 23.3 53.2V54.6C23.3 55.7046 24.1954 56.6 25.3 56.6H53.7C54.8046 56.6 55.7 55.7046 55.7 54.6Z"
                                            stroke="#333333" stroke-width="3" />
                                    </svg>
                                </div>
                                <div class="clock-opportunities__name">Копирайт</div>
                            </a>

                            <a href="#" class="clock-opportunities__item">
                                <div class="clock-opportunities__icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="64" height="59" viewBox="0 0 64 59" fill="none">
                                        <path
                                            d="M9.17528 20.2537L19.9865 9.28163M26.8592 8.94667L37.1406 17.642M44.2788 17.6422L54.5603 8.94683M54.2581 55.0357V27.5357C54.2581 26.4509 55.1246 25.5714 56.1935 25.5714H60.0645C61.1335 25.5714 62 26.4509 62 27.5357V55.0357C62 56.1206 61.1335 57 60.0645 57H56.1935C55.1246 57 54.2581 56.1206 54.2581 55.0357ZM36.8387 41.2857V55.0357C36.8387 56.1206 37.7053 57 38.7742 57H42.6452C43.7141 57 44.5806 56.1206 44.5806 55.0357V41.2857C44.5806 40.2009 43.7141 39.3214 42.6452 39.3214H38.7742C37.7053 39.3214 36.8387 40.2009 36.8387 41.2857ZM2 55.0357V45.2143C2 44.1294 2.86655 43.25 3.93548 43.25H7.80645C8.87539 43.25 9.74194 44.1294 9.74194 45.2143L9.74194 55.0357C9.74194 56.1206 8.87539 57 7.80645 57H3.93548C2.86655 57 2 56.1206 2 55.0357ZM19.4194 55.0357V27.5357C19.4194 26.4509 20.2859 25.5714 21.3548 25.5714H25.2258C26.2947 25.5714 27.1613 26.4509 27.1613 27.5357V55.0357C27.1613 56.1206 26.2947 57 25.2258 57H21.3548C20.2859 57 19.4194 56.1206 19.4194 55.0357ZM60.0645 9.85714H56.1935C55.1246 9.85714 54.2581 8.9777 54.2581 7.89286V3.96429C54.2581 2.87944 55.1246 2 56.1935 2H60.0645C61.1335 2 62 2.87944 62 3.96429V7.89286C62 8.9777 61.1335 9.85714 60.0645 9.85714ZM38.7742 24.5893H42.6452C43.7141 24.5893 44.5806 23.7098 44.5806 22.625V18.6964C44.5806 17.6116 43.7141 16.7321 42.6452 16.7321H38.7742C37.7053 16.7321 36.8387 17.6116 36.8387 18.6964V22.625C36.8387 23.7098 37.7053 24.5893 38.7742 24.5893ZM7.80645 27.5357H3.93548C2.86655 27.5357 2 26.6563 2 25.5714V21.6429C2 20.558 2.86655 19.6786 3.93548 19.6786H7.80645C8.87539 19.6786 9.74194 20.558 9.74194 21.6429V25.5714C9.74194 26.6563 8.87539 27.5357 7.80645 27.5357ZM25.2258 9.85714H21.3548C20.2859 9.85714 19.4194 8.9777 19.4194 7.89286V3.96429C19.4194 2.87944 20.2859 2 21.3548 2H25.2258C26.2947 2 27.1613 2.87944 27.1613 3.96429V7.89286C27.1613 8.9777 26.2947 9.85714 25.2258 9.85714Z"
                                            stroke="#333333" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg></div>
                                <div class="clock-opportunities__name">Аналитика</div>
                            </a>
                        </div>

                        <div class="clock-opportunities__watch">


                            <div class="clock-opportunities__watch-arrow --big"></div>
                            <div class="clock-opportunities__watch-arrow --small"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>