<section class="case-problem">
    <div class="wrapper">
        <div class="case-problem__wrap">
            <div class="case-problem__title main-title">Проблематика</div>

            <div class="case-problem__text">
                <p>
                    Тематика проекта является достаточно конкурентной. Сайты услуг отличаются узким семантических ядром,
                    поэтому постоянно расширять семантику не получится. Сложно будет найти сегменты спроса, которые не
                    охвачены конкурентами.
                </p>

                <p>
                    Поэтому, было принято решение уделить внимание следующим критериям:
                </p>
            </div>

            <div class="case-problem__group">
                <div class="case-problem__item">
                    КАЧЕСТВЕННАЯ ON-PAGE ОПТИМИЗАЦИЯ КАЖДОЙ СТРАНИЦЫ
                </div>

                <div class="case-problem__item">
                    ПОЛНАЯ ВНЕШНЯЯ ОПТИМИЗАЦИЯ, ВКЛЮЧАЯ КРАУД
                </div>

                <div class="case-problem__item">
                    КАЧЕСТВЕННАЯ ON-PAGE ОПТИМИЗАЦИЯ КАЖДОЙ СТРАНИЦЫ
                </div>

                <div class="case-problem__item">
                    ПОЛНАЯ ВНЕШНЯЯ ОПТИМИЗАЦИЯ, ВКЛЮЧАЯ КРАУД
                </div>
            </div>
        </div>
    </div>
</section>