<section class="examples-works">
    <div class="wrapper">
        <div class="examples-works__wrap">
            <div class="examples-works__title main-title">ПРИМЕРЫ ВЫПОЛНЕННЫХ РАБОТ</div>
            <div class="examples-works__subtitle">Ниже представлены графики наших достижений по росту целевой аудитории
                сайтов, находящихся на продвижении в «Wesma». Для получения более подробной информации по выполненным
                проектам и формирования коммерческого предложения — заполните онлайн-заявку.</div>

            <div class="examples-works__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="examples-works__slide swiper-slide">
                        <div class="examples-works__item card-examples-works">
                            <div class="card-examples-works__row">
                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__title">Компания «Тех.Авеню»</div>

                                    <div class="card-examples-works__group">
                                        <div class="card-examples-works__name">Результаты</div>

                                        <ul class="card-examples-works__list">
                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Вывод в ТОП ВЧ-запросов
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост трафика в 6 раз, с 980 до 6000+
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Расширение семантики до 7000 запросов
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост продаж
                                            </li>
                                        </ul>

                                        <div class="card-examples-works__arrows">
                                            <div class="card-examples-works__prev">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                            <div class="card-examples-works__next">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__top">
                                        <a href="#" class="card-examples-works__link">
                                            <lord-icon class="card-examples-works__lord-icon" target="a" trigger="morph"
                                                src="img/lord-icon-included-price.json">
                                            </lord-icon>
                                            <span class="card-examples-works__text-link">konder.su</span>
                                        </a>

                                        <div class="card-examples-works__group-screen">
                                            <div class="card-examples-works__screen-name">
                                                Скриншот из
                                                <span><span>Я</span>ндекс Метрики</span>
                                            </div>

                                            <div class="card-examples-works__screen-metrik">
                                                <a data-href="./img/image-metrik--full1.png" class="popupImageLink">
                                                    <img src="./img/image-metrik-1.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-examples-works__bottom">
                                        <div class="card-examples-works__sign">Уникальные посетители в месяц</div>
                                        <div class="card-examples-works__screen js-graph"
                                            data-coord='
                                        ["2013-03","2013-04","2013-05","2013-06","2013-07","2013-08","2013-09","2013-10","2013-11","2013-12","2014-01","2014-02","2014-03","2014-04","2014-05","2014-06"] | [855,761,506,633,907,963,2251,3343,4955,3622,4000,4126,3620,4596,6232,7258]'
                                            data-range="2500" id="card-examples-works__screen-one">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="examples-works__slide swiper-slide">
                        <div class="examples-works__item card-examples-works">
                            <div class="card-examples-works__row">
                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__title">Компания «Тех.Авеню»</div>

                                    <div class="card-examples-works__group">
                                        <div class="card-examples-works__name">Результаты</div>

                                        <ul class="card-examples-works__list">
                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Вывод в ТОП ВЧ-запросов сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост трафика в 6 раз, с 980 до 6000+ сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Расширение семантики до 7000 запросов сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост продаж сайд 2
                                            </li>
                                        </ul>

                                        <div class="card-examples-works__arrows">
                                            <div class="card-examples-works__prev">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                            <div class="card-examples-works__next">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__top">
                                        <a href="#" class="card-examples-works__link">
                                            <lord-icon class="card-examples-works__lord-icon" target="a" trigger="morph"
                                                src="img/lord-icon-included-price.json">
                                            </lord-icon>
                                            <span class="card-examples-works__text-link">konder.su</span>
                                        </a>

                                        <div class="card-examples-works__group-screen">
                                            <div class="card-examples-works__screen-name">
                                                Скриншот из
                                                <span><span>Я</span>ндекс Метрики</span>
                                            </div>

                                            <div class="card-examples-works__screen-metrik">
                                                <a data-href="./img/image-metrik--full1.png" class="popupImageLink">
                                                    <img src="./img/image-metrik-1.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-examples-works__bottom">
                                        <div class="card-examples-works__sign">Уникальные посетители в месяц</div>
                                        <div class="card-examples-works__screen js-graph" data-coord='
                                        ["2013-05", "2013-06", "2013-07", "2013-08", "2013-09", "2013-10", "2013-11"] |
                                        [6434, 5627, 5975, 12213, 17586, 17313, 17695]' data-range="2500"
                                            id="card-examples-works__screen-two">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="examples-works__slide swiper-slide">
                        <div class="examples-works__item card-examples-works">
                            <div class="card-examples-works__row">
                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__title">Компания «Тех.Авеню»</div>

                                    <div class="card-examples-works__group">
                                        <div class="card-examples-works__name">Результаты</div>

                                        <ul class="card-examples-works__list">
                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Вывод в ТОП ВЧ-запросов сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост трафика в 6 раз, с 980 до 6000+ сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Расширение семантики до 7000 запросов сайд 2
                                            </li>

                                            <li>
                                                <lord-icon class="card-examples-works__dot-icon" target="li"
                                                    trigger="morph" src="img/lord-icon-list-dot.json">
                                                </lord-icon>
                                                Рост продаж сайд 2
                                            </li>
                                        </ul>

                                        <div class="card-examples-works__arrows">
                                            <div class="card-examples-works__prev">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                            <div class="card-examples-works__next">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-examples-works__column">
                                    <div class="card-examples-works__top">
                                        <a href="#" class="card-examples-works__link">
                                            <lord-icon class="card-examples-works__lord-icon" target="a" trigger="morph"
                                                src="img/lord-icon-included-price.json">
                                            </lord-icon>
                                            <span class="card-examples-works__text-link">konder.su</span>
                                        </a>

                                        <div class="card-examples-works__group-screen">
                                            <div class="card-examples-works__screen-name">
                                                Скриншот из
                                                <span><span>Я</span>ндекс Метрики</span>
                                            </div>

                                            <div class="card-examples-works__screen-metrik">
                                                <a data-href="./img/image-metrik--full1.png" class="popupImageLink">
                                                    <img src="./img/image-metrik-1.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-examples-works__bottom">
                                        <div class="card-examples-works__sign">Уникальные посетители в месяц</div>
                                        <div class="card-examples-works__screen js-graph" data-coord='
                                        ["2013-01", "2013-02", "2013-03", "2013-04", "2013-05"] |
                                        [6434, 5627, 5975, 12213, 17586]' data-range="2500"
                                            id="card-examples-works__screen-three">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>