<section class="included-price">
    <div class="wrapper">
        <div class="included-price__wrap">
            <div class="included-price__title main-title">ЧТО ВХОДИТ В СТОИМОСТЬ</div>

            <div class="included-price__text-bg"><img src="./img/image-bg-included-price-text.png" alt=""></div>

            <div class="included-price__row">
                <div class="included-price__column">
                    <div class="included-price__list">
                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">

                                <div class="card-included-price__title">Внутренняя оптимизация</div>

                                <div class="card-included-price__subtitle">Отвестственный: seo специалист,
                                    контент-менеджер,
                                    копирайтер, редактор</div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <div class="card-included-price__text-title">Тексты</div>

                                        <p>Написание и оптимизация SEO текстов на основании семантического ядра, LSI, по
                                            жестким <a href="#">требованиям.</a></p>
                                    </div>

                                    <div class="card-included-price__text-item">
                                        <div class="card-included-price__text-title">МЕТА-теги</div>

                                        <p>Соcтавим уникальные meta теги под кождый кластер запросов и увеличения
                                            кликабельности сниппетов.</p>
                                    </div>

                                    <div class="card-included-price__text-item">
                                        <div class="card-included-price__text-title">Перелинковка</div>

                                        <p>Проработаем перелинковку для повышения вовлеченности посетителей и
                                            правильного
                                            перераспределения веса на сайте</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Работа с семантическим ядром</div>

                                <div class="card-included-price__subtitle">Отвестственный: seo специалист</div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <p>
                                            Составляем полное семантическое ядро (запросы) в тематике проекта, делаем
                                            кластеризацию (разбиение по группам), распределяем по посадочным страницам
                                            (делаем структуру сайта). Своевременно вносим коррективы в него.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="included-price__all-work">
                        <div class="included-price__all-work-text">
                            <span>Кто еще задействован в работах над проектом:</span> руководитель seo отдела, джедай,
                            куратор, аккаунт менеджер
                        </div>

                        <a href="https://docs.google.com/spreadsheets/d/1lDYSLyslPklte25x3I4IbtdU-Q3Xn39X/edit#gid=579154259"
                            class="included-price__all-work-link" target="_blank">
                            <lord-icon class="included-price__lord-icon" target="a" trigger="morph"
                                src="img/lord-icon-included-price.json">
                            </lord-icon>
                            <span class="included-price__link">Полный список ежемесячных проверок и работ над
                                сайтом</span>
                        </a>
                    </div>
                </div>

                <div class="included-price__column">
                    <div class="included-price__list">
                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Внешняя оптимизация</div>

                                <div class="card-included-price__subtitle">Отвестственный: линкбилдер, seo специалист
                                </div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <div class="card-included-price__text-title">Вечные ссылки</div>

                                        <p>
                                            Для наращивания ссылочного профиля разрабоатываем стратегию, которая
                                            позволит
                                            увеличить количество доменов-доноров и качественный показатель (DR).
                                            Для получения качественной ссылочный массы, профиль отбирается по параметрам
                                            с
                                            высоким показателем ТРАСТ и низким показателем СПАМ.
                                            Ежемясячно закупаются 5-20 таких ссылок.
                                        </p>
                                    </div>

                                    <div class="card-included-price__text-item">
                                        <div class="card-included-price__text-title">Крауд-маркетинг</div>

                                        <p>Ежемесячно профиль мы разбавляем ссылками из форумов, сайтов Q/A, комментарии
                                            в
                                            блогах и статьях, для получения более натуральной ссылочной массы, в том
                                            числе
                                            nofollow ссылками.
                                        </p>

                                        <p class="--small">
                                            <i><b>Пример:</b> нашли форум, где поднялась тема о покупке товара
                                                тематичный
                                                вашему или
                                                услуги, наш сотрудник внедряется в переписку и рекламирует вас, ставя
                                                ссылку
                                                и
                                                хорошую рекомендацию.
                                            </i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Сбор позиций</div>

                                <div class="card-included-price__subtitle">Отвестственный: seo специалист</div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <p>
                                            Еженедельно снимаем позиции по полному семантическому ядру, предоставляем
                                            таблицу с наглядной динамикой по неделям и разбивкой по ТОПам.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Техническая оптимизация</div>

                                <div class="card-included-price__subtitle">Отвестственный: seo специалист, веб-мастер
                                </div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <p>
                                            Проводим углубленный анализ технической оптимизации, выявляем проблемы
                                            мешающие
                                            правильной индексации и ранжированию сайта в поисковой системе.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Рекомендации</div>

                                <div class="card-included-price__subtitle">Отвестственный: веб-аналитик \ маркетолог
                                </div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <p>
                                            Анализируем и составляем ряд рекомендаций по улучшению функциональности и
                                            usability сайта для конкурентного продвижения.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="included-price__item card-included-price">
                            <div class="card-included-price__wrap">
                                <div class="card-included-price__title">Коммерческие факторы</div>

                                <div class="card-included-price__subtitle">
                                    Отвестственный: веб-аналитик \ маркетолог, seo специалист
                                </div>

                                <div class="card-included-price__text">
                                    <div class="card-included-price__text-item">
                                        <p>
                                            Анализируем и прорабатываем характеристики, влияющие на удобство совершения
                                            покупки или заказа услуги. Эти факторы служат для доверия покупателя и
                                            учитываются поисковыми системами при ранжировании, напрямую влияют на
                                            конверсию
                                            посетителей в покупатели.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="included-price__report">
                        <div class="included-price__report-title">Ежемесячный отчет </div>

                        <div class="included-price__report-text">
                            <ul>
                                <li>Общий отчет по выполненным работам</li>
                                <li>Написанные и размещенные тексты</li>
                                <li>Закупленные вечные ссылки и круд-маркетинг</li>
                                <li>План на следующий месяц</li>
                                <li>Позиции с динамикой по месяцам</li>
                                <li>Графики видимости КС</li>
                                <li>Найденные ошибки тех оптимизации</li>
                                <li>Рекомендации по улучшению сайта</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>