<section class="section-service-ad">
    <div class="wrapper">
        <div class="section-service-ad__wrap">
            <div class="main-title">УСЛУГИ РЕКЛАМЫ</div>

            <div class="section-service-ad__list">

                <div class="section-service-ad__group service-ad-card --three-column">
                    <a href="#" class="service-ad-card__title">Контекстная реклама</a>

                    <div class="service-ad-card__wrap">

                        <div class="service-ad-card__item">
                            <div class="service-ad-card__sticker">НАСТРОЙКА</div>

                            <div class="service-ad-card__group">


                                <div class="service-ad-card__button --image">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-1.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button --image">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-2.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <!-- <div class="service-ad-card__button --image">
                                    <img src="./img/image-ad-card-button-1.png" alt="">
                                </div>

                                <div class="service-ad-card__button --image">
                                    <img src="./img/image-ad-card-button-2.png" alt="">
                                </div> -->
                            </div>
                        </div>

                        <div class="service-ad-card__item">
                            <div class="service-ad-card__sticker">ВЕДЕНИЕ</div>

                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button">Ведение рекламы в Яндекс Директ</div>
                                <div class="service-ad-card__button">Ведение рекламы в Google Adwords</div> -->

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Ведение рекламы в Яндекс Директ
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>

                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Ведение рекламы в Google Adwords
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="service-ad-card__item">
                            <div class="service-ad-card__sticker">ОСТАЛЬНОЕ</div>

                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button">
                                    Ретаргетинг в Яндекс.Директ и<br>
                                    ремаркетинг в Google AdWords
                                </div> -->
                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Ретаргетинг в Яндекс.Директ и<br>
                                                ремаркетинг в Google AdWords
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="section-service-ad__group service-ad-card --one-column">
                    <a href="#" class="service-ad-card__title">Реклама в социальных сетях</a>

                    <div class="service-ad-card__wrap">

                        <div class="service-ad-card__item --list">
                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button">Facebook</div>
                                <div class="service-ad-card__button">Instagram</div>
                                <div class="service-ad-card__button">TikTok</div>
                                <div class="service-ad-card__button">ВКонтакте</div>
                                <div class="service-ad-card__button">Одноклассники</div> -->

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Facebook
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Instagram
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                TikTok
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                ВКонтакте
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Одноклассники
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="section-service-ad__group service-ad-card --left --one-column">
                    <a href="#" class="service-ad-card__title">Геореклама</a>

                    <div class="service-ad-card__wrap">

                        <div class="service-ad-card__item --list">
                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button --image --big">
                                    <img src="./img/image-ad-card-button-3.png" alt="">
                                </div>
                                <div class="service-ad-card__button --image --big">
                                    <img src="./img/image-ad-card-button-4.png" alt="">
                                </div> -->

                                <div class="service-ad-card__button --image --big">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-3.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="service-ad-card__button --image --big">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-4.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="section-service-ad__group service-ad-card --left --two-column">
                    <a href="#" class="service-ad-card__title">Реклама в маркетплейсах</a>

                    <div class="service-ad-card__wrap">

                        <div class="service-ad-card__item">
                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button --image">
                                    <img src="./img/image-ad-card-button-1.png" alt="">
                                </div> -->
                                <!-- <div class="service-ad-card__button --image">
                                    <img src="./img/image-ad-card-button-2.png" alt="">
                                </div> -->

                                <div class="service-ad-card__button --image">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-1.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button --image">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                <img src="./img/image-ad-card-button-2.png" alt="">
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-ad-card__item --list">
                            <div class="service-ad-card__group">
                                <!-- <div class="service-ad-card__button">OZON</div>
                                <div class="service-ad-card__button">Покупки.Яндекс</div>
                                <div class="service-ad-card__button">Авито</div>
                                <div class="service-ad-card__button">Wildberries</div>
                                <div class="service-ad-card__button">Tiu</div>
                                <div class="service-ad-card__button">Amazon</div>
                                <div class="service-ad-card__button">AliExpress</div>
                                <div class="service-ad-card__button">Ulmart</div>
                                <div class="service-ad-card__button">Ebay</div>
                                <div class="service-ad-card__button">CDEK Маркет</div>
                                <div class="service-ad-card__button">Lamoda</div>
                                <div class="service-ad-card__button">Goods</div>
                                <div class="service-ad-card__button">Joom</div> -->

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                OZON
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Покупки.Яндекс
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Авито
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Wildberries
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Tiu
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Amazon
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                AliExpress
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Ulmart
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Ebay
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                CDEK Маркет
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Lamoda
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Goods
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="service-ad-card__button">
                                    <div class="btn-magic-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                            <defs>
                                                <filter id="goo">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                        result="blur" />
                                                    <feColorMatrix in="blur" mode="matrix"
                                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                        result="goo" />
                                                    <feComposite in="SourceGraphic" in2="goo" />
                                                </filter>
                                            </defs>
                                        </svg>
                                        <span class="bubble-container">
                                            <a href="#" class="button button-bubble button-bubble--border">
                                                Joom
                                            </a>
                                            <span class="button-bubble__effect-container">
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>
                                                <span class="circle top-left"></span>

                                                <span class="button effect-button effect-button--border"></span>

                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                                <span class="circle bottom-right"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>