<div class="marketplace-advantages">
    <div class="marketplace-advantages__wrap">
        <div class="wrapper">
            <div class="marketplace-advantages__title title-h5">Миссия и цель нашего сотрудничества</div>
            <div class="marketplace-advantages__sub-title">Стать <span>надежным партнером</span>, который заберет на
                себя все<br> работы
                под ключ по маркетплейсам.</div>

            <div class="marketplace-advantages__row">
                <div class="marketplace-advantages__column">
                    <div class="marketplace-advantages__text">
                        Мы хотим быть вашим удаленным офисом продаж (бэк-офисом) по маркетплейсам, снять всю головную
                        боль по маркетингуи контролю этого направления
                    </div>
                </div>

                <div class="marketplace-advantages__column">
                    <div class="marketplace-advantages__group">
                        <div class="marketplace-advantages__title title-h5">Вам останется только обучить вашего логиста
                        </div>
                        <div class="marketplace-advantages__sub-title">“здесь будут приходить заказы, тут приемные
                            пункты,
                            вот kpi, правила, сроки хранения и штрафы”</div>
                        <div class="marketplace-advantages__sub-text">всю информацию предоставим</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>