<section class="case-solution">
    <div class="wrapper">
        <div class="case-solution__wrap">
            <div class="case-solution__title main-title">Решение</div>

            <div class="case-solution__group">
                <div class="case-solution__nav">
                    <ul class="case-solution__nav-list js-sticky-widget">
                        <li class="case-solution__nav-item active js-solution-nav">
                            <a href="#sol-1">
                                <span class="case-solution__nav-item-number">01</span>
                                <span class="case-solution__nav-item-text" style="height: initial">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Аудит и внедрение рекомендаций
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-2">
                                <span class="case-solution__nav-item-number">02</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Семантика
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-3">
                                <span class="case-solution__nav-item-number">03</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Создали идеальную структуру
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-4">
                                <span class="case-solution__nav-item-number">04</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Контентная оптимизация
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-5">
                                <span class="case-solution__nav-item-number">05</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Разработали новый уникальный дизайн
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-6">
                                <span class="case-solution__nav-item-number">06</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Внутренняя перелинковка
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="case-solution__nav-item js-solution-nav">
                            <a href="#sol-7">
                                <span class="case-solution__nav-item-number">07</span>
                                <span class="case-solution__nav-item-text">
                                    <div class="case-solution__nav-item-text-wrap">
                                        Проработали коммерческие факторы
                                    </div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="case-solution__info">
                    <div class="case-solution__info-item" id="sol-1">
                        <div class="case-solution__info-item-title">Аудит и внедрение рекомендаций</div>
                        <p>
                            После проведения технического аудита составили список рекомендаций и правок. Приступили к
                            исправлению всех технических ошибок, влияющих на плохое положение сайта. После исправления
                            ошибок начали борьбу за места в ТОПе.
                        </p>
                    </div>

                    <div class="case-solution__info-item" id="sol-2">
                        <div class="case-solution__info-item-title">Семантика</div>
                        <p>
                            Мы глубоко изучили бизнес клиента: чем занимается компания, какие направления наиболее
                            приоритетны, кто целевая аудитория и какие сложности возникают в привлечении клиентов.
                        </p>

                        <p>
                            После этого собрали подробное семантическое ядро и детально проработали его.
                        </p>
                    </div>

                    <div class="case-solution__info-item" id="sol-3">
                        <div class="case-solution__info-item-title">Создали идеальную структуру</div>
                        <p>
                            Разработали с нуля полную структуру под собранное семантическое ядро. Ключевые фразы были
                            разбиты на группы и распределены по целевым страницам, если они были. Если нет, то внесли их
                            в план на создание и оптимизацию.
                        </p>

                        <p>
                            Далее мы подготовили заголовки h1 и мета-теги для каждой из страниц.
                        </p>

                        <p>
                            После создания всех страниц мы постоянно мониторим их позиции в поиске по ключевым фразам,
                            по необходимости корректируя оптимизацию, пока запросы не войдут в ТОП 10 выдачи.
                        </p>
                    </div>

                    <div class="case-solution__info-item" id="sol-4">
                        <div class="case-solution__info-item-title">Контентная оптимизация</div>
                        <p>
                            На основании исследования целевой аудитории и конкурентов составили ряд требований к нашим
                            страницам и написали оптимизированные уникальные тексты, с использованием собранной
                            семантики.
                        </p>

                        <p>
                            Писали подробно и понятно, отвечая на вопрос пользователя. Структурировали тексты и при
                            необходимости дополняли их качественными изображениями, чтобы они были нагляднее. Исключили
                            «воду», логические, орфографические и стилистические ошибки. Разместили таблицы с ценами на
                            услуги.
                        </p>
                    </div>

                    <div class="case-solution__info-item" id="sol-5">
                        <div class="case-solution__info-item-title">Разработали новый уникальный дизайн</div>
                        <p>
                            Разработали уникальный, гармоничный дизайн сайта, используя корпоративные цвета. Причиной
                            стал старый неудобный дизайн, который не мог конкурировать с лидерами. В итоге наши
                            специалисты по юзабилити разработали новую главную и внутренние страницы, которые помогли
                            повысить продажи.
                        </p>

                        <p>
                            Но на этом мы не остановились и в апреле 2019 года сделали редизайн страницы «Аутсорсинг». В
                            планах внедрить новый дизайн на страницу «Клининг» с учетом всех критериев юзабилити и
                            анализа конкурентов.
                        </p>
                    </div>

                    <div class="case-solution__info-item" id="sol-6">
                        <div class="case-solution__info-item-title">Внутренняя перелинковка</div>
                        <p>
                            Для того, чтобы пользователи могли легко ориентироваться на сайте и быстро находить
                            необходимые услуги, была произведена:
                        </p>

                        <ul class="solution-list">
                            <li>
                                <span class="solution-list__name">
                                    сквозная перелинковка на категории услуг;
                                </span>

                                <div class="solution-list__image">
                                    <img src="./img/image-case-solution-1.png" alt="">
                                    <span class="solution-list__sign">Сквозная перелинковка</span>
                                </div>
                            </li>

                            <li>
                                <span class="solution-list__name">
                                    перелинковка в текстах на другие страницы услуг;
                                </span>

                                <div class="solution-list__image">
                                    <img src="./img/image-case-solution-2.png" alt="">
                                    <span class="solution-list__sign">
                                        Перелинковка в тексте
                                    </span>
                                </div>
                            </li>

                            <li>
                                <span class="solution-list__name"> сквозная перелинковка на страницы услуг через блок
                                    «Дополнительные услуги»</span>

                                <div class="solution-list__image">
                                    <img src="./img/image-case-solution-3.png" alt="">
                                    <span class="solution-list__sign">Сквозная перелинковка в блоке «Дополнительные
                                        услуги»</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="case-solution__info-item" id="sol-7">
                        <div class="case-solution__info-item-title">Проработали коммерческие факторы</div>
                        <ul class="solution-list">
                            <li>
                                <span class="solution-list__name">
                                    В июле 2018 года разработали и внедрили калькулятор расчета стоимости клининга и
                                    аутсорсинга персонала.
                                </span>

                                <div class="solution-list__image">
                                    <img src="./img/image-case-solution-4.png" alt="">
                                    <span class="solution-list__sign">Калькулятор расчета стоимости клининга и
                                        аутсорсинга</span>
                                </div>
                            </li>

                            <li>
                                <span class="solution-list__name">Разместили контактные данные, добавили карту Яндекса с
                                    местоположением офиса компании, чтобы привлечь локальных клиентов.</span>
                            </li>

                            <li>
                                <span class="solution-list__name">Подключили онлайн консультанта и форму обратного
                                    звонка Perezvoni.com для увеличения количества лояльных клиентов, повышения
                                    конверсии сайта и эффективности работы сотрудников.</span>
                            </li>

                            <li>
                                <span class="solution-list__name">Добавили формы: «Заказать услугу», «Оставить
                                    заявку».</span>
                            </li>

                            <li>
                                <span class="solution-list__name">Разместили на главной странице блок с преимуществами,
                                    в котором выделили уникальные плюсы компании.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>