<section class="portfolio-solution js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-solution__wrap">
            <div class="portfolio-solution__row">
                <div class="portfolio-solution__column">
                    <div class="portfolio-solution__group">
                        <div class="portfolio-solution__numbers numbers-portfolio" data-letter="3">3</div>

                        <div class="portfolio-solution__group-description">
                            <div class="portfolio-solution__title main-title">Решение</div>

                            <div class="portfolio-solution__description">
                                <p>
                                    Компания занимает лидирующее положение на рынке Аутсорсинга и входит топ 10
                                    крупнейших Аутсорсинговых компаний России. Образована в 2000м году, и сотрудничает
                                    со многими передовыми лидерами как: Intel, Sumsung, Nestle и обьединяет крупные
                                    компании в финансовой, промышленном и медийном бизнесе. Трансляция имиджа компании,
                                    соответствующего ценностям бренда и позиции на рынке. Информирование потенциальных
                                    клиентов (представителей среднего и крупных бизнесов) о преимуществах работы с
                                    Fillin
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-solution__mac">
                        <div class="portfolio-solution__wrap-scroll">
                            <img src="./img/image-portfolio-solution-scroll.png" alt="">
                        </div>
                        <img class="portfolio-solution__mac-bottom"
                            src="./img/image-mac-border-portfolio-solution-bottom.png">
                    </div>
                </div>

                <div class="portfolio-solution__column">
                    <div class="portfolio-solution__prototype portfolio-prototype">
                        <div class="portfolio-prototype__group">
                            <div class="portfolio-prototype__numbers numbers-portfolio" data-letter="4">4</div>
                            <div class="portfolio-prototype__title main-title">Прототип</div>
                        </div>

                        <div class="portfolio-prototype__slider prototype-slider">
                            <div class="prototype-slider__container swiper-container">
                                <div class="prototype-slider__wrapper swiper-wrapper">

                                    <div class="prototype-slider__slide swiper-slide">
                                        <div class="prototype-slider__item item-prototype">
                                            <div class="item-prototype__name">Главная</div>
                                            <div class="item-prototype__image">
                                                <a data-href="./img/image-item-prototype-1.png" class="popupImageLink">
                                                    <img src="./img/image-item-prototype-1.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="prototype-slider__slide swiper-slide">
                                        <div class="prototype-slider__item item-prototype">
                                            <div class="item-prototype__name">Карточка товара</div>
                                            <div class="item-prototype__image">
                                                <a data-href="./img/image-item-prototype-2.png" class="popupImageLink">
                                                    <img src="./img/image-item-prototype-2.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="prototype-slider__slide swiper-slide">
                                        <div class="prototype-slider__item item-prototype">
                                            <div class="item-prototype__name">Корзина</div>
                                            <div class="item-prototype__image">
                                                <a data-href="./img/image-item-prototype-3.png" class="popupImageLink">
                                                    <img src="./img/image-item-prototype-3.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="prototype-slider__slide swiper-slide">
                                        <div class="prototype-slider__item item-prototype">
                                            <div class="item-prototype__name">Карточка товара</div>
                                            <div class="item-prototype__image">
                                                <a data-href="./img/image-item-prototype-2.png" class="popupImageLink">
                                                    <img src="./img/image-item-prototype-2.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="prototype-slider__slide swiper-slide">
                                        <div class="prototype-slider__item item-prototype">
                                            <div class="item-prototype__name">Корзина</div>
                                            <div class="item-prototype__image">
                                                <a data-href="./img/image-item-prototype-3.png" class="popupImageLink">
                                                    <img src="./img/image-item-prototype-3.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="portfolio-prototype__arrow">
                            <div class="portfolio-prototype__next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="298" height="225" viewBox="0 0 298 225"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M298 0.164294C298 0.164294 229.06 224.164 149 224.164C64.61 224.164 -9.79135e-06 0.164307 -9.79135e-06 0.164307L298 0.164294Z"
                                        fill="#E9EBF7" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M147.94 159.044L150.06 161.164L184 127.284L181.88 125.164L147.94 159.044ZM148.94 161.164L151.06 159.044L117.12 125.164L115 127.284L148.94 161.164Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>