.portfolio-solution {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: 100%;
		height: 500px;
		background: url("../img/image-portfolio-solution-bg.svg") no-repeat center / cover;
		z-index: 1;
	}

	&__wrap {
		position: relative;
		padding: 80px 0;
		z-index: 2;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 0.65fr;
		gap: 220px;
	}

	&__column {
	}

	&__group {
		display: grid;
		grid-template-columns: 110px 1fr;
		gap: 80px;
		margin-bottom: 150px;
	}

	&__numbers {
		justify-self: center;
	}

	&__group-description {
		padding-top: 35px;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__description {
		& p {
			font-weight: 300;
			font-size: 16px;
			line-height: 200%;
			color: #000;
		}

		& ul {
			margin-bottom: 20px;

			& li {
				font-weight: 300;
				font-size: 16px;
				line-height: 200%;
				color: #000;
				list-style: disc;
				list-style-position: inside;
			}
		}

		& ol {
			margin-bottom: 20px;

			& li {
				font-weight: 300;
				font-size: 16px;
				line-height: 200%;
				color: #000;
				list-style: auto;
				list-style-position: inside;
			}
		}
	}

	&__mac {
		position: relative;
	}

	&__mac-bottom {
		width: 100%;
	}

	&__wrap-scroll {
		max-height: 530px;
		overflow: auto;
		border: 36px solid transparent;
		border-image: url("../img/image-mac-border-portfolio-solution-top.png");
		border-image-slice: 36;
		&::-webkit-scrollbar {
			width: 0;
		}
		& img {
		}
	}
}

.portfolio-prototype {
	padding-top: 130px;
	&__group {
		display: grid;
		grid-template-columns: 110px 1fr;
		gap: 80px;
		align-items: center;
		margin-bottom: 40px;
	}

	&__numbers {
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 0;
	}

	&__slider {
	}

	&__arrow {
	}

	&__next {
		cursor: pointer;
		padding-left: 15%;
		text-align: center;
		& svg {
		}
	}
}

.prototype-slider {
	&__container {
		max-height: 1000px;
		padding: 0 20px 20px 20px;
		margin: 0 -20px -20px -20px;
	}

	&__wrapper {
	}

	&__slide {
		filter: drop-shadow(10px 8px 7px rgba(233, 235, 247, 0.7));
	}

	&__item {
	}
}

.item-prototype {
	display: flex;
	align-items: center;
	height: 100%;
	&__name {
		margin-right: 45px;
		font-weight: 300;
		font-size: 18px;
		line-height: 120%;
		text-align: center;
		color: #000;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	&__image {
		position: relative;
		height: 100%;
		width: 100%;
		border: 1px solid #aaaaaa;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before {
			opacity: 0;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: 2;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		&::after {
			opacity: 0;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			width: 60px;
			height: 60px;
			background: url("../img/icon-open-full.svg") no-repeat center / contain;
			z-index: 3;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		&:hover {
			border-color: #43bea2;
			&::before {
				opacity: 1;
			}

			&::after {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}

@media (max-width: 1600px) {
	.portfolio-solution {
		&__description {
			& p {
				@include adaptiv-font(16, 14);
			}
			& ul {
				li {
					@include adaptiv-font(16, 14);
				}
			}

			& ol {
				li {
					@include adaptiv-font(16, 14);
				}
			}
		}
	}

	.item-prototype {
		&__name {
			@include adaptiv-font(18, 14);
		}
	}
}

@media (max-width: 1450px) {
	.portfolio-solution {
		&__row {
			gap: 60px;
		}

		&__group {
			gap: 40px;
			margin-bottom: 100px;
		}

		&__wrap-scroll {
			max-height: 430px;
		}
	}

	.portfolio-prototype {
		padding-top: 80px;
		&__group {
			gap: 40px;
		}
	}
}

@media (max-width: 1170px) {
	.portfolio-solution {
		&__wrap {
			padding: 40px 0;
		}

		&__title {
			text-align: center;
			margin-bottom: 20px;
		}

		&__group {
			margin-bottom: 30px;
			grid-template-columns: 1fr;
			gap: 20px;
		}

		&__row {
			grid-template-columns: 1fr;
			gap: 30px;
		}

		&__mac {
			margin: 0 50px;
		}

		&__wrap-scroll {
			max-height: 50vw;
		}

		&__group-description {
			padding-top: 0;
		}
	}

	.portfolio-prototype {
		max-width: 500px;
		margin: 0 auto;
		padding-top: 0;
		&__group {
			gap: 20px;
			grid-template-columns: 1fr;
			justify-items: center;
		}

		&__next {
			& svg {
				height: 150px;
			}
		}
	}

	.prototype-slider {
		&__container {
			max-height: 750px;
		}
	}

	.item-prototype {
		&__name {
			margin-right: 20px;
		}
	}
}

@media (max-width: 768px) {
	.portfolio-solution {
		&__wrap-scroll {
			border: 16px solid transparent;
			border-image: url("../img/image-mac-border-portfolio-solution-top.png");
			border-image-slice: 36;
		}

		&__mac {
			margin: 0 20px;
		}
	}

	.item-prototype {
		&__name {
			margin-right: 10px;
		}
	}
}

@media (max-width: 500px) {
	.portfolio-solution {
		&__mac {
			margin: 0 0px;
		}

		&__wrap-scroll {
			border: 8px solid transparent;
			border-image: url("../img/image-mac-border-portfolio-solution-top.png");
			border-image-slice: 36;
		}
	}

	.portfolio-prototype {
		&__next {
			& svg {
				height: 100px;
			}
		}
	}

	.prototype-slider {
		&__container {
			max-height: 550px;
		}
	}
}
