<section class="portfolio-mobile js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-mobile__wrap">
            <div class="portfolio-mobile__group-title">
                <div class="portfolio-mobile__numbers numbers-portfolio" data-letter="8">8</div>
                <div class="portfolio-mobile__title main-title">Адаптивная версия</div>
            </div>

            <div class="portfolio-mobile__slider mobile-slider">
                <div class="mobile-slider__next">
                    <svg>
                        <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                    </svg>
                </div>

                <div class="mobile-slider__container swiper-container">
                    <div class="mobile-slider__phone">
                        <img class="mobile-slider__phone-top" src="./img/image-border-phone-portfolio-top.png" alt="">
                        <img class="mobile-slider__phone-bottom" src="./img/image-border-phone-portfolio-bottom.png"
                            alt="">
                    </div>

                    <div class="mobile-slider__wrapper swiper-wrapper">
                        <div class="mobile-slider__slide swiper-slide">
                            <div class="mobile-slider__image">
                                <img src="./img/image-mobile-slider-1.png" alt="">
                            </div>

                            <div class="mobile-slider__name">Карточка товара</div>
                        </div>

                        <div class="mobile-slider__slide swiper-slide">
                            <div class="mobile-slider__image">
                                <img src="./img/image-mobile-slider-1.png" alt="">
                            </div>

                            <div class="mobile-slider__name">Карточка товара</div>
                        </div>

                        <div class="mobile-slider__slide swiper-slide">
                            <div class="mobile-slider__image">
                                <img src="./img/image-mobile-slider-1.png" alt="">
                            </div>

                            <div class="mobile-slider__name">Корзина</div>
                        </div>

                        <div class="mobile-slider__slide swiper-slide">
                            <div class="mobile-slider__image">
                                <img src="./img/image-mobile-slider-1.png" alt="">
                            </div>

                            <div class="mobile-slider__name">Корзина</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>