<section class="develop">
    <div class="develop__wrap">
        <div class="develop__list">
            <div class="develop__item" data-image="./img/section-develop/image-development-site.jpg">
                <div class="develop__number">01</div>
                <div class="develop__name">Создание сайтов</div>

                <div class="develop__line line">
                    <div class="line__top-group">
                        <div class="line__top-one"></div>
                        <div class="line__top-two"></div>
                    </div>

                    <div class="line__bottom-group">
                        <div class="line__bottom-one"></div>
                        <div class="line__bottom-two"></div>
                    </div>

                    <div class="develop__word"><img src="./img/word-2.png" alt=""></div>

                    <div class="line__left-group">
                        <div class="line__left-one"></div>
                        <div class="line__left-two"></div>
                    </div>

                    <div class="line__right-group">
                        <div class="line__right-one"></div>
                        <div class="line__right-two"></div>
                    </div>
                </div>
            </div>

            <div class="develop__item" data-image="./img/section-develop/image-promotion-site.jpg">
                <div class="develop__number">02</div>
                <div class="develop__name">Продвижение сайтов</div>

                <div class="develop__line line">
                    <div class="line__top-group">
                        <div class="line__top-one"></div>
                        <div class="line__top-two"></div>
                    </div>

                    <div class="line__bottom-group">
                        <div class="line__bottom-one"></div>
                        <div class="line__bottom-two"></div>
                    </div>

                    <div class="develop__word"><img src="./img/word-1.png" alt=""></div>

                    <div class="line__left-group">
                        <div class="line__left-one"></div>
                        <div class="line__left-two"></div>
                    </div>

                    <div class="line__right-group">
                        <div class="line__right-one"></div>
                        <div class="line__right-two"></div>
                    </div>
                </div>
            </div>

            <div class="develop__item" data-image="./img/section-develop/image-support-site.jpg">
                <div class="develop__number">03</div>
                <div class="develop__name">Поддержка сайтов</div>

                <div class="develop__line line">
                    <div class="line__top-group">
                        <div class="line__top-one"></div>
                        <div class="line__top-two"></div>
                    </div>

                    <div class="line__bottom-group">
                        <div class="line__bottom-one"></div>
                        <div class="line__bottom-two"></div>
                    </div>

                    <div class="develop__word"><img src="./img/word-1.png" alt=""></div>

                    <div class="line__left-group">
                        <div class="line__left-one"></div>
                        <div class="line__left-two"></div>
                    </div>

                    <div class="line__right-group">
                        <div class="line__right-one"></div>
                        <div class="line__right-two"></div>
                    </div>
                </div>
            </div>

            <div class="develop__item" data-image="./img/section-develop/image-advesting-2.png">
                <div class="develop__number">04</div>
                <div class="develop__name">Реклама в интернете</div>

                <div class="develop__line line">
                    <div class="line__top-group">
                        <div class="line__top-one"></div>
                        <div class="line__top-two"></div>
                    </div>

                    <div class="line__bottom-group">
                        <div class="line__bottom-one"></div>
                        <div class="line__bottom-two"></div>
                    </div>

                    <div class="develop__word"><img src="./img/word-3.png" alt=""></div>

                    <div class="line__left-group">
                        <div class="line__left-one"></div>
                        <div class="line__left-two"></div>
                    </div>

                    <div class="line__right-group">
                        <div class="line__right-one"></div>
                        <div class="line__right-two"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="develop__background">

        </div>
    </div>
</section>