<section class="portfolio-design js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-design__wrap">
            <div class="portfolio-design__group-title">
                <div class="portfolio-design__numbers numbers-portfolio" data-letter="7">7</div>
                <div class="portfolio-design__title main-title">Дизайн</div>
            </div>

            <div class="portfolio-design__slider slider-design ">

                <div class="slider-design__prev">
                    <svg>
                        <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                    </svg>
                </div>

                <div class="slider-design__next">
                    <svg>
                        <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                    </svg>
                </div>

                <div class="slider-design__container swiper-container">
                    <div class="slider-design__wrapper swiper-wrapper">

                        <div class="slider-design__slide swiper-slide">
                            <div class="slider-design__image carousel-slider-animate-opacity">
                                <a data-href="./img/image-slider-design-1.png" class="popupImageLink">
                                    <img src="./img/image-slider-design-1.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="slider-design__slide swiper-slide">
                            <div class="slider-design__image carousel-slider-animate-opacity">
                                <a data-href="./img/image-slider-design-2.png" class="popupImageLink">
                                    <img src="./img/image-slider-design-1.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="slider-design__slide swiper-slide">
                            <div class="slider-design__image carousel-slider-animate-opacity">
                                <a data-href="./img/image-slider-design-3.png" class="popupImageLink">
                                    <img src="./img/image-slider-design-1.png" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>