<section class="section-partners">


    <div class="section-partners__wrap">

        <div class="wrapper">
            <div class="main-title">СТИРАЕМ БОЛЬ НАШИХ ПАРТНЕРОВ</div>
            <div class="section-partners__subtitle">ПОГРУЖАЕМСЯ В ВАШ БИЗНЕС</div>
        </div>

        <div class="section-partners__wrap-list">
            <div class="wrapper">
                <div class="section-partners__lsit">
                    <div class="section-partners__item">
                        <div class="section-partners__text" id="snapText" data-green="не продает.">
                            Сайт уже есть, но он не продает. А нам обещали золотые горы
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="которых все дороже">
                            Клиенты уходят к конкурентам, у которых все дороже
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="Нас не слышат">
                            Нас не слышат и не понимают на том конце трубки, результаты не соответствуют ожиданию
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="инстаграме VK FB">
                            Хочу перспективные аккаунты в инстаграме в VK и FB, они есть,
                            но толку нет, а у конкурентов все отлично
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="завоевали маркетплейсы, SEO не работает,">
                            Выдачу завоевали маркетплейсы, как их обогнать, SEO не работает,
                            выкидываем деньги в бездонную яму
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="но не знаем как">
                            Деньги есть, теперь хотим стать №1, но не знаем как
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="результов ноль">
                            Наш отдел маркетинга - одни бесполезных нытики, реклама супер - результов ноль
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="нужен свежий взгляд нужен креатив">
                            Просто устали думать внутри своей компании, нужен свежий взгляд со стороны, нужен
                            креатив
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="контролируют бизнес">
                            Уже все конкуренты контролируют бизнес и менеджеров с телефона, я тоже хочу
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="фактически не отдыхаем,">
                            Работаем 24/7, фактически не отдыхаем, почти нет времени на семью, нужно
                            автоматизировать все
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="жёсткая конкуренция,">
                            В нашей нише жёсткая конкуренция, нужно быть в тренде
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="повысить средний чек">
                            Как повысить средний чек и продавать в разы больше
                        </div>

                    </div>

                    <div class="section-partners__item">
                        <div class="section-partners__text" data-green="Влил столько денег">
                            Влил столько денег в рекламу, а заявок почти нет. Вчера была одна, да и та от
                            конкурентов
                        </div>

                    </div>
                </div>
            </div>
            <div class="section-partners__canvas">
                <div class="section-partners__canvas-text">Кликни и все разрешится</div>
            </div>
            <div class="section-partners__anchor">
                <div class="section-partners__anchor-wrap">
                    <div class="section-partners__anchor-close js-reload"></div>
                    <div class="section-partners__text-anchor">Теперь будет ИНАЧЕ</div>

                    <div class="section-partners__button-wrap">
                        <div class="btn-magic-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                        <feComposite in="SourceGraphic" in2="goo" />
                                    </filter>
                                </defs>
                            </svg>
                            <span class="bubble-container">
                                <a href="#" class="button button-bubble">
                                    Связь с эскпертами
                                </a>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button"></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>

                        <div class="btn-magic-wrapper js-reload">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                        <feComposite in="SourceGraphic" in2="goo" />
                                    </filter>
                                </defs>
                            </svg>

                            <span class="bubble-container">
                                <a href="#" class="button button-bubble button-bubble--border">
                                    Сброс
                                </a>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button effect-button--border"></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>