<section class="portfolio-team js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-team__wrap">
            <div class="portfolio-team__group-title">
                <div class="portfolio-team__numbers numbers-portfolio" data-letter="10">10</div>
                <div class="portfolio-team__title main-title">Команда проекта</div>
            </div>


            <div class="portfolio-team__list section-team__gallery --small">
                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-4.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-5.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-1.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-1.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>