<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://yastatic.net/share2/share.js"></script>
</head>

<body>
    <div class="full">
        <% include ../components/floating-menu/floating-menu.ejs %>

            <% var classNameHeader='' ; %>
                <% include ../components/header/header.ejs %>

                    <main class="page-main">
                        <% include ../components/breadcrumbs/breadcrumbs.ejs %>

                            <% include ../components/section-portfolio-site/section-portfolio-site.ejs %>

                                <% include ../components/section-portfolio-client/section-portfolio-client.ejs %>

                                    <% include ../components/section-portfolio-task/section-portfolio-task.ejs %>

                                        <% include
                                            ../components/section-portfolio-solution/section-portfolio-solution.ejs %>

                                            <% include ../components/section-portfolio-logo/section-portfolio-logo.ejs
                                                %>

                                                <% include
                                                    ../components/section-portfolio-color/section-portfolio-color.ejs %>

                                                    <% include
                                                        ../components/section-portfolio-design/section-portfolio-design.ejs
                                                        %>

                                                        <% include
                                                            ../components/section-portfolio-mobile/section-portfolio-mobile.ejs
                                                            %>

                                                            <% include
                                                                ../components/section-portfolio-added-work/section-portfolio-added-work.ejs
                                                                %>

                                                                <% include
                                                                    ../components/section-portfolio-animation/section-portfolio-animation.ejs
                                                                    %>

                                                                    <% include
                                                                        ../components/section-portfolio-team/section-portfolio-team.ejs
                                                                        %>

                                                                        <% include
                                                                            ../components/section-portfolio-review/section-portfolio-review.ejs
                                                                            %>

                                                                            <% include
                                                                                ../components/section-order-form/section-order-form.ejs
                                                                                %>

                                                                                <% include
                                                                                    ../components/section-portfolio-btn-music/section-portfolio-btn-music.ejs
                                                                                    %>

                    </main>
                    <% include ../components/footer/footer.ejs %>
    </div>
</body>

</html>