<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://yastatic.net/share2/share.js"></script>
</head>

<body>
    <div class="full">
        <% include ../components/floating-menu/floating-menu.ejs %>

            <% var classNameHeader='' ; %>
                <% include ../components/header/header.ejs %>

                    <main class="page-main">
                        <div class="marketplace-anim">

                            <% include ../components/breadcrumbs/breadcrumbs.ejs %>

                                <% include ../components/section-main-marketplace/section-main-marketplace.ejs %>

                                    <div class="marketplace-anim__canvas"></div>
                        </div>

                        <% include ../components/section-marketplace-list/section-marketplace-list.ejs %>

                            <% include ../components/section-marketplace-advantages/section-marketplace-advantages.ejs
                                %>

                                <% include
                                    ../components/section-marketplace-conferences/section-marketplace-conferences.ejs %>

                                    <% include ../components/section-marketplace-store/section-marketplace-store.ejs %>

                                        <% include ../components/section-marketplace-time/section-marketplace-time.ejs
                                            %>

                                            <% include
                                                ../components/section-marketplace-tarif/section-marketplace-tarif.ejs %>

                                                <% include
                                                    ../components/section-marketplace-automation/section-marketplace-automation.ejs
                                                    %>

                                                    <% include
                                                        ../components/section-marketplace-experience/section-marketplace-experience.ejs
                                                        %>

                                                        <% include
                                                            ../components/section-marketplace-privileges/section-marketplace-privileges.ejs
                                                            %>

                                                            <% include ../components/section-trust/section-trust.ejs %>

                                                                <% include
                                                                    ../components/section-ourClients/section-ourClients.ejs
                                                                    %>

                                                                    <% include
                                                                        ../components/section-order-form/section-order-form.ejs
                                                                        %>

                    </main>

                    <% include ../components/footer/footer.ejs %>
    </div>
</body>

</html>