<section class="ourClients ">
    <div class="wrapper">
        <div class="main-title">Наши клиенты</div>

        <div class="itemsAlbum">
            <div class="imgItem">
                <img title="taxicel_logo" alt="taxicel_logo" src="img/taxicel_logo.png" />
            </div>
            <div class="imgItem">
                <img title="mitsubishi-electric_logo" alt="mitsubishi-electric_logo"
                    src="img/mitsubishi-electric_logo.png" />
            </div>
            <div class="imgItem">
                <img title="carpet-gold_logo" alt="carpet-gold_logo" src="img/carpet-gold_logo.png" />
            </div>
            <div class="imgItem">
                <img title="yarex_logo" alt="yarex_logo" src="img/yarex_logo.png" />
            </div>
            <div class="imgItem">
                <img title="leaderg_logo" alt="leaderg_logo" src="img/leaderg_logo.png" />
            </div>
            <div class="imgItem">
                <img title="topzdrav_logo" alt="topzdrav_logo" src="img/topzdrav_logo.png" />
            </div>
            <div class="imgItem">
                <img title="clean-avto_logo" alt="clean-avto_logo" src="img/clean-avto_logo.png" />
            </div>
            <div class="imgItem">
                <img title="poolstroi_logo" alt="poolstroi_logo" src="img/poolstroi_logo.png" />
            </div>
            <div class="imgItem">
                <img title="ledflux-logo" alt="ledflux-logo" src="img/ledflux-logo.png" />
            </div>
            <div class="imgItem">
                <img title="polimersale_logo" alt="polimersale_logo" src="img/polimersale_logo.png" />
            </div>
            <div class="imgItem">
                <img title="asal_logo" alt="asal_logo" src="img/asal_logo.png" />
            </div>
            <div class="imgItem">
                <img title="rogdenie_logo" alt="rogdenie_logo" src="img/rogdenie_logo.png" />
            </div>
            <div class="imgItem">
                <img title="autosteklo24_logo" alt="autosteklo24_logo" src="img/autosteklo24_logo.png" />
            </div>
            <div class="imgItem">
                <img title="awgroup_logo" alt="awgroup_logo" src="img/awgroup_logo.png" />
            </div>
            <div class="imgItem">
                <img title="glass-leader_logo" alt="glass-leader_logo" src="img/glass-leader_logo.png" />
            </div>
            <div class="imgItem">
                <img title="kromas_logo" alt="kromas_logo" src="img/kromas_logo.png" />
            </div>
            <div class="imgItem">
                <img title="taxicel_logo" alt="taxicel_logo" src="img/taxicel_logo.png" />
            </div>
            <div class="imgItem">
                <img title="mitsubishi-electric_logo" alt="mitsubishi-electric_logo"
                    src="img/mitsubishi-electric_logo.png" />
            </div>
            <div class="imgItem">
                <img title="carpet-gold_logo" alt="carpet-gold_logo" src="img/carpet-gold_logo.png" />
            </div>
            <div class="imgItem">
                <img title="yarex_logo" alt="yarex_logo" src="img/yarex_logo.png" />
            </div>
            <div class="imgItem">
                <img title="leaderg_logo" alt="leaderg_logo" src="img/leaderg_logo.png" />
            </div>
            <div class="imgItem">
                <img title="topzdrav_logo" alt="topzdrav_logo" src="img/topzdrav_logo.png" />
            </div>
            <div class="imgItem">
                <img title="clean-avto_logo" alt="clean-avto_logo" src="img/clean-avto_logo.png" />
            </div>
            <div class="imgItem">
                <img title="poolstroi_logo" alt="poolstroi_logo" src="img/poolstroi_logo.png" />
            </div>
            <div class="imgItem">
                <img title="ledflux-logo" alt="ledflux-logo" src="img/ledflux-logo.png" />
            </div>
            <div class="imgItem">
                <img title="polimersale_logo" alt="polimersale_logo" src="img/polimersale_logo.png" />
            </div>
            <div class="imgItem">
                <img title="asal_logo" alt="asal_logo" src="img/asal_logo.png" />
            </div>
            <div class="imgItem">
                <img title="rogdenie_logo" alt="rogdenie_logo" src="img/rogdenie_logo.png" />
            </div>
            <div class="imgItem">
                <img title="autosteklo24_logo" alt="autosteklo24_logo" src="img/autosteklo24_logo.png" />
            </div>
            <div class="imgItem">
                <img title="awgroup_logo" alt="awgroup_logo" src="img/awgroup_logo.png" />
            </div>
            <div class="imgItem">
                <img title="glass-leader_logo" alt="glass-leader_logo" src="img/glass-leader_logo.png" />
            </div>
            <div class="imgItem">
                <img title="kromas_logo" alt="kromas_logo" src="img/kromas_logo.png" />
            </div>
            <div class="imgItem">
                <img title="clean-avto_logo" alt="clean-avto_logo" src="img/clean-avto_logo.png" />
            </div>
            <div class="imgItem">
                <img title="poolstroi_logo" alt="poolstroi_logo" src="img/poolstroi_logo.png" />
            </div>
            <div class="imgItem">
                <img title="ledflux-logo" alt="ledflux-logo" src="img/ledflux-logo.png" />
            </div>
            <div class="imgItem">
                <img title="polimersale_logo" alt="polimersale_logo" src="img/polimersale_logo.png" />
            </div>
            <div class="imgItem">
                <img title="asal_logo" alt="asal_logo" src="img/asal_logo.png" />
            </div>
            <div class="imgItem">
                <img title="rogdenie_logo" alt="rogdenie_logo" src="img/rogdenie_logo.png" />
            </div>
            <div class="imgItem">
                <img title="autosteklo24_logo" alt="autosteklo24_logo" src="img/autosteklo24_logo.png" />
            </div>
            <div class="imgItem">
                <img title="awgroup_logo" alt="awgroup_logo" src="img/awgroup_logo.png" />
            </div>
            <div class="imgItem">
                <img title="glass-leader_logo" alt="glass-leader_logo" src="img/glass-leader_logo.png" />
            </div>
            <div class="imgItem">
                <img title="kromas_logo" alt="kromas_logo" src="img/kromas_logo.png" />
            </div>
            <div class="imgItem">
                <img title="clean-avto_logo" alt="clean-avto_logo" src="img/clean-avto_logo.png" />
            </div>
            <div class="imgItem">
                <img title="poolstroi_logo" alt="poolstroi_logo" src="img/poolstroi_logo.png" />
            </div>
            <div class="imgItem">
                <img title="ledflux-logo" alt="ledflux-logo" src="img/ledflux-logo.png" />
            </div>
            <div class="imgItem">
                <img title="polimersale_logo" alt="polimersale_logo" src="img/polimersale_logo.png" />
            </div>
            <div class="imgItem">
                <img title="asal_logo" alt="asal_logo" src="img/asal_logo.png" />
            </div>
            <div class="imgItem">
                <img title="rogdenie_logo" alt="rogdenie_logo" src="img/rogdenie_logo.png" />
            </div>
            <div class="imgItem">
                <img title="autosteklo24_logo" alt="autosteklo24_logo" src="img/autosteklo24_logo.png" />
            </div>
            <div class="imgItem">
                <img title="awgroup_logo" alt="awgroup_logo" src="img/awgroup_logo.png" />
            </div>
            <div class="imgItem">
                <img title="glass-leader_logo" alt="glass-leader_logo" src="img/glass-leader_logo.png" />
            </div>
            <div class="imgItem">
                <img title="kromas_logo" alt="kromas_logo" src="img/kromas_logo.png" />
            </div>
            <div class="imgItem">
                <img title="clean-avto_logo" alt="clean-avto_logo" src="img/clean-avto_logo.png" />
            </div>
            <div class="imgItem">
                <img title="poolstroi_logo" alt="poolstroi_logo" src="img/poolstroi_logo.png" />
            </div>
            <div class="imgItem">
                <img title="ledflux-logo" alt="ledflux-logo" src="img/ledflux-logo.png" />
            </div>
            <div class="imgItem">
                <img title="polimersale_logo" alt="polimersale_logo" src="img/polimersale_logo.png" />
            </div>
            <div class="imgItem">
                <img title="asal_logo" alt="asal_logo" src="img/asal_logo.png" />
            </div>
            <div class="imgItem">
                <img title="rogdenie_logo" alt="rogdenie_logo" src="img/rogdenie_logo.png" />
            </div>
            <div class="imgItem">
                <img title="autosteklo24_logo" alt="autosteklo24_logo" src="img/autosteklo24_logo.png" />
            </div>
            <div class="imgItem">
                <img title="awgroup_logo" alt="awgroup_logo" src="img/awgroup_logo.png" />
            </div>
            <div class="imgItem">
                <img title="glass-leader_logo" alt="glass-leader_logo" src="img/glass-leader_logo.png" />
            </div>
            <div class="imgItem">
                <img title="kromas_logo" alt="kromas_logo" src="img/kromas_logo.png" />
            </div>
        </div>

        <div class="ourClients__button-wrap">
            <div class="btn-magic-wrapper clickMore">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                result="goo" />
                            <feComposite in="SourceGraphic" in2="goo" />
                        </filter>
                    </defs>
                </svg>

                <span class="bubble-container">
                    <a href="#" class="button button-bubble button-bubble--border">
                        еще
                    </a>
                    <span class="button-bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>

                        <span class="button effect-button effect-button--border"></span>

                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                    </span>
                </span>
            </div>
        </div>


    </div>
</section>