<section class="service-optimization">
    <div class="wrapper">
        <div class="service-optimization__wrap">
            <div class="service-optimization__title main-title">УСЛУГИ</div>

            <div class="service-optimization__group">
                <div class="service-optimization__slider-arrows">
                    <div class="service-optimization__prev">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                    <div class="service-optimization__next">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="service-optimization__slider swiper-container">
                    <div class="service-optimization__slide-wrap swiper-wrapper">
                        <div class="service-optimization__slide swiper-slide">
                            <div class="service-optimization__item card-service-optimization">
                                <div class="card-service-optimization__bg">
                                    <svg class="card-service-optimization__bg-svg --one"
                                        xmlns="http://www.w3.org/2000/svg" width="227" height="52" viewBox="0 0 227 52"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z"
                                            fill="#E9EBF7" />
                                    </svg>

                                    <svg class="card-service-optimization__bg-svg --two"
                                        xmlns="http://www.w3.org/2000/svg" width="70" height="195" viewBox="0 0 70 195"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                                    </svg>

                                </div>

                                <div class="card-service-optimization__icon">
                                    <img src="./img/icon-card-service-optimization-1.svg" alt="">
                                </div>

                                <div class="card-service-optimization__group">
                                    <div class="card-service-optimization__name">Написание текстов для сайта</div>

                                    <div class="card-service-optimization__sign">от 1 дня</div>

                                    <div class="card-service-optimization__price">от 350 р. / 1000 знаков</div>

                                    <div class="card-service-optimization__all">
                                        <a href="#" class="card-service-optimization__button"><span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-optimization__slide swiper-slide">
                            <div class="service-optimization__item card-service-optimization">
                                <div class="card-service-optimization__bg">
                                    <svg class="card-service-optimization__bg-svg --one"
                                        xmlns="http://www.w3.org/2000/svg" width="227" height="52" viewBox="0 0 227 52"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z"
                                            fill="#E9EBF7" />
                                    </svg>

                                    <svg class="card-service-optimization__bg-svg --two"
                                        xmlns="http://www.w3.org/2000/svg" width="70" height="195" viewBox="0 0 70 195"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                                    </svg>

                                </div>
                                <div class="card-service-optimization__icon">
                                    <img src="./img/icon-card-service-optimization-2.svg" alt="">
                                </div>

                                <div class="card-service-optimization__group">
                                    <div class="card-service-optimization__name">Разовая оптимизация сайта</div>

                                    <div class="card-service-optimization__sign">от 31 дня</div>

                                    <div class="card-service-optimization__price">от 20 000 р.</div>

                                    <div class="card-service-optimization__all">
                                        <a href="#" class="card-service-optimization__button"><span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-optimization__slide swiper-slide">
                            <div class="service-optimization__item card-service-optimization">
                                <div class="card-service-optimization__bg">
                                    <svg class="card-service-optimization__bg-svg --one"
                                        xmlns="http://www.w3.org/2000/svg" width="227" height="52" viewBox="0 0 227 52"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z"
                                            fill="#E9EBF7" />
                                    </svg>

                                    <svg class="card-service-optimization__bg-svg --two"
                                        xmlns="http://www.w3.org/2000/svg" width="70" height="195" viewBox="0 0 70 195"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                                    </svg>

                                </div>
                                <div class="card-service-optimization__icon">
                                    <img src="./img/icon-card-service-optimization-3.svg" alt="">
                                </div>

                                <div class="card-service-optimization__group">
                                    <div class="card-service-optimization__name">Составление семантического ядра сайта
                                    </div>

                                    <div class="card-service-optimization__sign">от 1 недели</div>

                                    <div class="card-service-optimization__price">от 3 р. / ключ</div>

                                    <div class="card-service-optimization__all">
                                        <a href="#" class="card-service-optimization__button"><span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-optimization__slide swiper-slide">
                            <div class="service-optimization__item card-service-optimization">
                                <div class="card-service-optimization__bg">
                                    <svg class="card-service-optimization__bg-svg --one"
                                        xmlns="http://www.w3.org/2000/svg" width="227" height="52" viewBox="0 0 227 52"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z"
                                            fill="#E9EBF7" />
                                    </svg>

                                    <svg class="card-service-optimization__bg-svg --two"
                                        xmlns="http://www.w3.org/2000/svg" width="70" height="195" viewBox="0 0 70 195"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                                    </svg>

                                </div>
                                <div class="card-service-optimization__icon">
                                    <img src="./img/icon-card-service-optimization-4.svg" alt="">
                                </div>

                                <div class="card-service-optimization__group">
                                    <div class="card-service-optimization__name">Техническая оптимизация сайта</div>

                                    <div class="card-service-optimization__sign">до 3 недель</div>

                                    <div class="card-service-optimization__price">от 15 000 р.</div>

                                    <div class="card-service-optimization__all">
                                        <a href="#" class="card-service-optimization__button">
                                            <span>Подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>