<section class="case-site">
    <div class="wrapper">
        <div class="case-site__wrap">
            <div class="case-site__group">
                <div class="case-site__title main-title">КАК МЫ ПОДНЯЛИ САЙТ ПО КЛИНИНГУ И АУТСОРСИНГУ В ТОП ПО РОССИИ
                </div>

                <div class="case-site__sign">КЕЙС SEO 1</div>
            </div>

            <div class="case-site__logo">
                <img src="./img/image-logo-case-1.png" alt="">
            </div>
        </div>
    </div>
</section>