<section class="portfolio-review js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-review__wrap">
            <div class="portfolio-review__group-title">
                <div class="portfolio-review__numbers numbers-portfolio" data-letter="11">11</div>
                <div class="portfolio-review__title main-title">отзыв</div>
            </div>

            <div class="portfolio-review__review-item card-portfolio-review">
                <div class="card-portfolio-review__row">
                    <div class="card-portfolio-review__column">
                        <div class="card-portfolio-review__logo">
                            <img src="./img/image-card-portfolio-review-logo.png" alt="">
                        </div>

                        <div class="card-portfolio-review__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
                                mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </p>

                            <p>
                                Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus.
                            </p>
                        </div>
                    </div>

                    <div class="card-portfolio-review__column">
                        <div class="card-portfolio-review__avatar">
                            <img src="./img/image-gallery-small-6.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-portfolio-review__group">
                    <a href="#" class="card-portfolio-review__link" target="_blank">
                        <lord-icon class="card-portfolio-review__lord-icon" target="a" trigger="morph"
                            src="img/lord-icon-included-price.json">
                        </lord-icon>
                        <span class="card-portfolio-review__link-text">Благодарственное письмо</span>
                    </a>

                    <div class="card-portfolio-review__group-info">
                        <div class="card-portfolio-review__name">Иван Иванов</div>
                        <div class="card-portfolio-review__post">Руководитель компании "Прометр"</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case-other-block portfolio-other">
    <div class="wrapper">
        <div class="case-other-block__wrap">
            <div class="case-other-block__other-case other-case">
                <a href="#" class="other-case__item --prev">
                    <div class="other-case__item-group">
                        <span class="other-case__name">Смотреть предыдущий кейс</span>
                        <span class="other-case__sign">
                            Разработали сайт по ремонту бытовой техники и продвинули с нуля по Москве и области
                        </span>
                    </div>
                    <div class="other-case__arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                </a>

                <div class="other-case__share">
                    <div class="other-case__block block-share">
                        <div class="block-share__text">Поделиться кейсом:</div>

                        <div class="block-share__social">
                            <div class="ya-share2" data-curtain data-size="l" data-shape="round"
                                data-color-scheme="whiteblack"
                                data-services="vkontakte,facebook,twitter,pinterest,linkedin"></div>
                        </div>
                    </div>
                </div>

                <a href="#" class="other-case__item --next">
                    <div class="other-case__item-group">
                        <span class="other-case__name">
                            Смотреть следующий кейс
                        </span>
                        <span class="other-case__sign">
                            Продвижение интернет-магазина
                            инженерной сантехники с нуля
                        </span>
                    </div>
                    <div class="other-case__arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>