<div class="marketplace-experience">
    <div class="marketplace-experience__wrap">
        <div class="wrapper">
            <div class="marketplace-experience__title main-title">
                С какими тематиками у нас уже<br> есть опыт
            </div>
        </div>


        <div class="marketplace-experience__ticker infinite-ticker">
            <div class="infinite-ticker__lsit">
                <div class="infinite-ticker__item">Электроника</div>
                <div class="infinite-ticker__item">Одежда</div>
                <div class="infinite-ticker__item">Обувь</div>
                <div class="infinite-ticker__item">Дом и сад</div>
                <div class="infinite-ticker__item">Детские товары</div>
                <div class="infinite-ticker__item">Красота и здоровье</div>
                <div class="infinite-ticker__item">Бытовая техника</div>
                <div class="infinite-ticker__item">Спорт и отдых</div>

                <div class="infinite-ticker__item">Электроника</div>
                <div class="infinite-ticker__item">Одежда</div>
                <div class="infinite-ticker__item">Обувь</div>
                <div class="infinite-ticker__item">Дом и сад</div>
                <div class="infinite-ticker__item">Детские товары</div>
                <div class="infinite-ticker__item">Красота и здоровье</div>
                <div class="infinite-ticker__item">Бытовая техника</div>
                <div class="infinite-ticker__item">Спорт и отдых</div>
            </div>

            <div class="infinite-ticker__lsit">
                <div class="infinite-ticker__item">Строительство и ремонт</div>
                <div class="infinite-ticker__item">Продукты питания</div>
                <div class="infinite-ticker__item">Канцелярские товары</div>
                <div class="infinite-ticker__item">Товары для взрослых</div>
                <div class="infinite-ticker__item">Антиквариат и коллекционирование</div>
                <div class="infinite-ticker__item">Аптека</div>
                <div class="infinite-ticker__item">Товары для животных</div>
                <div class="infinite-ticker__item">Книги</div>

                <div class="infinite-ticker__item">Строительство и ремонт</div>
                <div class="infinite-ticker__item">Продукты питания</div>
                <div class="infinite-ticker__item">Канцелярские товары</div>
                <div class="infinite-ticker__item">Товары для взрослых</div>
                <div class="infinite-ticker__item">Антиквариат и коллекционирование</div>
                <div class="infinite-ticker__item">Аптека</div>
                <div class="infinite-ticker__item">Товары для животных</div>
                <div class="infinite-ticker__item">Книги</div>
            </div>

            <div class="infinite-ticker__lsit">
                <div class="infinite-ticker__item">Туризм, рыбалка. охота</div>
                <div class="infinite-ticker__item">Мебель</div>
                <div class="infinite-ticker__item">Хобби и творчество</div>
                <div class="infinite-ticker__item">Ювелирные украшения</div>
                <div class="infinite-ticker__item">Аксессуары</div>
                <div class="infinite-ticker__item">Игры и консоли</div>
                <div class="infinite-ticker__item">Цифровые товары</div>
                <div class="infinite-ticker__item">Бытовая химия и гигиена</div>
                <div class="infinite-ticker__item">Туризм, рыбалка. охота</div>
                <div class="infinite-ticker__item">Мебель</div>
                <div class="infinite-ticker__item">Хобби и творчество</div>
                <div class="infinite-ticker__item">Ювелирные украшения</div>
                <div class="infinite-ticker__item">Аксессуары</div>
                <div class="infinite-ticker__item">Игры и консоли</div>
                <div class="infinite-ticker__item">Цифровые товары</div>
                <div class="infinite-ticker__item">Бытовая химия и гигиена</div>
            </div>
        </div>
    </div>
</div>