<div class="breadcrumbs">
    <div class="wrapper">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item"><span>Страница</span></li>
        </ul>
    </div>
</div>