<section class="section-ad-advantages">
    <div class="wrapper">
        <div class="section-ad-advantages__wrap">

            <div class="section-ad-advantages__group">
                <div class="section-ad-advantages__group-icon">
                    <div class="section-ad-advantages__icon"><img src="./img/icon-ad-advantages-1.svg" alt=""></div>

                    <div class="section-ad-advantages__icon-text">Точно попадаем в аудиторию</div>
                </div>

                <div class="section-ad-advantages__group-icon">
                    <div class="section-ad-advantages__icon"><img src="./img/icon-ad-advantages-2.svg" alt=""></div>

                    <div class="section-ad-advantages__icon-text">Создаем вирусные проекты</div>
                </div>
            </div>


            <div class="section-ad-advantages__text tagline">Мотивируем сделать покупку здесь и сейчас! Только целевые
                переходы
                по коммерческим ключам</div>
        </div>
    </div>
</section>