<section class="portfolio-client js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-client__wrap">

            <div class="portfolio-client__row">
                <div class="portfolio-client__column">
                    <div class="portfolio-client__numbers numbers-portfolio" data-letter="1">1</div>

                    <div class="portfolio-client__group">
                        <div class="portfolio-client__title main-title">О КЛИЕНТЕ</div>

                        <div class="portfolio-client__description">
                            <p>
                                Повседневная практика показывает, что укрепление и развитие структуры в значительной
                                степени обуславливает создание модели развития. С другой стороны постоянное
                                информационно-пропагандистское обеспечение нашей деятельности способствует
                                подготовки и реализации направлений прогрессивного развития. Не следует, однако
                                забывать, что укрепление и развитие структуры способствует подготовки и реализации
                                позиций, занимаемых участниками в отношении поставленных задач.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="portfolio-client__column">
                    <div class="portfolio-client__image">
                        <img src="./img/image-portfolio-client.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>