<section class="economy">
    <div class="wrapper">
        <div class="economy__wrap">
            <div class="economy__title main-title">ХОТИТЕ СЭКОНОМИТЬ?</div>

            <div class="economy__list">
                <div class="economy__item card-economy">
                    <div class="card-economy__bg">
                        <svg class="card-economy__bg-svg --one" xmlns="http://www.w3.org/2000/svg" width="227"
                            height="52" viewBox="0 0 227 52" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z" fill="#E9EBF7" />
                        </svg>

                        <svg class="card-economy__bg-svg --two" xmlns="http://www.w3.org/2000/svg" width="70"
                            height="195" viewBox="0 0 70 195" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                        </svg>
                    </div>

                    <div class="card-economy__title">За доверие</div>

                    <div class="card-economy__sale">
                        <span class="card-economy__sale-name">до</span>
                        <span class="card-economy__sale-value">12%</span>
                    </div>

                    <div class="card-economy__text">При оплате сразу за 3, 6 или 12 месяцев продвижения мы дарим нашим
                        клиентам скидки в 3, 6 и 12% соответственно.</div>
                </div>

                <div class="economy__item card-economy">
                    <div class="card-economy__bg">
                        <svg class="card-economy__bg-svg --one" xmlns="http://www.w3.org/2000/svg" width="227"
                            height="52" viewBox="0 0 227 52" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z" fill="#E9EBF7" />
                        </svg>

                        <svg class="card-economy__bg-svg --two" xmlns="http://www.w3.org/2000/svg" width="70"
                            height="195" viewBox="0 0 70 195" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                        </svg>
                    </div>

                    <div class="card-economy__title">За смелость</div>

                    <div class="card-economy__sale">
                        <span class="card-economy__sale-name">до</span>
                        <span class="card-economy__sale-value">20%</span>
                    </div>

                    <div class="card-economy__text">Решиться на смену подрядчика нелегко. Мы понимаем это и потому
                        предоставим вам приветственную скидку за 1-ый месяц, если перейдете к нам от другой
                        SEO-компании.</div>
                </div>

                <div class="economy__item card-economy">
                    <div class="card-economy__bg">
                        <svg class="card-economy__bg-svg --one" xmlns="http://www.w3.org/2000/svg" width="227"
                            height="52" viewBox="0 0 227 52" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z" fill="#E9EBF7" />
                        </svg>

                        <svg class="card-economy__bg-svg --two" xmlns="http://www.w3.org/2000/svg" width="70"
                            height="195" viewBox="0 0 70 195" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                        </svg>
                    </div>

                    <div class="card-economy__title">За доверие</div>

                    <div class="card-economy__sale">
                        <span class="card-economy__sale-name">до</span>
                        <span class="card-economy__sale-value">10%</span>
                    </div>

                    <div class="card-economy__text">При подписании договора и оплате счета в течение 5 дней после
                        презентации коммерческого предложения делаем скидку 10%.</div>
                </div>
            </div>
        </div>
    </div>
</section>