<section class="tariff --optimization">
    <div class="wrapper">
        <div class="tariff__wrap">
            <div class="tariff__title main-title">ТАРИФЫ НА СОПРОВОЖДЕНИЕ САЙТОВ</div>

            <div class="tariff__list">
                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-1.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">По позициям</div>
                                <div class="card-dev-all__sign">хотите попасть в топ?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 35 000 р./мес.</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Тогда классический вариант поискового продвижения по позициям в выдаче — для вас!
                                Используя основные алгоритмы продвижения, мы выведем ваш сайт в ТОП по целевым запросам,
                                тем самым увеличим количество «полезных» для вас посетителей.
                            </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                        </div>
                    </div>

                </div>

                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-2.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">SEO + Контест</div>
                                <div class="card-dev-all__sign">Хотите увеличить эффективность?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 45 000 р</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Контекстная реклама быстро приведет новых посетителей, а наши SEO-специалисты сделают
                                глубокий анализ поведенческих факторов, который поможет выполнить продвижение сайтов
                                эффективнее. Мы точно знаем, о чем думает пользователь.
                            </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                        </div>
                    </div>

                </div>

                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-3.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">По трафику</div>
                                <div class="card-dev-all__sign">Хотите платить за результат?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 1 р./переход</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Тариф включает полную проработку семантического ядра, что гарантирует постоянный приток
                                посетителей. Если вы амбициозны и настроены на успех, то этот вариант — ваш. Стоимость
                                SEO продвижения зависит от количества привлекаемого целевого трафика. </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                        </div>
                    </div>

                </div>

                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-4.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">С нуля</div>
                                <div class="card-dev-all__sign">Начинаете продвижение сайта?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 30 000 р./мес.</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Тариф разработан для молодых или небольших сайтов со средним уровнем конкуренции. Мы
                                исключаем все «жирные» запросы из рациона. «Белое» SEO-продвижение обеспечит защиту от
                                санкций.</p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                        </div>
                    </div>

                </div>

                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-5.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Комплексное</div>
                                <div class="card-dev-all__sign">Хотите максимальный результат?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 40 000 р</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Предлагаем полный комплекс услуг, который включает в себя адаптацию проекта под более
                                200 коммерческих и поведенческих факторов ранжирования в поисковой выдаче. Учитываем все
                                новые тенденции в развитии технологий и продвижении сайта в поисковых системах.
                            </p>
                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tariff__item card-dev-all">

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-6.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Экспресс - раскрутка</div>
                                <div class="card-dev-all__sign">Да ладно?</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">Бесплатно</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Нужно продвинуться в интернете бесплатно и быстро? Мы поможем вам! Раскрутите свой
                                проект в режиме "онлайн" с помощью уникальной разработки нашей веб студии
                            </p>
                            <div class="card-dev-all__wrap-button">
                                <a href="#" class="card-dev-all__button"><span>Подробнее</span></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="tariff__sign">* Кроме типовых тарифов у нас есть гибкая система заявки часов. Напишите
                нужное
                вам количество часов, и вы узнаете стоимость и условия.
            </div>
        </div>
</section>