<section class="section-people-cert">
    <div class="wrapper">
        <div class="section-people-cert__wrap">
            <div class="section-people-cert__lsit">
                <div class="section-people-cert__item card-people-cert">
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__number">30</div>
                        <div class="card-people-cert__text">сотрудников</div>
                    </div>
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__name">Имеют личные сертификаты Яндекс Метрика</div>
                        <div class="card-people-cert__group">
                            <div class="card-people-cert__item">
                                <div class="card-people-cert__image"><img src="./img/card-people-cert-image-1.png"
                                        alt=""></div>
                                <div class="card-people-cert__sign">Специалист по Метрике</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-people-cert__item card-people-cert">
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__number">5</div>
                        <div class="card-people-cert__text">сотрудников</div>
                    </div>
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__name">Имеют личные сертификаты Яндекс Директ</div>
                        <div class="card-people-cert__group">
                            <div class="card-people-cert__item">
                                <div class="card-people-cert__image"><img src="./img/card-people-cert-image-1.png"
                                        alt=""></div>
                                <div class="card-people-cert__sign">Специалист по Директ</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-people-cert__item card-people-cert">
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__number">28</div>
                        <div class="card-people-cert__text">сотрудников</div>
                    </div>
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__name">Имеют личные сертификаты Google Analytics и Tag Manager
                        </div>
                        <div class="card-people-cert__group">
                            <div class="card-people-cert__item">
                                <div class="card-people-cert__image"><img src="./img/card-people-cert-image-2.png"
                                        alt=""></div>
                                <div class="card-people-cert__sign">Google Tag Manager</div>
                            </div>

                            <div class="card-people-cert__item">
                                <div class="card-people-cert__image"><img src="./img/card-people-cert-image-3.png"
                                        alt=""></div>
                                <div class="card-people-cert__sign">Google Analytics</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-people-cert__item card-people-cert">
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__number">3</div>
                        <div class="card-people-cert__text">сотрудников</div>
                    </div>
                    <div class="card-people-cert__column">
                        <div class="card-people-cert__name">Имеют личные сертификаты Google Ads</div>
                        <div class="card-people-cert__group">
                            <div class="card-people-cert__item">
                                <div class="card-people-cert__image"><img src="./img/card-people-cert-image-4.png"
                                        alt=""></div>
                                <div class="card-people-cert__sign">Специалист по Google Ads</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>