<section class="optimization">
    <div class="wrapper">
        <div class="optimization__wrap">
            <div class="optimization__title main-title">
                ПОИСКОВАЯ ОПТИМИЗАЦИЯ И<br> ПРОДВИЖЕНИЕ САЙТОВ
            </div>

            <div class="optimization__subtitle">
                Наше SЕО оставит ваших конкурентов далеко позади
            </div>

            <div class="optimization__row">
                <div class="optimization__column">
                    <div class="optimization__text">
                        От <span>1 000</span> рублей в день!
                    </div>

                    <div class="optimization__text">
                        Средний срок сотрудничества с нами <span>2-4 года</span>
                    </div>

                    <div class="optimization__button">
                        <div class="btn-magic-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                        <feComposite in="SourceGraphic" in2="goo" />
                                    </filter>
                                </defs>
                            </svg>
                            <span class="bubble-container">
                                <a href="#" class="button button-bubble ">
                                    Получить индивидуальное предложение
                                </a>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button "></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="optimization__column">
                    <div class="number-info">
                        <div class="number-info__title">
                            5
                        </div>
                        <div class="number-info__img">
                            <img src="img/svsh.png" width="150" alt="">
                        </div>
                        <div class="number-info__text">
                            место SEO студий России
                            в e-commerce тематике
                            (Рейтинг Рунета)
                            <a href="#"><span>PDF</span></a>
                        </div>
                    </div>
                </div>

                <div class="optimization__column">
                    <a href="#" class="optimization__group-link">
                        <span class="optimization__link">Кейсы SEO</span>
                        <lord-icon class="optimization__lord-icon" target="a" trigger="morph"
                            src="img/lord-icon-optimization-1.json">
                        </lord-icon>
                    </a>
                </div>

                <div class="optimization__column">
                    <a href="#" class="optimization__group-link">
                        <span class="optimization__link">Графики</span>
                        <lord-icon class="optimization__lord-icon" target="a" trigger="hover"
                            src="img/lord-icon-optimization-2.json">
                        </lord-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>