<section class="portfolio-animation js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-animation__wrap">
            <div class="portfolio-animation__group-title">
                <div class="portfolio-animation__numbers numbers-portfolio" data-letter="9">9</div>

                <div class="portfolio-animation__title main-title">Анимация</div>
            </div>

            <div class="portfolio-animation__group-video">
                <div class="portfolio-animation__preview">
                    <div class="portfolio-animation__preview-image">
                        <img src="./img/image-profile-video-prev.png" alt="">
                    </div>

                    <div class="portfolio-animation__play">
                        <div class="portfolio-animation__play-circle"></div>
                        <button class="portfolio-animation__play-btn">
                        </button>
                    </div>
                </div>

                <video src="./img/porfolio-test-video.mp4" class="portfolio-animation__video" controls></video>
            </div>
        </div>

        <div class="bubbles">
            <div class="bubble"
                style="--size:2.1939356245073895rem; --distance:7.741646339804343rem; --position:-0.19096436896116842%; --time:3.668615605614397s; --delay:-2.9782937386409487s;">
            </div>
            <div class="bubble"
                style="--size:3.847493586250761rem; --distance:8.171974420578735rem; --position:67.59702406783796%; --time:2.6873799451217986s; --delay:-2.395082426830815s;">
            </div>
            <div class="bubble"
                style="--size:2.1115948600523504rem; --distance:6.2573581446105715rem; --position:70.3769372874056%; --time:2.2693003690093807s; --delay:-3.792504169413776s;">
            </div>
            <div class="bubble"
                style="--size:4.883855580540417rem; --distance:6.857049664890614rem; --position:16.08667996218949%; --time:3.520835345030062s; --delay:-2.2100131300702626s;">
            </div>
            <div class="bubble"
                style="--size:3.3614585686682794rem; --distance:8.90400788951194rem; --position:89.23188246211294%; --time:3.0691182411321045s; --delay:-2.4570740247880636s;">
            </div>
            <div class="bubble"
                style="--size:4.096693613405258rem; --distance:7.526114398808928rem; --position:14.708829750289794%; --time:2.591864116227499s; --delay:-2.53727177050855s;">
            </div>
            <div class="bubble"
                style="--size:4.587684949130577rem; --distance:8.95343368567811rem; --position:12.03672971451278%; --time:2.374917914502034s; --delay:-3.4094063604572153s;">
            </div>
            <div class="bubble"
                style="--size:4.864247405594019rem; --distance:9.779073214077854rem; --position:13.85052525590671%; --time:2.2921261781833633s; --delay:-3.8635103406747033s;">
            </div>
            <div class="bubble"
                style="--size:4.158932808382458rem; --distance:6.95290724991473rem; --position:44.67214998953063%; --time:2.1515575312213024s; --delay:-2.528836998445073s;">
            </div>
            <div class="bubble"
                style="--size:5.103534978746542rem; --distance:7.40422289968559rem; --position:100.96768563970137%; --time:2.4078506487110722s; --delay:-2.283579802976809s;">
            </div>
            <div class="bubble"
                style="--size:4.366042388756391rem; --distance:7.3192910688117285rem; --position:49.12596130996389%; --time:2.8030558371196572s; --delay:-2.569726783611383s;">
            </div>
            <div class="bubble"
                style="--size:3.067051608906806rem; --distance:8.100833674560509rem; --position:89.3018520910528%; --time:2.3195809032020445s; --delay:-2.6666859749634044s;">
            </div>
            <div class="bubble"
                style="--size:4.325318771296529rem; --distance:9.526083529321347rem; --position:85.65195464795407%; --time:3.2098564296578864s; --delay:-3.435701846965199s;">
            </div>
            <div class="bubble"
                style="--size:4.561981944236921rem; --distance:7.410272267556032rem; --position:41.95771459507461%; --time:3.8170470442720736s; --delay:-3.4304812427369966s;">
            </div>
            <div class="bubble"
                style="--size:3.3578257735956853rem; --distance:9.753076109675327rem; --position:68.5054643055871%; --time:3.1841256140691896s; --delay:-2.500948306752791s;">
            </div>
            <div class="bubble"
                style="--size:5.1774664462248134rem; --distance:6.69377071994285rem; --position:23.08706539752636%; --time:2.319738929940229s; --delay:-3.6899430024234112s;">
            </div>
            <div class="bubble"
                style="--size:5.0751386665675655rem; --distance:9.94453138284833rem; --position:26.51841270220023%; --time:3.4529299855382436s; --delay:-3.040440430453066s;">
            </div>
            <div class="bubble"
                style="--size:5.309408633227502rem; --distance:7.151337681918911rem; --position:35.29829332755427%; --time:2.31135420849398s; --delay:-2.056256649207598s;">
            </div>
            <div class="bubble"
                style="--size:2.0845947964339366rem; --distance:6.081748022481166rem; --position:95.74046142149051%; --time:2.0110087228268525s; --delay:-2.4246332321853603s;">
            </div>
            <div class="bubble"
                style="--size:3.011401875934527rem; --distance:8.704633168818916rem; --position:48.29612762825416%; --time:3.937169349654742s; --delay:-3.3226783598664285s;">
            </div>
            <div class="bubble"
                style="--size:2.030621229301282rem; --distance:8.78225569921854rem; --position:65.38377844616433%; --time:3.8008158126474885s; --delay:-3.938387093430523s;">
            </div>
            <div class="bubble"
                style="--size:5.757638422547479rem; --distance:7.593450273584677rem; --position:65.65097110855355%; --time:2.5958458313954687s; --delay:-2.1370890081322007s;">
            </div>
            <div class="bubble"
                style="--size:4.93425173686699rem; --distance:8.866724545593371rem; --position:31.9958912086802%; --time:2.02485820866397s; --delay:-2.6034558043241964s;">
            </div>
            <div class="bubble"
                style="--size:3.790458791934741rem; --distance:7.607551264190397rem; --position:30.613122025580005%; --time:3.4407240267974997s; --delay:-3.1612826568766366s;">
            </div>
            <div class="bubble"
                style="--size:2.147779058144292rem; --distance:8.37253238637647rem; --position:53.19157971031913%; --time:2.3875744651556388s; --delay:-3.41113543726253s;">
            </div>
            <div class="bubble"
                style="--size:4.732663713160282rem; --distance:6.626226042106146rem; --position:87.18581969557054%; --time:3.4250806057525716s; --delay:-2.386829690426492s;">
            </div>
            <div class="bubble"
                style="--size:5.999730810650283rem; --distance:8.688814905176002rem; --position:103.01227483937507%; --time:3.707090986703097s; --delay:-2.3351302251533927s;">
            </div>
            <div class="bubble"
                style="--size:2.5757755427439575rem; --distance:6.189897064318207rem; --position:62.69342755897867%; --time:3.0943267622475847s; --delay:-3.922833181477592s;">
            </div>
            <div class="bubble"
                style="--size:3.229553797724197rem; --distance:7.445089289586922rem; --position:42.21770341966445%; --time:3.1096774931896305s; --delay:-3.9262151917385277s;">
            </div>
            <div class="bubble"
                style="--size:3.647408995608516rem; --distance:9.185506023917846rem; --position:1.9270285103170792%; --time:3.7975171188183525s; --delay:-2.977332006276714s;">
            </div>
            <div class="bubble"
                style="--size:4.956245016768171rem; --distance:7.320367136349327rem; --position:15.075692597224403%; --time:2.4253464455601255s; --delay:-3.7267999107086913s;">
            </div>
            <div class="bubble"
                style="--size:5.447265252307629rem; --distance:8.065657864641368rem; --position:-3.1006789366108323%; --time:2.296142970853606s; --delay:-2.981272783224533s;">
            </div>
            <div class="bubble"
                style="--size:2.8094017128408666rem; --distance:7.576042731369884rem; --position:57.162277200587575%; --time:2.0966217444825785s; --delay:-3.0396354439716076s;">
            </div>
            <div class="bubble"
                style="--size:5.419785178392711rem; --distance:8.090022493254052rem; --position:95.84510064919357%; --time:2.112686009259187s; --delay:-2.589888974430701s;">
            </div>
            <div class="bubble"
                style="--size:5.2584851186703165rem; --distance:9.602499718817207rem; --position:2.868431281524755%; --time:2.7154621326653445s; --delay:-3.4981667903205675s;">
            </div>
            <div class="bubble"
                style="--size:3.8329251131033732rem; --distance:6.506588419716429rem; --position:22.438728329325947%; --time:2.168801078732127s; --delay:-2.2472680117001507s;">
            </div>
            <div class="bubble"
                style="--size:3.56768771710471rem; --distance:9.216256004100451rem; --position:75.77055072062245%; --time:3.5129894535315755s; --delay:-2.319478588835678s;">
            </div>
            <div class="bubble"
                style="--size:4.880981119673542rem; --distance:8.545953844600774rem; --position:47.430010020896496%; --time:3.357567657893386s; --delay:-3.868035846257862s;">
            </div>
            <div class="bubble"
                style="--size:3.2490544564764665rem; --distance:6.35678802103585rem; --position:-3.0062782541120625%; --time:3.9834410991430103s; --delay:-2.3300814209608283s;">
            </div>
            <div class="bubble"
                style="--size:3.3534387576355833rem; --distance:8.617890317075666rem; --position:48.97016291578263%; --time:3.746766572380065s; --delay:-2.2246324408804035s;">
            </div>
            <div class="bubble"
                style="--size:4.500594324192664rem; --distance:9.452138126179966rem; --position:87.8861118333054%; --time:3.966239451815314s; --delay:-3.9876079242080626s;">
            </div>
            <div class="bubble"
                style="--size:5.198083299046261rem; --distance:6.620867769182022rem; --position:17.849753557636525%; --time:2.002032774339326s; --delay:-2.2439704335615356s;">
            </div>
            <div class="bubble"
                style="--size:4.7343567340234545rem; --distance:7.159690849467325rem; --position:56.71969487022381%; --time:2.729878329642403s; --delay:-2.9392704171685544s;">
            </div>
            <div class="bubble"
                style="--size:5.201482254456181rem; --distance:8.605319534215681rem; --position:24.25023673660087%; --time:3.3232961407010415s; --delay:-2.1766524277044774s;">
            </div>
            <div class="bubble"
                style="--size:2.5573208859874974rem; --distance:9.102068401407386rem; --position:73.63743249073332%; --time:2.8347206370183584s; --delay:-3.8560061904538827s;">
            </div>
            <div class="bubble"
                style="--size:3.449477604690471rem; --distance:8.665921263015132rem; --position:50.53765310967979%; --time:3.5734884466151415s; --delay:-2.3244214967663166s;">
            </div>
            <div class="bubble"
                style="--size:5.905147122242263rem; --distance:7.430010102561366rem; --position:54.51779217512889%; --time:3.7870700859640682s; --delay:-3.592679893488598s;">
            </div>
            <div class="bubble"
                style="--size:2.1755681715352724rem; --distance:6.824325062579663rem; --position:61.207118188259955%; --time:3.2419927568864115s; --delay:-2.5361817481933993s;">
            </div>
            <div class="bubble"
                style="--size:2.4667433640531247rem; --distance:7.3859348330698165rem; --position:18.211182307011%; --time:2.266792130256095s; --delay:-2.98804698358678s;">
            </div>
            <div class="bubble"
                style="--size:2.6082041164814465rem; --distance:6.940266796809586rem; --position:59.07399556882332%; --time:3.7403310462257977s; --delay:-2.4502750509402174s;">
            </div>
            <div class="bubble"
                style="--size:5.585648063763292rem; --distance:8.776580537515155rem; --position:83.45282146611963%; --time:3.632612389107247s; --delay:-2.4946003280819373s;">
            </div>
            <div class="bubble"
                style="--size:4.832372834815444rem; --distance:8.868453140592056rem; --position:61.30478329393483%; --time:3.4379266703854037s; --delay:-3.6707861246243594s;">
            </div>
            <div class="bubble"
                style="--size:5.593742376643064rem; --distance:8.854352724841164rem; --position:39.5720556658861%; --time:2.8189589323201645s; --delay:-3.4339455895937725s;">
            </div>
            <div class="bubble"
                style="--size:4.883591368478371rem; --distance:6.301501326819964rem; --position:33.746828311775396%; --time:2.315039486815205s; --delay:-2.471383882838929s;">
            </div>
            <div class="bubble"
                style="--size:2.951686935361124rem; --distance:8.934964052229073rem; --position:86.22323225232876%; --time:3.615132243517215s; --delay:-2.846781125826457s;">
            </div>
            <div class="bubble"
                style="--size:2.0285270866936456rem; --distance:7.60450269840781rem; --position:66.77530201392089%; --time:3.047532863622705s; --delay:-2.85572273711897s;">
            </div>
            <div class="bubble"
                style="--size:2.7803873315894077rem; --distance:6.079318689955007rem; --position:24.72270237222142%; --time:2.794375454605075s; --delay:-2.0408923977293045s;">
            </div>
            <div class="bubble"
                style="--size:2.1304614111769693rem; --distance:8.304552849609566rem; --position:64.71925195009929%; --time:2.396735910284803s; --delay:-2.308108501111197s;">
            </div>
            <div class="bubble"
                style="--size:4.766251393960799rem; --distance:6.276680722477585rem; --position:33.35810630467215%; --time:2.643989587778501s; --delay:-2.8883100697982895s;">
            </div>
            <div class="bubble"
                style="--size:5.320151313493137rem; --distance:8.868084941580317rem; --position:29.08415546144886%; --time:3.3559065659725413s; --delay:-2.224097488868783s;">
            </div>
            <div class="bubble"
                style="--size:4.012172315083024rem; --distance:6.641275743740632rem; --position:89.54442150747535%; --time:2.1137475925581377s; --delay:-2.106477706845821s;">
            </div>
            <div class="bubble"
                style="--size:2.5680795450835934rem; --distance:8.606920032163263rem; --position:80.1151465748215%; --time:3.9991947702524864s; --delay:-2.7324417570604527s;">
            </div>
            <div class="bubble"
                style="--size:3.6652106209050253rem; --distance:8.066748952667226rem; --position:12.694735041367554%; --time:3.349069835405918s; --delay:-3.606286592879541s;">
            </div>
            <div class="bubble"
                style="--size:2.8417503031347042rem; --distance:7.023548949076012rem; --position:91.32822677877603%; --time:2.0047062944693144s; --delay:-2.071341493710575s;">
            </div>
            <div class="bubble"
                style="--size:4.000161427488858rem; --distance:8.025715843818102rem; --position:6.652363715598941%; --time:3.2221276831626433s; --delay:-3.698150518305688s;">
            </div>
            <div class="bubble"
                style="--size:2.946100461752261rem; --distance:6.931631979181437rem; --position:18.6078216355221%; --time:3.5805026955319037s; --delay:-3.360620813983944s;">
            </div>
            <div class="bubble"
                style="--size:3.950236843357942rem; --distance:6.848511645032608rem; --position:98.116340764393%; --time:2.467695685488417s; --delay:-3.8432026503501064s;">
            </div>
            <div class="bubble"
                style="--size:4.894530015160435rem; --distance:8.964319675045152rem; --position:41.084396604556794%; --time:3.6212585209372365s; --delay:-3.8639293409076765s;">
            </div>
            <div class="bubble"
                style="--size:3.6098643654863336rem; --distance:6.0561654754368375rem; --position:25.578663987114624%; --time:3.9965781525169803s; --delay:-3.204950603301414s;">
            </div>
            <div class="bubble"
                style="--size:5.603663688687981rem; --distance:6.260892115853207rem; --position:0.8473584754847518%; --time:2.524221984845795s; --delay:-2.5945568108886063s;">
            </div>
            <div class="bubble"
                style="--size:3.53080245662869rem; --distance:7.374183882147371rem; --position:5.422114120976369%; --time:2.325654840201533s; --delay:-2.4504082280059616s;">
            </div>
            <div class="bubble"
                style="--size:5.984250036912699rem; --distance:8.000621451656253rem; --position:39.850614035872624%; --time:3.3998483077350303s; --delay:-3.858099988287925s;">
            </div>
            <div class="bubble"
                style="--size:2.7275244900369975rem; --distance:6.726732220234139rem; --position:97.90157948691416%; --time:3.540811781542612s; --delay:-3.0527362045965503s;">
            </div>
            <div class="bubble"
                style="--size:5.674065427582714rem; --distance:7.666573061221947rem; --position:98.47434982142696%; --time:2.0311480998276017s; --delay:-2.956655630257093s;">
            </div>
            <div class="bubble"
                style="--size:5.103335259614582rem; --distance:6.974022631944739rem; --position:76.5096294706682%; --time:2.6951555862217145s; --delay:-3.6030588527003977s;">
            </div>
            <div class="bubble"
                style="--size:4.443842905897018rem; --distance:7.807610100085598rem; --position:-1.775312446292705%; --time:3.847245358266785s; --delay:-3.664488851086181s;">
            </div>
            <div class="bubble"
                style="--size:3.459882445763328rem; --distance:9.579701150729996rem; --position:22.234835391457185%; --time:3.073071318801741s; --delay:-3.972181389371258s;">
            </div>
            <div class="bubble"
                style="--size:2.159519432343483rem; --distance:6.798709760155042rem; --position:66.20097720386441%; --time:2.8390606419201965s; --delay:-2.315835213984528s;">
            </div>
            <div class="bubble"
                style="--size:2.6228277177385264rem; --distance:9.85393141413741rem; --position:10.630354323145315%; --time:3.7529626364410698s; --delay:-2.0451511757226255s;">
            </div>
            <div class="bubble"
                style="--size:3.2249220232768714rem; --distance:9.121969007748191rem; --position:104.31220191445837%; --time:3.0001575291875384s; --delay:-2.129990442425542s;">
            </div>
            <div class="bubble"
                style="--size:2.7201451038726105rem; --distance:8.549251849906447rem; --position:59.352837887089166%; --time:2.5092977209205953s; --delay:-3.1495385838809997s;">
            </div>
            <div class="bubble"
                style="--size:4.689167734348464rem; --distance:9.333668668561872rem; --position:91.94535204034337%; --time:3.4799453110111878s; --delay:-3.7058976950735807s;">
            </div>
            <div class="bubble"
                style="--size:2.8317247965518124rem; --distance:9.964762722833092rem; --position:49.09222101527456%; --time:3.308345592733917s; --delay:-3.374899019866158s;">
            </div>
            <div class="bubble"
                style="--size:5.815902703884296rem; --distance:7.630743122814086rem; --position:6.82884435750622%; --time:3.9812468423050347s; --delay:-2.9358278679112573s;">
            </div>
            <div class="bubble"
                style="--size:5.143389827551901rem; --distance:7.559457237206611rem; --position:-0.48924338670107037%; --time:3.261483617858967s; --delay:-3.1564562907503984s;">
            </div>
            <div class="bubble"
                style="--size:3.1500437201813023rem; --distance:9.016453319356014rem; --position:41.69573164813072%; --time:3.128568230041754s; --delay:-3.327168544027889s;">
            </div>
            <div class="bubble"
                style="--size:4.2861984591385rem; --distance:6.536972571021698rem; --position:89.72262699826548%; --time:3.8352320387761534s; --delay:-2.3259456447646545s;">
            </div>
            <div class="bubble"
                style="--size:5.546667638559027rem; --distance:7.148156885516496rem; --position:84.23296487854911%; --time:2.771958802011104s; --delay:-2.1667367743325037s;">
            </div>
            <div class="bubble"
                style="--size:2.907969142341128rem; --distance:6.913386861324011rem; --position:4.501709896109736%; --time:3.1339451645511542s; --delay:-2.1191202476874476s;">
            </div>
            <div class="bubble"
                style="--size:4.749472234262527rem; --distance:7.576637156655144rem; --position:54.54329826219426%; --time:3.291697333695744s; --delay:-2.7187865858637s;">
            </div>
            <div class="bubble"
                style="--size:5.121200678104989rem; --distance:9.802201429425454rem; --position:-4.2609764374810695%; --time:2.358081310270529s; --delay:-3.711954347136605s;">
            </div>
            <div class="bubble"
                style="--size:5.731332347223291rem; --distance:9.493953187859027rem; --position:94.4798400775543%; --time:3.893752286671995s; --delay:-3.8393590436977694s;">
            </div>
            <div class="bubble"
                style="--size:5.063811237014857rem; --distance:9.259007930689343rem; --position:67.68126743803165%; --time:3.32545299838952s; --delay:-3.5675434546251257s;">
            </div>
            <div class="bubble"
                style="--size:5.936058332949974rem; --distance:7.159196126256568rem; --position:42.00949965143334%; --time:3.860871264151561s; --delay:-3.4262545610313824s;">
            </div>
            <div class="bubble"
                style="--size:4.348293213092065rem; --distance:9.065382430175433rem; --position:65.22925300461961%; --time:3.325727893909831s; --delay:-2.7126880455521922s;">
            </div>
            <div class="bubble"
                style="--size:3.066403729314601rem; --distance:8.81947549331332rem; --position:46.498803885290656%; --time:3.5445754584962343s; --delay:-2.264577526320396s;">
            </div>
            <div class="bubble"
                style="--size:2.255956150656316rem; --distance:6.571496049286117rem; --position:55.47853817319266%; --time:2.7182326202609017s; --delay:-2.1427792957181935s;">
            </div>
            <div class="bubble"
                style="--size:5.102327613430635rem; --distance:8.916233268405566rem; --position:12.12496870920561%; --time:2.9898373817981834s; --delay:-2.491012908234283s;">
            </div>
            <div class="bubble"
                style="--size:4.734257665617773rem; --distance:8.0949516709982rem; --position:83.65251054096933%; --time:3.334893199265454s; --delay:-3.2324826655004353s;">
            </div>
            <div class="bubble"
                style="--size:2.7445912821805125rem; --distance:8.450535384380277rem; --position:66.09303587143332%; --time:3.266866590415954s; --delay:-2.6048935150846835s;">
            </div>
            <div class="bubble"
                style="--size:2.2332586676951625rem; --distance:6.562198818629506rem; --position:10.396734040266404%; --time:2.658418972427546s; --delay:-2.4519415630894903s;">
            </div>
            <div class="bubble"
                style="--size:5.852025320939269rem; --distance:8.364301368699572rem; --position:-2.8068550450802476%; --time:2.3212150887986547s; --delay:-3.5723047007572926s;">
            </div>
            <div class="bubble"
                style="--size:5.552309518721319rem; --distance:8.325258610372245rem; --position:40.904809548595644%; --time:3.3777809872957327s; --delay:-3.302992459642968s;">
            </div>
            <div class="bubble"
                style="--size:4.63505907719511rem; --distance:7.763111711395742rem; --position:6.1577490752257305%; --time:2.387709223203375s; --delay:-2.3942675833847193s;">
            </div>
            <div class="bubble"
                style="--size:2.90716277407674rem; --distance:9.397284420357886rem; --position:84.66119435448874%; --time:2.238025925763384s; --delay:-3.5242719778548124s;">
            </div>
            <div class="bubble"
                style="--size:3.1603057816312115rem; --distance:7.307402541781477rem; --position:24.365869793000332%; --time:2.492955722740514s; --delay:-2.768916391903722s;">
            </div>
            <div class="bubble"
                style="--size:2.7771160245073387rem; --distance:8.528552506151609rem; --position:94.2004753353653%; --time:2.197326986396462s; --delay:-3.9166679482834117s;">
            </div>
            <div class="bubble"
                style="--size:4.431651815242573rem; --distance:7.876671833787371rem; --position:102.08523886291424%; --time:3.1398925937404067s; --delay:-2.991601487809141s;">
            </div>
            <div class="bubble"
                style="--size:4.342550983484255rem; --distance:9.608848120957116rem; --position:48.856309192886854%; --time:3.3925383478608295s; --delay:-3.115118803298164s;">
            </div>
            <div class="bubble"
                style="--size:2.572704837000188rem; --distance:7.339175700547352rem; --position:0.7936934779594811%; --time:2.024165477462671s; --delay:-2.1496813569859974s;">
            </div>
            <div class="bubble"
                style="--size:5.937807523136862rem; --distance:6.842868735753313rem; --position:49.85753635933927%; --time:2.4672053918178425s; --delay:-3.043799104159606s;">
            </div>
            <div class="bubble"
                style="--size:2.3958152067134826rem; --distance:7.109242368865156rem; --position:2.5373689619605866%; --time:3.4174534995991808s; --delay:-2.9402043491043446s;">
            </div>
            <div class="bubble"
                style="--size:4.151305326443277rem; --distance:8.244038817300323rem; --position:59.868369365974445%; --time:3.7485582295120814s; --delay:-2.2184725579042017s;">
            </div>
            <div class="bubble"
                style="--size:3.1237671446107873rem; --distance:8.779644932544908rem; --position:103.31891111587656%; --time:2.3452344851221167s; --delay:-2.153341237012047s;">
            </div>
            <div class="bubble"
                style="--size:5.2481655784787735rem; --distance:7.90308506330681rem; --position:43.586286975641265%; --time:2.3235183076176176s; --delay:-2.713182213899898s;">
            </div>
            <div class="bubble"
                style="--size:5.123800616339456rem; --distance:8.973208969317717rem; --position:67.67768855001384%; --time:2.120816014808615s; --delay:-2.3075695091273203s;">
            </div>
            <div class="bubble"
                style="--size:2.6479970614260244rem; --distance:6.78785239959381rem; --position:44.478636356875576%; --time:3.552940018055908s; --delay:-2.9323682214282s;">
            </div>
            <div class="bubble"
                style="--size:5.060188029508388rem; --distance:6.906215931193459rem; --position:57.37189722043767%; --time:3.474607963496448s; --delay:-3.872385444344155s;">
            </div>
            <div class="bubble"
                style="--size:5.245522314007221rem; --distance:6.4153600829423265rem; --position:57.689650005395265%; --time:2.6965901426501766s; --delay:-3.685886173538128s;">
            </div>
            <div class="bubble"
                style="--size:2.2533219434911267rem; --distance:6.1967905972062285rem; --position:71.34823135580318%; --time:3.348246590837595s; --delay:-2.134163867747671s;">
            </div>
            <div class="bubble"
                style="--size:4.420185162417472rem; --distance:7.878147579698988rem; --position:42.541569513164546%; --time:3.0275498824821128s; --delay:-2.93095436137565s;">
            </div>
            <div class="bubble"
                style="--size:5.8839230765373225rem; --distance:9.034170772095772rem; --position:83.39238836192422%; --time:2.0106187004229605s; --delay:-3.351715417491551s;">
            </div>
            <div class="bubble"
                style="--size:3.20654672645239rem; --distance:6.637852566199814rem; --position:25.179398703561585%; --time:2.94669368096107s; --delay:-2.0347695903706087s;">
            </div>
            <div class="bubble"
                style="--size:2.553226646430411rem; --distance:8.275352817990726rem; --position:-2.678408756908892%; --time:2.3911837701827663s; --delay:-3.950153066703479s;">
            </div>
            <div class="bubble"
                style="--size:2.4451760499611197rem; --distance:7.713268533851926rem; --position:84.95904910150098%; --time:3.571128955021222s; --delay:-2.4091463499929073s;">
            </div>
            <div class="bubble"
                style="--size:3.6161516200177504rem; --distance:8.385902307020658rem; --position:96.37335046253709%; --time:2.559985925397516s; --delay:-3.795078107638586s;">
            </div>
            <div class="bubble"
                style="--size:2.47235905440131rem; --distance:8.807381287816511rem; --position:96.86868402039656%; --time:3.8674875960799975s; --delay:-2.7807260471909396s;">
            </div>
            <div class="bubble"
                style="--size:3.4702738877363233rem; --distance:9.744076643901682rem; --position:96.35507450654679%; --time:2.4989879686678105s; --delay:-2.387891267984132s;">
            </div>
        </div>
    </div>
</section>