<section class="portfolio-animation js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-animation__wrap">
            <div class="portfolio-animation__group-title">
                <div class="portfolio-animation__numbers numbers-portfolio" data-letter="9">9</div>

                <div class="portfolio-animation__title main-title">Анимация</div>
            </div>

            <div class="portfolio-animation__group-video">
                <div class="portfolio-animation__preview">
                    <div class="portfolio-animation__preview-image">
                        <img src="./img/image-profile-video-prev.png" alt="">
                    </div>

                    <div class="portfolio-animation__play">
                        <div class="portfolio-animation__play-circle"></div>
                        <button class="portfolio-animation__play-btn">
                        </button>
                    </div>
                </div>

                <video src="./img/porfolio-test-video.mp4" class="portfolio-animation__video" controls></video>
            </div>
        </div>
    </div>
</section>