<section class="share">
    <div class="wrapper">
        <div class="share__wrap">

            <div class="share__group-share">
                <div class="share__block block-share">
                    <div class="block-share__text">Поделиться:</div>

                    <div class="block-share__social">
                        <div class="ya-share2" data-curtain data-size="l" data-shape="round"
                            data-color-scheme="whiteblack"
                            data-services="vkontakte,facebook,twitter,pinterest,linkedin"></div>
                    </div>
                </div>

                <div class="share__text"><span>Увеличили посещаемость</span> сайта из поисковых систем в 25 раз: с 362
                    до
                    9333 человек в
                    месяц.<br>
                    Сайт сейчас занимает позиции на первой странице поисковой выдачи по популярным и конкурентным
                    запросам.
                </div>
            </div>

            <div class="share__sign">
                Компания «Лидер Групп» работает на рынке с 2010 года испециализируется на предоставлении услуг клининга,
                аутстаффинга персонала и технического обслуживания зданий. Имеется множество филиалов по всей России.
            </div>

        </div>
    </div>
</section>