<section class="section-requisites">
    <div class="wrapper">
        <div class="section-requisites__wrap">
            <div class="section-requisites__title main-title">РЕКВИЗИТЫ</div>

            <div class="section-requisites__image-bg"><img src="./img/icon-stamp.png" alt=""></div>

            <div class="section-requisites__list">
                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Полное наименование</span> </div>
                    <div class="section-requisites__item-value">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ВЕСМА»</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Сокращенное наименование</span></div>
                    <div class="section-requisites__item-value">ООО «ВЕСМА»</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Юридический адрес</span></div>
                    <div class="section-requisites__item-value">141431, Московская область, г. Химки, микрорайон
                        Подрезково, ул. Новозаводская, д 12, кв 4</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>ИНН / КПП</span></div>
                    <div class="section-requisites__item-value">5047195795 / 504701001</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>ОГРН</span></div>
                    <div class="section-requisites__item-value">1175029007614</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Телефоны</span></div>
                    <div class="section-requisites__item-value">+7 (495) 118-24-74</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Эл. почта</span></div>
                    <div class="section-requisites__item-value">manager@wesma.ru</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Наименование банка</span></div>
                    <div class="section-requisites__item-value">АО "АЛЬФА-БАНК"</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Местонахождения банка</span></div>
                    <div class="section-requisites__item-value">Город Москва</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Расчетный счет №</span></div>
                    <div class="section-requisites__item-value">40702810602810001427</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>ИНН</span></div>
                    <div class="section-requisites__item-value">7728168971</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>ОГРН</span></div>
                    <div class="section-requisites__item-value">1027700067328</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>БИК</span> </div>
                    <div class="section-requisites__item-value">044525593</div>
                </div>

                <div class="section-requisites__item">
                    <div class="section-requisites__item-name"><span>Корр. счет: </span></div>
                    <div class="section-requisites__item-value">30101810200000000593 в ГУ БАНКА РОССИИ ПО ЦФО</div>
                </div>
            </div>
        </div>
    </div>
</section>