<div class="marketplace-privileges">
    <div class="marketplace-privileges__wrap">
        <div class="wrapper">
            <div class="marketplace-privileges__title main-title">ПРОГРАММА ПРИВИЛЕГИЙ</div>

            <div class="marketplace-privileges__row">
                <div class="marketplace-privileges__column">
                    <div class="marketplace-privileges__sub-title">Не нравится текущий подрядчик?</div>

                    <div class="marketplace-privileges__text">
                        <p>
                            Если вас не устраивает работа, ее результаты или условия сотрудничества с текущим
                            подрядчиком — напишите нам. Мы проведем аудит вашего магазина, построим дорожную карту и
                            подготовим для вас коммерческое предложение.

                        </p>

                        <p>
                            Наш приоритет - Ваша прибыль, а не оборот.
                        </p>
                    </div>

                    <div class="marketplace-privileges__button">
                        <div class="btn-magic-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                        <feComposite in="SourceGraphic" in2="goo" />
                                    </filter>
                                </defs>
                            </svg>
                            <span class="bubble-container">
                                <a href="#" class="button button-bubble ">
                                    Оставить заявку
                                </a>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button "></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="marketplace-privileges__column">
                    <div class="marketplace-privileges__card card-economy">
                        <div class="card-economy__bg">
                            <svg class="card-economy__bg-svg --one" xmlns="http://www.w3.org/2000/svg" width="227"
                                height="52" viewBox="0 0 227 52" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z" fill="#E9EBF7" />
                            </svg>

                            <svg class="card-economy__bg-svg --two" xmlns="http://www.w3.org/2000/svg" width="70"
                                height="195" viewBox="0 0 70 195" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                            </svg>
                        </div>

                        <div class="card-economy__title">За смелость</div>

                        <div class="card-economy__sale">
                            <span class="card-economy__sale-name">до</span>
                            <span class="card-economy__sale-value">20%</span>
                        </div>

                        <div class="card-economy__text">Решиться на смену подрядчика нелегко. Мы понимаем это и потому
                            предоставим вам приветственную скидку за 1-ый месяц продвижения магазина.</div>
                    </div>
                </div>

                <div class="marketplace-privileges__column">
                    <div class="marketplace-privileges__card card-economy">
                        <div class="card-economy__bg">
                            <svg class="card-economy__bg-svg --one" xmlns="http://www.w3.org/2000/svg" width="227"
                                height="52" viewBox="0 0 227 52" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M227 0C227 0 174.486 52 113.5 52C49.2211 52 0 0 0 0H227Z" fill="#E9EBF7" />
                            </svg>

                            <svg class="card-economy__bg-svg --two" xmlns="http://www.w3.org/2000/svg" width="70"
                                height="195" viewBox="0 0 70 195" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0 0C0 0 70 45.1107 70 97.5C70 152.715 0 195 0 195V0Z" fill="#E9EBF7" />
                            </svg>
                        </div>

                        <div class="card-economy__title">За доверие</div>

                        <div class="card-economy__sale">
                            <span class="card-economy__sale-name">до</span>
                            <span class="card-economy__sale-value">10%</span>
                        </div>

                        <div class="card-economy__text">При подписании договора и оплате счета в течение 5 дней после
                            презентации коммерческого предложения - делаем скидку 10%.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>