<section class="star-team">
    <div class="wrapper">
        <div class="star-team__wrap">
            <div class="star-team__row">
                <div class="star-team__column">
                    <div class="star-team__title">Выделяем «<span>звездную</span>» команду под каждый проект</div>

                    <div class="star-team__group">
                        <div class="star-team__subtitle">Персональный проект-менеджер</div>
                        <div class="star-team__text">курирует все вопросы, следит за выполнением работ и держит вас в
                            курсе всех изменений на сайте</div>
                    </div>

                    <div class="star-team__person person-star-team">
                        <div class="person-star-team__list">
                            <div class="person-star-team__item">Веб-дизайнер</div>
                            <div class="person-star-team__item">Маркетолог</div>
                            <div class="person-star-team__item">Seo-специалист</div>
                            <div class="person-star-team__item">Верстальщик</div>
                            <div class="person-star-team__item">Проектировщик</div>
                            <div class="person-star-team__item">Контент-менеджер</div>
                            <div class="person-star-team__item">Программист</div>
                        </div>
                    </div>

                    <div class="star-team__person person-star-team">
                        <div class="person-star-team__title">Опционально:</div>
                        <div class="person-star-team__list">
                            <div class="person-star-team__item">Аккаунт-менеджер</div>
                            <div class="person-star-team__item">Графический дизайнер</div>
                            <div class="person-star-team__item">Креативщик</div>
                            <div class="person-star-team__item">Аналитик</div>
                            <div class="person-star-team__item">Иллюстратор</div>
                            <div class="person-star-team__item">3D визуализатор</div>
                            <div class="person-star-team__item">Видеоредактор</div>
                            <div class="person-star-team__item">Копирайтер</div>
                        </div>
                    </div>

                    <div class="btn-magic-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix"
                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                    <feComposite in="SourceGraphic" in2="goo" />
                                </filter>
                            </defs>
                        </svg>

                        <span class="bubble-container">
                            <a href="#" class="button button-bubble button-bubble--border">
                                Вся наша команда
                            </a>
                            <span class="button-bubble__effect-container">
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>

                                <span class="button effect-button effect-button--border"></span>

                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="star-team__column">
                    <ul id="solar-system">
                        <li class="planetary-body" id="neptune"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t1" style="opacity: 0;"><span>Neptune</span></div>
                                <ul>
                                    <li class="moon" id="naiad">
                                        <div>Naiad</div>
                                    </li>
                                    <li class="moon" id="thalassa">
                                        <div>Thalassa</div>
                                    </li>
                                    <li class="moon" id="despina">
                                        <div>Despina</div>
                                    </li>
                                    <li class="moon" id="galatea">
                                        <div>Galatea</div>
                                    </li>
                                    <li class="moon" id="larissa">
                                        <div>Larissa</div>
                                    </li>
                                    <li class="moon" id="proteus">
                                        <div>Proteus</div>
                                    </li>
                                    <li class="moon" id="triton">
                                        <div>Triton</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="uranus"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t2" style="opacity: 0;"><span>Uranus</span></div>
                                <ul>
                                    <li class="moon" id="puck">
                                        <div>Puck</div>
                                    </li>
                                    <li class="moon" id="miranda">
                                        <div>Miranda</div>
                                    </li>
                                    <li class="moon" id="ariel">
                                        <div>Ariel</div>
                                    </li>
                                    <li class="moon" id="umbriel">
                                        <div>Umbriel</div>
                                    </li>
                                    <li class="moon" id="titania">
                                        <div>Titania</div>
                                    </li>
                                    <li class="moon" id="oberon">
                                        <div>Oberon</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="saturn"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t3" style="opacity: 0;"><span>Saturn</span></div>
                                <ul>
                                    <li class="moon" id="mimas">
                                        <div>Mimas</div>
                                    </li>
                                    <li class="moon" id="enceladus">
                                        <div>Enceladus</div>
                                    </li>
                                    <li class="moon" id="tethys">
                                        <div>Tethys</div>
                                    </li>
                                    <li class="moon" id="dione">
                                        <div>Dione</div>
                                    </li>
                                    <li class="moon" id="rhea">
                                        <div>Rhea</div>
                                    </li>
                                    <li class="moon" id="titan">
                                        <div>Titan</div>
                                    </li>
                                    <li class="moon" id="iapetus">
                                        <div>Iapetus</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="jupiter"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t4" style="opacity: 0;"><span>Jupiter</span></div>
                                <ul>
                                    <li class="moon" id="io">
                                        <div>Io</div>
                                    </li>
                                    <li class="moon" id="europa">
                                        <div>Europa</div>
                                    </li>
                                    <li class="moon" id="ganymede">
                                        <div>Ganymede</div>
                                    </li>
                                    <li class="moon" id="callisto">
                                        <div>Callisto</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="mars"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t5" style="opacity: 0;"><span>Mars</span></div>
                                <ul>
                                    <li class="moon" id="phobos">
                                        <div>Phobos</div>
                                    </li>
                                    <li class="moon" id="deimos">
                                        <div>Deimos</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="earth"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t6" style="opacity: 0;"><span>Earth</span></div>
                                <ul>
                                    <li class="moon" id="moon">
                                        <div>Moon</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="planetary-body" id="venus"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t7" style="opacity: 0;"><span>Venus</span></div>
                            </div>
                        </li>
                        <li class="planetary-body" id="mercury"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t8" style="opacity: 0;"><span>Mercury</span></div>
                            </div>
                        </li>
                        <li class="planetary-body" id="sun"
                            style="border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 0px;">
                            <div>
                                <div id="t9" style="opacity: 0;"><span>Sun</span></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="star-team__column">
                    <div class="star-team__time time-star-team">

                        <div class="time-star-team__group-bg --bg-one">
                            <div class="time-star-team__title">всего от</div>

                        </div>

                        <div class="time-star-team__price">1 400 р</div>

                        <div class="time-star-team__group-bg --bg-two">
                            <div class="time-star-team__title">за час работы<br> специалиста</div>

                            <div class="time-star-team__text">Бюджет предоставляется<br> в виде подробной сметы</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>