<section class="case-result">
    <canvas class="case-result__canvas-bg"></canvas>
    <div class="wrapper">
        <div class="case-result__wrap">
            <div class="case-result__title main-title">РЕЗУЛЬТАТЫ</div>

            <div class="case-result__wrap-slider">
                <div class="case-result__block-task slider-case">
                    <div class="slider-case__slider slider-case-task swiper-container">
                        <div class="slider-case-task__wrap-slide swiper-wrapper">
                            <div class="slider-case-task__slide swiper-slide">
                                <div class="slider-case-task__row">
                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__image">
                                            <img src="./img/image-slider-case-result-1.png" alt="">
                                        </div>

                                        <div class="slider-case-task__image-sign">Видимость КС в ТОП-10 с 31.10.2017 по
                                            24.06.2019 (данные из SpySerp)</div>
                                    </div>

                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__title">Вывод запросов в ТОП</div>

                                        <div class="slider-case-task__text">
                                            На сегодняшний день проект обладает следующими показателями видимости по
                                            ключевым запросам в ТОП-10 Яндекс 21%, в Google – 16%; в ТОП-30 Яндекс 41%
                                            запросов, в Google – 33%
                                            Leaderg.ru вошел в ТОП-10 сайтов по тематике «клининг, аутстаффинг,
                                            аутсорсинг персонала», а также занимает позиции на первой странице поисковой
                                            выдачи по популярным и конкурентным запросам.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-case-task__slide swiper-slide">
                                <div class="slider-case-task__row">
                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__image">
                                            <img src="./img/image-slider-case-result-1.png" alt="">
                                        </div>

                                        <div class="slider-case-task__image-sign">Видимость КС в ТОП-10 с 31.10.2017 по
                                            24.06.2019 (данные из SpySerp)</div>
                                    </div>

                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__title">Вывод запросов в ТОП</div>

                                        <div class="slider-case-task__text">
                                            На сегодняшний день проект обладает следующими показателями видимости по
                                            ключевым запросам в ТОП-10 Яндекс 21%, в Google – 16%; в ТОП-30 Яндекс 41%
                                            запросов, в Google – 33%
                                            Leaderg.ru вошел в ТОП-10 сайтов по тематике «клининг, аутстаффинг,
                                            аутсорсинг персонала», а также занимает позиции на первой странице поисковой
                                            выдачи по популярным и конкурентным запросам.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-case-task__slide swiper-slide">
                                <div class="slider-case-task__row">
                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__image">
                                            <img src="./img/image-slider-case-result-1.png" alt="">
                                        </div>

                                        <div class="slider-case-task__image-sign">Видимость КС в ТОП-10 с 31.10.2017 по
                                            24.06.2019 (данные из SpySerp)</div>
                                    </div>

                                    <div class="slider-case-task__column">
                                        <div class="slider-case-task__title">Вывод запросов в ТОП</div>

                                        <div class="slider-case-task__text">
                                            На сегодняшний день проект обладает следующими показателями видимости по
                                            ключевым запросам в ТОП-10 Яндекс 21%, в Google – 16%; в ТОП-30 Яндекс 41%
                                            запросов, в Google – 33%
                                            Leaderg.ru вошел в ТОП-10 сайтов по тематике «клининг, аутстаффинг,
                                            аутсорсинг персонала», а также занимает позиции на первой странице поисковой
                                            выдачи по популярным и конкурентным запросам.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slider-case__arrows">
                        <div class="slider-case__prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="36" viewBox="0 0 69 36"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M32.9399 2.12L35.0601 0L69 33.88L66.88 36L32.9399 2.12ZM33.9399 0L36.0601 2.12L2.12 36L0 33.88L33.9399 0Z"
                                    fill="black" />
                            </svg>
                        </div>
                        <div class="slider-case__pagination"></div>

                        <div class="slider-case__next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="36" viewBox="0 0 69 36"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M32.9399 2.12L35.0601 0L69 33.88L66.88 36L32.9399 2.12ZM33.9399 0L36.0601 2.12L2.12 36L0 33.88L33.9399 0Z"
                                    fill="black" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>