<section class="case-task">
    <div class="wrapper">
        <div class="case-task__wrap">
            <div class="case-task__group">
                <div class="case-task__group-title">
                    <div class="case-task__title main-title">ЗАДАЧИ ПРОЕКТА</div>
                </div>
                <div class="case-task__text">Клиент обратился к нам с целью привести на сайт как можно больше целевых
                    посетителей. Сайт отставал от своих конкурентов, не приносил целевых заказов и в принципе
                    отсутствовал в поисковой подаче</div>
            </div>

            <div class="case-task__block-task slider-case">
                <div class="slider-case__slider slider-case-task swiper-container">
                    <div class="slider-case-task__wrap-slide swiper-wrapper">
                        <div class="slider-case-task__slide swiper-slide">
                            <div class="slider-case-task__row">
                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__number">01</div>
                                </div>

                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__title">Увеличить целевой трафик из поисковых систем
                                        яндекс и google</div>

                                    <div class="slider-case-task__text">Необходимо увеличить долю целевого трафика из
                                        органической выдачи Москвы и других регионов, где имеются представительства
                                        компании. Для этого нужно полностью проработать семантическое ядро и структуру,
                                        создать все типы продвигаемых страниц.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider-case-task__slide swiper-slide">
                            <div class="slider-case-task__row">
                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__number">02</div>
                                </div>

                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__title">Увеличить целевой трафик из поисковых систем
                                        яндекс и google</div>

                                    <div class="slider-case-task__text">Необходимо увеличить долю целевого трафика из
                                        органической выдачи Москвы и других регионов, где имеются представительства
                                        компании. Для этого нужно полностью проработать семантическое ядро и структуру,
                                        создать все типы продвигаемых страниц.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider-case-task__slide swiper-slide">
                            <div class="slider-case-task__row">
                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__number">03</div>
                                </div>

                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__title">Увеличить целевой трафик из поисковых систем
                                        яндекс и google</div>

                                    <div class="slider-case-task__text">Необходимо увеличить долю целевого трафика из
                                        органической выдачи Москвы и других регионов, где имеются представительства
                                        компании. Для этого нужно полностью проработать семантическое ядро и структуру,
                                        создать все типы продвигаемых страниц.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider-case-task__slide swiper-slide">
                            <div class="slider-case-task__row">
                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__number">04</div>
                                </div>

                                <div class="slider-case-task__column">
                                    <div class="slider-case-task__title">Увеличить целевой трафик из поисковых систем
                                        яндекс и google</div>

                                    <div class="slider-case-task__text">Необходимо увеличить долю целевого трафика из
                                        органической выдачи Москвы и других регионов, где имеются представительства
                                        компании. Для этого нужно полностью проработать семантическое ядро и структуру,
                                        создать все типы продвигаемых страниц.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-case__arrows">
                    <div class="slider-case__prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="69" height="36" viewBox="0 0 69 36" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M32.9399 2.12L35.0601 0L69 33.88L66.88 36L32.9399 2.12ZM33.9399 0L36.0601 2.12L2.12 36L0 33.88L33.9399 0Z"
                                fill="black" />
                        </svg>
                    </div>
                    <div class="slider-case__pagination"></div>

                    <div class="slider-case__next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="69" height="36" viewBox="0 0 69 36" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M32.9399 2.12L35.0601 0L69 33.88L66.88 36L32.9399 2.12ZM33.9399 0L36.0601 2.12L2.12 36L0 33.88L33.9399 0Z"
                                fill="black" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>