<footer class="page-footer">
    <div class="wrapper">
        <div class="footer-inner">
            <div class="footer-inner__item">
                <div class="logo">
                    <img src="./img/logo-wesma.svg" alt="" width="210">
                </div>
                <div class="copyright">
                    Copyright © 2016 – 2021 ООО «WESMA»
                </div>
                <a href="#" class="privacy-link">
                    политика конфиденциальности
                </a>
            </div>
            <div class="footer-inner__item">
                <div class="footer-inner__block">
                    <div class="footer-inner__title">
                        Отдел продаж
                    </div>
                    <a href="tel:84951182474" class="footer-inner__link">
                        +7 (495) 118-24-74
                    </a>
                    <a href="mailto:manager@wesma.ru" class="footer-inner__link footer-inner__link--email">
                        manager@wesma.ru
                    </a>
                </div>
                <div class="footer-inner__block">
                    <div class="footer-inner__title">
                        Вакансии и трудоустройство
                    </div>
                    <a href="mailto:career@wesma.ru" class="footer-inner__link footer-inner__link--email">
                        career@wesma.ru
                    </a>
                </div>
                <div class="footer-inner__block">
                    <div class="footer-inner__title">
                        Офисы на карте
                    </div>
                    <div class="footer-inner__address">
                        <div class="footer-inner__address-item">
                            <div class="footer-inner__address-title">
                                г. Москва
                            </div>
                            <div class="footer-inner__address-info">
                                Гостиничный проезд 4Б, офис 401 БЦ Город (МЦК Окружная, м. Окружная)
                            </div>
                        </div>
                        <div class="footer-inner__address-item">
                            <div class="footer-inner__address-title">
                                г. Брянск
                            </div>
                            <div class="footer-inner__address-info">
                                ул. Ульянова, 4, офис 214А
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner__item">
                <div class="footer-inner__block">
                    <div class="footer-inner__title">
                        Отдел технической поддержки
                    </div>
                    <a href="mailto:support@wesma.ru" class="footer-inner__link footer-inner__link--email">
                        support@wesma.ru
                    </a>
                </div>
                <div class="footer-inner__block">
                    <div class="footer-inner__title">
                        Связь с руководством
                    </div>
                    <a href="mailto:support@wesma.ru" class="footer-inner__link footer-inner__link--email">
                        info@wesma.ru
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer__icon-top " data-scroll-to-anim="top">
        <svg xmlns="http://www.w3.org/2000/svg" width="600" height="100" class="bottom">
            <g transform="rotate(90 295.00000000000006,70.00000000000003) " id="svg_1">
                <path id="svg_2" d="m325,-230c-0,300 -0,300 0,600l0,-600z">
                    <animate class="button-open" attributeName="d" attributeType="XML" dur="0.3s" begin="none"
                        fill="freeze" from="m325,-230c-0,300 -0,300 0,600l0,-600z"
                        to="m325,-230c-80,300 -80,300 0,600l0,-600z" />

                    <animate class="button-close" attributeName="d" attributeType="XML" dur="0.3s" begin="none"
                        fill="freeze" from="m325,-230c-80,300 -80,300 0,600l0,-600z"
                        to="m325,-230c-0,300 -0,300 0,600l0,-600z" />
                </path>
            </g>
        </svg>

        <div class="page-footer__icon-top-text">Наверх</div>
    </div>
</footer>