<div class="block-text">
    <div class="wrapper">
        <div class="block-text__wrap">
            <div class="block-text__row">
                <div class="block-text__column">
                    <div class="block-text__image"><img src="./img/image-block-text-1.png" alt=""></div>
                </div>

                <div class="block-text__column">
                    <div class="block-text__text">

                        <p>WESMA - компания, которая занимается разработкой и продвижением проектов разной сложности, а
                            также проводит «раскрутку» сайтов при помощи разных видов интернет-рекламы.</p>

                        <p>За годы, которые мы занимаемся IT, мы выработали множество плодотворных тактик
                            интернет-маркетинга. Мы следим за всеми новинками в сфере продвижения, а значит наши услуги
                            всегда актуальны и отличаются профессиональным подходом к делу.</p>

                        <p>В своем арсенале мы имеем множество решений, которые повысят узнаваемость вашего бренда,
                            создадут надежный фундамент постоянных заказчиков, помогут развитию вашего бизнеса, даже
                            если вы - молодая компания, которая только планирует выйти на рынок в своем сегменте. Самый
                            эффективный способ продвижения - реклама в интернете, которая, как известно, двигатель
                            торговли.</p>

                        <h5>Контекстная реклама</h5>

                        <p>Что потребуется для того, чтобы правильно разместить контекстную рекламу для повышения
                            конверсии, а, соответственно, и прибыли? Конечно, опыт работы в данной сфере. Ведь подобрать
                            ключевые слова из запросов - всего лишь половина дела. Для эффективной интернет рекламы
                            нужно:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>