<div class="marketplace-tarif">
    <div class="marketplace-tarif__wrap">
        <div class="wrapper">
            <div class="marketplace-tarif__title main-title">ТАРИФЫ НА ПРОДВИЖЕНИЕ<br> МАРКЕТПЛЕЙСОВ</div>

            <div class="marketplace-tarif__list">
                <div class="marketplace-tarif__item card-dev-all">
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-1.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Минимальный</div>
                                <div class="card-dev-all__sign">Стартуем с 1 маркетплейсом</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">50 000 руб / мес</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Минимально необходимая оптимизация карточек товара для вывода в топ и увеличения продаж,
                                SEO, инфографика, контроль врутренней рекламы.
                            </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="marketplace-tarif__item card-dev-all">
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-2.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Уверенный</div>
                                <div class="card-dev-all__sign">Стартуем с 2мя маркетплейсами</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">80 000 руб / мес</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Cтартуем сразу с 2х приоритетных маркетплейсов, оптимизируем по 10 карточек товара для
                                вывода в топ и увеличения продаж, SEO, инфографика, контроль врутренней рекламы.
                            </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="marketplace-tarif__item card-dev-all">
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-3.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Топовый</div>
                                <div class="card-dev-all__sign">Максимально результативный план</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 150 000 руб / мес</div>

                        <div class="card-dev-all__text ">
                            <p>
                                Сотавляем максимально проработанный план захвата ниши на нескольких маркетплейсах,
                                осуществим мониторинг конкурентов, сделаем аудит. Проявим комплексный подход к
                                оптимизации и продвижении товаров для вывода в топ, и оперативного увеличения продаж,
                                SEO, инфографика, запустим несколько видов внешней рекламы, работа с отзывами и
                                негативом.
                            </p>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="marketplace-tarif__item card-dev-all">
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-4.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Ведение бренда</div>
                                <div class="card-dev-all__sign">SERM</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 15 000 руб</div>

                        <div class="card-dev-all__text ">
                            <ul class="card-dev-all__list">
                                <li class="card-dev-all__item">работа с ценообразованием;</li>
                                <li class="card-dev-all__item">участие в акциях;</li>
                                <li class="card-dev-all__item">ответы на вопросы и отзывы покупателей;</li>
                                <li class="card-dev-all__item">отслеживание остатков;</li>
                                <li class="card-dev-all__item">решение вопросов с маркетплейсом.</li>
                            </ul>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="marketplace-tarif__item card-dev-all">
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-optimization-5.svg" alt="">
                            </div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Внешняя реклама</div>
                                <div class="card-dev-all__sign">Таргет, контекст и т.д.</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">от 25 000 руб</div>

                        <div class="card-dev-all__text ">
                            <ul class="card-dev-all__list">
                                <li class="card-dev-all__item">предложение по бюджету и стратегии;</li>
                                <li class="card-dev-all__item">создание креативов, отработка гипотез;</li>
                                <li class="card-dev-all__item">запуск эффективной связки типов рекламы;</li>
                                <li class="card-dev-all__item">отслеживание результата, предоставление отчетности и
                                    планов по дальнейшей работе.</li>
                            </ul>
                        </div>

                        <div class="card-dev-all__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="marketplace-tarif__consultation tarif-consultation">
                    <svg class="tarif-consultation__text-circle text-circle" viewBox="0 0 70 70">
                        <defs>
                            <path d="M35,35m-23,0a23,23 0 1,1 46,0a23,23 0 1,1 -46,0" fill="lightpink" id="tophalf" />
                        </defs>
                        <text>
                            <textPath xlink:href="#tophalf" startOffset="0%">Поможем легко и без нервов разобраться в
                                маркетплейсах</textPath>
                        </text>
                    </svg>
                    <div class="tarif-consultation__wrap">
                        <div class="tarif-consultation__title">Запишитесь на бесплатную консультацию</div>

                        <div class="tarif-consultation__text">
                            <ul>
                                <li>- если вы не нашли подхлдящий тариф или условия;</li>
                                <li>- если появились вопросы по услуге продвижения
                                    маркетплейсов;</li>
                            </ul>

                            <p>
                                Это ни к чему вас не обязывает, ведь мы может дейтвительно окажемся вашим надежным
                                многолетним
                                партнером.
                            </p>
                        </div>

                        <div class="tarif-consultation__wrap-button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>

                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble button-bubble--border">
                                        Проконсультироваться
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button effect-button--border"></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>