<section class="section-trust js-tab-container">
    <div class="wrapper">
        <div class="section-trust__wrap">
            <div class="section-trust__title main-title">РЕГАЛИИ И КОМПЕТЕНЦИИ</div>

            <div class="section-trust__tab-controls">
                <div class="section-trust__tab-control js-tab-control active" data-tab-item="1">
                    <div class="btn-magic-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix"
                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                    <feComposite in="SourceGraphic" in2="goo" />
                                </filter>
                            </defs>
                        </svg>

                        <span class="bubble-container">
                            <a href="#" class="button button-bubble button-bubble--border">
                                Благодарности
                            </a>
                            <span class="button-bubble__effect-container">
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>

                                <span class="button effect-button effect-button--border"></span>

                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="section-trust__tab-control js-tab-control" data-tab-item="2">
                    <div class="btn-magic-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix"
                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                    <feComposite in="SourceGraphic" in2="goo" />
                                </filter>
                            </defs>
                        </svg>

                        <span class="bubble-container">
                            <a href="#" class="button button-bubble button-bubble--border">
                                Регалии
                            </a>
                            <span class="button-bubble__effect-container">
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>

                                <span class="button effect-button effect-button--border"></span>

                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="section-trust__tab-control js-tab-control" data-tab-item="3">
                    <div class="btn-magic-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix"
                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                    <feComposite in="SourceGraphic" in2="goo" />
                                </filter>
                            </defs>
                        </svg>

                        <span class="bubble-container">
                            <a href="#" class="button button-bubble button-bubble--border">
                                Награды
                            </a>
                            <span class="button-bubble__effect-container">
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>

                                <span class="button effect-button effect-button--border"></span>

                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="section-trust__tab-contents">

                <div class="section-trust__tab-content js-tab-content active" data-tab-content="1">

                    <div class="section-trust__slider-sign swiper-container">
                        <span class="arPrev"></span>
                        <span class="arNext"></span>
                        <div class="section-trust__slider-sign-wrap swiper-wrapper">
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-trust__container">
                        <div class="section-trust__arrow arrows-main--review">
                            <div class="arrow-btn arrow-btn--prev slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-leftArrow"></use>
                                </svg>
                            </div>
                            <div class="arrow-btn arrow-btn--next slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="section-trust__slider swiper-container">

                            <div class="section-trust__pagination swiper-pagination"></div>

                            <div class="section-trust__slide-wrap swiper-wrapper">
                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section-trust__tab-content js-tab-content" data-tab-content="2">

                    <div class="section-trust__slider-sign swiper-container">
                        <span class="arPrev"></span>
                        <span class="arNext"></span>
                        <div class="section-trust__slider-sign-wrap swiper-wrapper">
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-trust__container">
                        <div class="section-trust__arrow arrows-main--review">
                            <div class="arrow-btn arrow-btn--prev slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-leftArrow"></use>
                                </svg>
                            </div>
                            <div class="arrow-btn arrow-btn--next slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="section-trust__slider swiper-container">

                            <div class="section-trust__pagination swiper-pagination"></div>

                            <div class="section-trust__slide-wrap swiper-wrapper">
                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section-trust__tab-content js-tab-content" data-tab-content="3">

                    <div class="section-trust__slider-sign swiper-container">
                        <span class="arPrev"></span>
                        <span class="arNext"></span>
                        <div class="section-trust__slider-sign-wrap swiper-wrapper">
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#МУЗ-ТВ</div>
                            </div>
                            <div class="section-trust__slider-sign-slide swiper-slide">
                                <div class="section-trust__slider-sign-text">#SilverPink</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-trust__container">
                        <div class="section-trust__arrow arrows-main--review">
                            <div class="arrow-btn arrow-btn--prev slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-leftArrow"></use>
                                </svg>
                            </div>
                            <div class="arrow-btn arrow-btn--next slider-btn">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="section-trust__slider swiper-container">

                            <div class="section-trust__pagination swiper-pagination"></div>

                            <div class="section-trust__slide-wrap swiper-wrapper">
                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв ПАО «Сбербанк»</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-trust__slide swiper-slide">
                                    <div class="section-trust__row">
                                        <div class="section-trust__column">
                                            <div class="section-trust__image"><img src="img/slide-img.png" alt=""></div>
                                        </div>

                                        <div class="section-trust__column">
                                            <div class="section-trust__name">Отзыв #SilverPink</div>
                                            <div class="section-trust__icon"><img src="img/slide-logo.png" alt=""></div>
                                            <div class="section-trust__text">
                                                <p>
                                                    ООО «ЮТВ-Медиа» и Национальный музыкальный канал «МУЗ-ТВ» выражает
                                                    благодарность ООО «ВЕСМА» за проделанную работу над проектом с
                                                    клиентом-заказчиком Министерство Здравоохранения РФ в рамках
                                                    специального проекта «Ты сильнее с семьей» и поздравляет Вас с
                                                    наступающим Новым Годом и Рождеством!
                                                </p>
                                                <p>
                                                    Руководитель направления интернет-продаж
                                                    Канал Ю, Канал Disney, Канал МУЗ-ТВ
                                                    Трофименков Сергей
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>