<section class="case-other">
    <div class="wrapper">
        <div class="case-other__wrap">
            <div class="case-other__title main-title">ДРУГИЕ КЕЙСЫ</div>

            <div class="case-other__list">
                <div class="case-other__item card-case-small"
                    style="background: linear-gradient(to right, #114964 90%, transparent 0%)">
                    <a href="#" class="card-case-small__link"></a>

                    <div class="card-case-small__group">
                        <div class="card-case-small__title">Shopsantex</div>

                        <div class="card-case-small__text">
                            Продвижение интернет-магазина инженерной антехники с нуля
                        </div>

                    </div>

                    <div class="card-case-small__image">
                        <img src="./img/image-card-case-small-1.png" alt="" data-depth="0.5">
                    </div>
                </div>

                <div class="case-other__item card-case-small"
                    style="background: linear-gradient(to right, #FF033B 90%, transparent 0%)">
                    <a href="#" class="card-case-small__link"></a>

                    <div class="card-case-small__group">
                        <div class="card-case-small__title">TOP Refit</div>

                        <div class="card-case-small__text">
                            Разработали сайт по ремонту бытовой техники и продвинули с нуля по Москве и области
                        </div>
                    </div>

                    <div class="card-case-small__image">
                        <img src="./img/image-card-case-small-2.png" alt="" data-depth="0.5">
                    </div>
                </div>

                <div class="case-other__item card-case-small"
                    style="background: linear-gradient(to right, #083044 90%, transparent 0%)">
                    <a href="#" class="card-case-small__link"></a>

                    <div class="card-case-small__group">
                        <div class="card-case-small__title">ABERTON yachts</div>

                        <div class="card-case-small__text">
                            Увеличили поток яхтсменов на сайт более чем в 20 раз
                        </div>
                    </div>

                    <div class="card-case-small__image">
                        <img src="./img/image-card-case-small-3.png" alt="" data-depth="0.5">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>