.portfolio-added-work {
	&__wrap {
		padding: 70px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 0.65fr;
		gap: 90px;
	}

	&__column {
	}

	&__group {
		padding: 50px 30px 170px 0;
		position: relative;
		display: grid;
		grid-template-columns: 110px 1fr;
		gap: 80px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: 100%;
			background: #e9ebf7;
			border-radius: 0 30px 30px 0;
		}
	}

	&__numbers {
	}

	&__content {
		padding-top: 30px;
	}

	&__title {
		position: relative;
		margin-bottom: 70px;
		font-size: 45px;
	}

	&__content-list {
		max-height: 360px;
		min-height: 360px;
		height: 100%;

		& .os-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding-right: 65px !important;
			column-gap: 60px;
			row-gap: 50px;
			&::before,
			&::after {
				content: none;
			}
		}

		& .os-scrollbar-vertical {
			width: 60px;
			&:hover,
			&:active,
			&:focus,
			&.active {
				& .os-scrollbar-track > .os-scrollbar-handle {
					&::before {
						transform: translate(-50%, -50%) scale(1.8);
					}
					opacity: 1;
					background: #fff !important;
				}
			}
		}

		& .os-scrollbar-vertical > .os-scrollbar-track {
			width: 20px;
			margin: 0 auto;
			border-radius: 10px;
			background: #fff;
		}

		& .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
			cursor: pointer;
			left: -20px;
			width: 60px !important;
			height: 60px !important;
			border-radius: 50%;
			border: 2px solid #e9ebf7;
			background: #fff;
			z-index: 5;
			&::before {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 28px;
				height: 28px;
				opacity: 1;
				border-radius: 50%;
				background: #43bea2;
				transition: all 0.3s ease;
			}
			&.active {
				background: #fff !important;
			}
		}
	}

	&__content-item {
	}

	&__equipment {
		padding: 80px 0px 170px 0;
	}

	&__equipment-list {
		& ul {
			max-height: 360px;
			min-height: 360px;
			height: 100%;
			& li {
				margin: 0 30px 10px 0;
				font-weight: 300;
				font-size: 16px;
				line-height: 120%;
				color: #333333;
			}

			& .os-content {
				position: relative;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 300px;
			}

			& .os-scrollbar-horizontal {
				height: 60px;
				&:hover,
				&:active,
				&:focus,
				&.active {
					& .os-scrollbar-track > .os-scrollbar-handle {
						&::before {
							transform: translate(-50%, -50%) scale(1.8);
						}
						opacity: 1;
						background: #fff !important;
					}
				}
			}

			& .os-scrollbar-horizontal > .os-scrollbar-track {
				height: 20px;
				margin: 18px 0 0 0;
				border-radius: 10px;
				background: #e9ebf7;
			}

			& .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
				cursor: pointer;
				top: -20px;
				width: 60px !important;
				height: 60px !important;
				border-radius: 50%;
				border: 2px solid #e9ebf7;
				background: #fff;
				z-index: 5;
				&::before {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 28px;
					height: 28px;
					opacity: 1;
					border-radius: 50%;
					background: #43bea2;
					transition: all 0.3s ease;
				}
				&.active {
					background: #fff !important;
				}
			}
		}
	}

	&__cms {
		margin-top: -105px;
		padding-left: 150px;
		padding-right: 240px;
	}

	&__cms-wrap {
		position: relative;
		padding: 40px 0px 40px 40px;
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: 100%;
			background: #fff;
			background: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' style='fill: none; stroke: %23aaaaaa; stroke-width: 2; stroke-dasharray: 15 15'/%3E%3C/svg%3E"), #fff;
			z-index: 1;
		}
	}

	&__cms-text {
		position: relative;
		margin-bottom: 30px;
		font-weight: bold;
		font-size: 18px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: #333333;
		z-index: 2;
	}

	&__cms-image {
		position: relative;
		z-index: 2;
	}
}

.card-added-work {
	position: relative;
	display: flex;
	align-items: center;
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	&__incon {
		margin-right: 25px;
		flex-shrink: 0;
		& img {
			filter: brightness(0);
			transition: all 0.3s ease;
		}
	}

	&__name {
		& span {
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			color: #333333;
			border-bottom: 1px solid transparent;
			transition: all 0.3s ease;
		}
	}
	&:hover {
		& .card-added-work__name {
			& span {
				border-color: #333333;
			}
		}

		& .card-added-work__incon {
			& img {
				filter: brightness(1);
			}
		}
	}
}

@media (max-width: 1600px) {
	.portfolio-added-work {
		&__title {
			@include adaptiv-font(45, 22);
		}

		&__equipment-list {
			& ul {
				& li {
					@include adaptiv-font(16, 14);
				}
			}
		}

		&__cms-text {
			@include adaptiv-font(18, 14);
		}
	}

	.card-added-work {
		&__name {
			& span {
				@include adaptiv-font(20, 16);
			}
		}
	}
}

@media (max-width: 1450px) {
	.portfolio-added-work {
		&__row {
			gap: 30px;
		}

		&__group {
			gap: 40px;
		}

		&__cms {
			padding-left: 100px;
			padding-right: 150px;
		}
	}
}

@media (max-width: 1170px) {
	.portfolio-added-work {
		&__wrap {
			padding: 40px 0;
		}

		&__row {
			grid-template-columns: 1fr;
		}

		&__group {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 20px;
		}

		&__content {
			padding-top: 0;
			width: 100%;
		}

		&__equipment {
			padding: 0px;
		}

		&__title {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 768px) {
	.portfolio-added-work {
		&__cms {
			padding-left: 0px;
			padding-right: 50px;
		}

		&__cms-wrap {
			padding: 20px 0px 20px 0px;
		}

		&__cms-text {
			margin-bottom: 15px;
		}

		&__content-list {
			& .os-content {
				padding-right: 35px !important;
				grid-template-columns: 1fr;
				row-gap: 20px;
			}

			& .os-scrollbar-vertical {
				width: 30px;
			}

			& .os-scrollbar-vertical > .os-scrollbar-track {
				width: 10px;
			}

			& .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
				left: -10px;
				width: 30px !important;
				height: 30px !important;
				&::before {
					width: 15px;
					height: 15px;
				}
			}
		}

		&__equipment-list {
			& ul {
				& .os-scrollbar-horizontal {
					height: 30px;
				}

				& .os-scrollbar-horizontal > .os-scrollbar-track {
					height: 10px;
					margin: 8px 0 0 0;
				}

				& .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
					top: -10px;
					width: 30px !important;
					height: 30px !important;
					&::before {
						width: 15px;
						height: 15px;
					}
				}
			}
		}

		&__group {
			padding: 20px 30px 170px 0;
		}
	}
}

@media (max-width: 500px) {
	.portfolio-added-work {
		&__cms {
			padding-right: 0;
		}
	}
}
