<section class="portfolio-added-work js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-added-work__wrap">
            <div class="portfolio-added-work__row">
                <div class="portfolio-added-work__column">
                    <div class="portfolio-added-work__group">
                        <div class="portfolio-added-work__numbers numbers-portfolio" data-letter="9">9</div>

                        <div class="portfolio-added-work__content">
                            <div class="portfolio-added-work__title main-title">ВЫПОЛНЕННЫЕ РАБОТЫ</div>

                            <div class="portfolio-added-work__content-list">
                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work.png" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Создание сайта</span> </div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-2.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Наполнение сайта</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-3.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Дизайн сайта</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-4.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Настройка контекстной рекламы</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-5.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Продвижение сайта</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-6.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>SMM</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-7.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>Поддержка сайта</span></div>
                                </div>

                                <div class="portfolio-added-work__content-item card-added-work">
                                    <a href="#" class="card-added-work__link"></a>
                                    <div class="card-added-work__incon">
                                        <img src="./img/icon-add-work-8.svg" alt="">
                                    </div>

                                    <div class="card-added-work__name"><span>SERM</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-added-work__cms">
                        <div class="portfolio-added-work__cms-wrap">
                            <div class="portfolio-added-work__cms-text">Использована платформа CMS 1С Битрикс</div>

                            <div class="portfolio-added-work__cms-image">
                                <img src="./img/image-added-work-cms.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-added-work__column">
                    <div class="portfolio-added-work__equipment">
                        <div class="portfolio-added-work__title main-title">Комплектация сайта</div>

                        <div class="portfolio-added-work__equipment-list">
                            <ul>
                                <li>Подключение Яндекс.Метрики</li>
                                <li>Интерактивная карта проезда</li>
                                <li>Каталог</li>
                                <li>Корзина</li>
                                <li>Отзывы</li>
                                <li>Обратная связь</li>
                                <li>Галерея</li>
                                <li>Адм. панель</li>
                                <li>Доменное имя на 1 год</li>
                                <li>Хостинг на 1 год</li>
                                <li>Наполнение сайта до 100 000 страниц</li>
                                <li>Настройка Яндекс.Директ</li>
                                <li>Версия для телефона</li>
                                <li>Обучение работы с сайтом</li>
                                <li>Индивидуальный функционал</li>
                                <li>Индивидуальный дизайн</li>
                                <li>Модуль &laquo;новости сайта&raquo;</li>
                                <li>Модуль &laquo;текущие акции и скидки&raquo;</li>
                                <li>Слайдеры</li>
                                <li>Баннеры</li>
                                <li>Модуль &laquo;спецпредложения&raquo;</li>
                                <li>Модуль &laquo;похожие услуги&raquo;</li>
                                <li>Кнопки соц. Сетей</li>
                                <li>Автоматическая генерация чпу</li>
                                <li>Конверсионные тексты и заголовки, исходя из анализа целевой аудитории</li>
                                <li>Создание любого количества выборов подвида товара (размер, цвет, форма, комплектация
                                    и пр.)</li>
                                <li>Установка онлайн-консультанта</li>
                                <li>Каталог с неограниченной степенью вложенности и неограниченным количеством категорий
                                    и товаров, возможность создания любых классификаций.</li>
                                <li>Несколько цен у товара, модификатор товаров</li>
                                <li>Составная цена (например: товар + упаковка, товар + доп. Товар)</li>
                                <li>Товары содержащие любые атрибуты, разные атрибуты товаров для разных категорий</li>
                                <li>Настраиваемый алгоритм оплаты: банковские карты, терминалы, эл. Валюта</li>
                                <li>Фильтрация товаров в каталоге (по цене, по брендам, по наличию, по популярности, по
                                    дате поступления)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>