<div class="marketplace-store">
    <div class="marketplace-store__wrap">
        <div class="wrapper">

            <div class="marketplace-store__row">
                <div class="marketplace-store__column">
                    <div class="marketplace-store__title title-h2">КТО БУДЕТ РАБОТАТЬ С МАГАЗИНОМ:</div>
                </div>

                <div class="marketplace-store__column">
                    <div class="marketplace-store__tip tip-item">
                        С нами механизм реализации любой продукции через маркетплейс позволяет начать успешно работать в
                        онлайн торговле с первых же дней размещения товарных карточек. И для этого вам не потребуется
                        запускать для ведения продаж отдельный сайт магазин и отдавать проекту всё своё время.
                    </div>
                </div>
            </div>

            <div class="marketplace-store__row">
                <div class="marketplace-store__column">
                    <div class="marketplace-store__manager">
                        <div class="marketplace-store__name title-h6">Аккаунт менеджер</div>

                        <div class="marketplace-store__text">Курирует все вопросы, следит за выполнением работ и держит
                            вас в курсе всех задач</div>
                    </div>

                    <div class="marketplace-store__list-team">
                        <div class="marketplace-store__item-team">
                            Seo-специалист
                        </div>

                        <div class="marketplace-store__item-team">
                            Фото-дизайнер
                        </div>

                        <div class="marketplace-store__item-team">
                            Интернет-маркетолог
                        </div>

                        <div class="marketplace-store__item-team">
                            Креативщик
                        </div>

                        <div class="marketplace-store__item-team">
                            МП Аналитик
                        </div>

                        <div class="marketplace-store__item-team">
                            Контент-менеджер
                        </div>

                        <div class="marketplace-store__item-team">
                            Таргетолог
                        </div>
                    </div>

                    <div class="btn-actions">
                        <div class="btn-magic-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                        <feComposite in="SourceGraphic" in2="goo" />
                                    </filter>
                                </defs>
                            </svg>

                            <span class="bubble-container">
                                <a href="#" class="button button-bubble button-bubble--border">
                                    Вся наша команда
                                </a>
                                <span class="button-bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>

                                    <span class="button effect-button effect-button--border"></span>

                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                </span>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="marketplace-store__column">
                    <div class="marketplace-store__list-advantages">
                        <div class="marketplace-store__item-advantages">
                            <div class="marketplace-store__text-advantages">
                                Наша компания имеет богатый опыт в продвижении товаров на маркетплейсах <span>и прошла
                                    все этапы развития бизнеса в этой сфере, в разных нишах.</span>
                            </div>
                        </div>

                        <div class="marketplace-store__item-advantages">
                            <div class="marketplace-store__text-advantages">
                                Мы предоставляем услуги по продвижению товаров на маркетплейсах по более выгодной цене,
                                <span>чем найм отдельного сотрудника или команды в штат предприятия.</span>
                            </div>
                        </div>

                        <div class="marketplace-store__item-advantages">
                            <div class="marketplace-store__text-advantages">
                                У нас есть универсальная стратегия и эффективная методология анализа и продвижения
                                <span> магазина на маркетплейсах, которые мы разработали самостоятельно.</span>
                            </div>
                        </div>

                        <div class="marketplace-store__item-advantages">
                            <div class="marketplace-store__text-advantages">
                                Мы понимаем, что начинать что-то новое трудно, <span>поэтому мы готовы оказать поддержку
                                    и помощь каждому заказчику, особенно в текущее время.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>