<section class="section-team">
    <div class="wrapper">
        <div class="section-team__wrap">
            <div class="section-team__title main-title">О КОМПАНИИ WESMA</div>

            <div class="section-team__text">
                <p>Digital-агенство полного цикла WESMA - это молодая и современная команда, предлагающая свои услуги в
                    сфере Интернет. Наша веб-студия состоит из настоящих профессионалов, каждый из которых отлично
                    ориентируется в своей области. Мы работаем на рынке разработок веб-сайтов уже много лет и за это
                    время
                    накопили большой опыт.
                </p>
                <p>Новые технологии, творческий подход и желание всегда быть на шаг впереди — основные принципы работы
                    нашего агентства. Тут не нужно лишних слов, просто посмотрите <a href="#">раздел проектов</a> — они
                    говорят за нас.
                </p>
                <p>Мы работаем с Заказчиками самого разного профиля: организациями и частными лицами, крупными
                    корпорациями
                    и индивидуальными предпринимателями, банками и общеобразовательными учреждениями. Компания WESMA
                    развивается на рынке веб-разработок как самостоятельная команда с 2009 года. Нами создано несколько
                    сотен проектов - от простых до сложных. И мы будем рады вместе с Вашей компанией создать полезный во
                    всех отношениях Интернет-ресурс.
                </p>
            </div>

            <div class="section-team__sign">КТО ЖЕ МЫ?</div>

            <div class="section-team__gallery --big">
                <div class="section-team__image" data-smily-img="./img/image-gallery-big-1.png"
                    data-seriously-img="./img/image-gallery-big-2.png"
                    style="background-image: url('./img/image-gallery-big-1.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Иван</div>
                        <div class="section-team__post">Учредитель, руководитель коммерческого отдела, SERM</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-big-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Максим</div>
                        <div class="section-team__post">Учредитель Руководитель отдела интернет-маркетинга</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-big-3.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Виталий</div>
                        <div class="section-team__post">Учредитель Руководитель отдела разработки</div>
                    </div>
                </div>
            </div>

            <div class="section-team__gallery --small">
                <div class="section-team__info">
                    <p>
                        Наши специалисты постоянно развиваются и посещают конференции, форумы, семинары, тренинги,
                        поэтому
                        знают и задают последние тренды и методы web разработки и рекламы.
                    </p>
                    <p>
                        В каждом из отделов нашей компании трудятся исключительно профессионалы, с которыми вам будет
                        интересно работать и комфортно общаться.
                    </p>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-1.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-3.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-4.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-5.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-1.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-2.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-3.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-4.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-5.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-3.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-4.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-5.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image --mt" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

                <div class="section-team__image" style="background-image: url('./img/image-gallery-small-6.png');">
                    <div class="section-team__group">
                        <div class="section-team__name">Дмитрий</div>
                        <div class="section-team__post">Аккаунт-менеджер</div>
                    </div>
                </div>

            </div>

            <div class="section-team__add-team">
                <div class="section-team__add-team-name">СТАНЬ ЧАСТЬЮ КОМАНДЫ</div>

                <div class="section-team__add-team-group">
                    <p>Нам всегда нужны талантливые люди, которые горят своим делом и готовы воплощать самые смелые
                        идеи. Хочешь к нам? Пиши!</p>

                    <div class="section-team__add-team-email">
                        <span>ПОЧТА</span>
                        <a href="mailto:career@wesma.ru">career@wesma.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>