<div class="marketplace-list">
    <div class="marketplace-list__wrap">
        <div class="wrapper">
            <div class="marketplace-list__title title-h5">С какими маркетплейсами мы работаем</div>

            <div class="marketplace-list__list">
                <div class="marketplace-list__item">
                    <img src="./img/marketplace/wb.png" alt="">
                </div>

                <div class="marketplace-list__item">
                    <img src="./img/marketplace/ozon.png" alt="">
                </div>

                <div class="marketplace-list__item">
                    <img src="./img/marketplace/market.png" alt="">
                </div>

                <div class="marketplace-list__item">
                    <img src="./img/marketplace/ali.png" alt="">
                </div>

                <div class="marketplace-list__item">
                    <img src="./img/marketplace/lamoda.png" alt="">
                </div>

                <div class="marketplace-list__item">
                    <img src="./img/marketplace/lm.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>