<section class="section-solution" id="anchorLink" >
    <div class="wrapper">
        <div class="section-solution__title main-title">НАШИ КЕЙСЫ</div>
        <div class="section-solution__container">
            <!-- arrows -->
            <div class="section-solution__arrow arrows-main--review">
                <div class="arrow-btn arrow-btn--prev solution-btn--prev slider-btn anchor-link-js">
                    <svg>
                        <use xlink:href="/build/img/sprite.svg#icon-leftArrow"></use>
                    </svg>
                </div>
                <div class="arrow-btn arrow-btn--next solution-btn--next slider-btn anchor-link-js">
                    <svg>
                        <use xlink:href="/build/img/sprite.svg#icon-rightArrow"></use>
                    </svg>
                </div>
            </div>
            <!-- slideshow -->
            <div
                class="section-solution__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                <div class="swiper-wrapper">
                    <!-- slide 1 -->
                    <div class="section-solution__slide swiper-slide">
                        <div class="flex-container">
                            <div class="flex-item-image">
                                <img src="img/carpets.png" alt="carpets image">
                            </div>
                            <div class="flex-item-content">
                                <div class="flex-item-content__header">
                                    <div class="section-solution__title-company">Интернет-магазин ковров</div>
                                    <div class="logo__header">
                                        <img src="img/companyR.png" alt="image logo">
                                        <img src="img/companyL.png" alt="text logo">
                                    </div>
                                </div>
                                <!-- tabs navigation-->
                                <div class="tabs-container__flex-item-content">
                                    <div class="tab-panel">
                                        <div class="tab-menu">
                                            <input class="tab-input" type="radio" name="tab-group_1" id="tab1_1"
                                                checked>
                                            <label class="tab-active" for="tab1_1">Воронка</label>
                                            <input class="tab-input" type="radio" name="tab-group_1" id="tab1_2">
                                            <label for="tab1_2">Было-стало</label>
                                            <input class="tab-input" type="radio" name="tab-group_1" id="tab1_3">
                                            <label for="tab1_3">О компании</label>
                                            <input class="tab-input" type="radio" name="tab-group_1" id="tab1_4">
                                            <label for="tab1_4">Что сделали</label>
                                        </div>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-1">
                                                <div class="flex-item-picture">
                                                    <div class="image__flex-item-picture">
                                                        <img src="img/funnel.svg" alt="sales funnel">
                                                    </div>
                                                    <div class="statistic__flex-item-picture">
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/person.svg" alt="people icon">
                                                                <span class="large-number">3&nbsp;945</span>
                                                            </div>
                                                            <p>привлечено за месяц, человек</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/messages.svg" alt="email icom">
                                                                <span class="large-number">3&nbsp;412</span>
                                                            </div>
                                                            <p>заявок с сайта в месяц</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/rubleCurrency.svg" alt="ruble icon">
                                                                <span class="large-number">17</span>
                                                            </div>
                                                            <p>средняя стоимость клика, рублей</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-item-trade">
                                                    <div class="flex-item-trade__image">
                                                        <div class="diagramm">
                                                            <img src="img/icon-noun-diagram.svg"
                                                                alt="noun-diagram icon">
                                                        </div>
                                                        <div class="text">
                                                            <p class="bold__text">68&nbsp;000&nbsp;₽&nbsp;/&nbsp;мес</p>
                                                            <p class="regular__text">бюджет на рекламу</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item-trade__text">
                                                        <p>Трафик на сайт изменился на целевой</p>
                                                        <p>Стоимость 1 обращения уменьшилась на 81%</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content border-panel">
                                            <div class="tab-content__wrap">
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Было</h3>
                                                            <p>Заявок/день 2</p>
                                                            <p>Переходов на сайт/месяц 3 681</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 66 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>1100 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">

                                                        <div class="col-1">
                                                            <h3>Стало</h3>
                                                            <p>Заявок/день 11</p>
                                                            <p>Переходов на сайт/месяц 3 945</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 68 000 руб.</p>
                                                        </div>

                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>206 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-3">
                                                <div class="column-flex-item">
                                                    <h3>Тематика</h3>
                                                    <p>Интернет-магазин ковров и ковровых покрытий</p>
                                                    <div class="row">
                                                        <h3>Региональность</h3>
                                                        <p>Москва/МО</p>
                                                    </div>
                                                </div>
                                                <div class="column-flex-item">
                                                    <h3>Цели</h3>
                                                    <ul>
                                                        <li>&#150; увеличить количество заявок с сайта;</li>
                                                        <li>&#150; уменьшить стоимость заявки.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-4">
                                                <div class="tab-content-4__list-wrap">
                                                    <h3>Что сделали</h3>
                                                    <ul>
                                                        <li>&#149; проработали семантическое ядро на заранее оговоренные
                                                            категории товаров;</li>
                                                        <li>&#149; подключили РСЯ с адаптивными креативными баннерами и
                                                            видеообъявлениями;</li>
                                                        <li>&#149; разработали кампанию ретаргетинга по необходимым
                                                            условиям
                                                            возврата целевых пользователей на сайт;</li>
                                                        <li>&#149; исходя из аналитических данных внедрили корректировки
                                                            показов объявлений для аудиторий (полу, возрасту), по
                                                            времени
                                                            заказов, по устройствам (мобильные, десктопные);</li>
                                                        <li>&#149; выполнили тестирование различных стратегий показов
                                                            для
                                                            поиска наиболее выгодного решения;</li>
                                                        <li>&#149; исключили неконверсионные площадки исходя из
                                                            аналитических данных в ходе ежемесячной оптимизации;</li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content-4__list-wrap">
                                                    <ul>
                                                        <li>&#149; исключили нецелевые поисковые запросы на основе
                                                            аналитических данных по всем запросам за прошлый период
                                                            работы
                                                            рекламы (этим самым основной трафик изменился на целевой);
                                                        </li>
                                                        <li>&#149; еженедельно оптимизировали работу кампаний для
                                                            исключения
                                                            нецелевых показов объявлений;</li>
                                                        <li>&#149; настроили магазин на Yandex.Market по моделям FBS,
                                                            DBS;
                                                        </li>
                                                        <li>&#149; настроили магазин на маркетплейсе СбермегаМаркет;
                                                        </li>
                                                        <li>&#149; дополнительно запустили рекламную кампанию в
                                                            Yandex.Direct "Смарт-баннеры" и создали адаптивные
                                                            креативные
                                                            баннеры с динамическим контентом для показов в сетях и
                                                            товарной
                                                            галерее.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <!-- button -->
                                <div class="btn-magic-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                    result="goo" />
                                                <feComposite in="SourceGraphic" in2="goo" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="bubble-container">
                                        <a href="#" class="button button-bubble ">
                                            Хочу так же!
                                        </a>
                                        <span class="button-bubble__effect-container">
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>

                                            <span class="button effect-button "></span>

                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slide 2 -->
                    <div class="section-solution__slide swiper-slide">
                        <div class="flex-container">
                            <div class="flex-item-image">
                                <img src="img/topzdrav-image.png" alt="topzdrav image">
                            </div>
                            <div class="flex-item-content">
                                <div class="flex-item-content__header">
                                    <div class="section-solution__title-company">Интернет-магазин медицинского
                                        оборудования</div>
                                    <div class="logo__header">
                                        <img src="img/topzdrav-logo.png" alt="logo">
                                    </div>
                                </div>
                                <!-- tabs navigation-->
                                <div class="tabs-container__flex-item-content">
                                    <div class="tab-panel">
                                        <div class="tab-menu">
                                            <input class="tab-input" type="radio" name="tab-group2" id="tab2_1" checked>
                                            <label class="tab-active" for="tab2_1">Воронка</label>
                                            <input class="tab-input" type="radio" name="tab-group2" id="tab2_2">
                                            <label for="tab2_2">Было-стало</label>
                                            <input class="tab-input" type="radio" name="tab-group2" id="tab2_3">
                                            <label for="tab2_3">О компании</label>
                                            <input class="tab-input" type="radio" name="tab-group2" id="tab2_4">
                                            <label for="tab2_4">Что сделали</label>
                                        </div>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-1">
                                                <div class="flex-item-picture">
                                                    <div class="image__flex-item-picture">
                                                        <img src="img/funnel.svg" alt="sales funnel">
                                                    </div>
                                                    <div class="statistic__flex-item-picture">
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/person.svg" alt="people icon">
                                                                <span class="large-number">80&nbsp;017</span>
                                                            </div>
                                                            <p>привлечено за месяц, человек</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/messages.svg" alt="emain icom">
                                                                <span class="large-number">1&nbsp;767</span>
                                                            </div>
                                                            <p>заявок с сайта в месяц</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/rubleCurrency.svg" alt="ruble icon">
                                                                <span class="large-number">7</span>
                                                            </div>
                                                            <p>средняя стоимость клика, рублей</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-item-trade">
                                                    <div class="flex-item-trade__image">
                                                        <div class="diagramm">
                                                            <img src="img/icon-noun-diagram.svg"
                                                                alt="noun-diagram icon">
                                                        </div>
                                                        <div class="text">
                                                            <p class="bold__text">381&nbsp;000&nbsp;₽&nbsp;/&nbsp;мес
                                                            </p>
                                                            <p class="regular__text">бюджет на рекламу</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item-trade__text">
                                                        <p>Трафик на сайт увеличился в 7,5 раз</p>
                                                        <p>Стоимость 1 обращения уменьшилась на 65%</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content border-panel">
                                            <div class="tab-content__wrap">
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Было</h3>
                                                            <p>Заявок/день 2</p>
                                                            <p>Переходов на сайт/месяц 3 681</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 66 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>1100 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Стало</h3>
                                                            <p>Заявок/день 11</p>
                                                            <p>Переходов на сайт/месяц 3 945</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 68 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>206 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-3">
                                                <div class="column-flex-item">
                                                    <h3>Тематика</h3>
                                                    <p>Интернет-магазин ковров и ковровых покрытий</p>
                                                    <div class="row">
                                                        <h3>Региональность</h3>
                                                        <p>Москва/МО</p>
                                                    </div>
                                                </div>
                                                <div class="column-flex-item">
                                                    <h3>Цели</h3>
                                                    <ul>
                                                        <li>&#150; увеличить количество заявок с сайта;</li>
                                                        <li>&#150; уменьшить стоимость заявки.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-4">
                                                <div class="tab-content-4__list-wrap">
                                                    <h3>Что сделали</h3>
                                                    <ul>
                                                        <li>&#149; проработали семантическое ядро на заранее оговоренные
                                                            категории товаров;</li>
                                                        <li>&#149; подключили РСЯ с адаптивными креативными баннерами и
                                                            видеообъявлениями;</li>
                                                        <li>&#149; разработали кампанию ретаргетинга по необходимым
                                                            условиям
                                                            возврата целевых пользователей на сайт;</li>
                                                        <li>&#149; исходя из аналитических данных внедрили корректировки
                                                            показов объявлений для аудиторий (полу, возрасту), по
                                                            времени
                                                            заказов, по устройствам (мобильные, десктопные);</li>
                                                        <li>&#149; выполнили тестирование различных стратегий показов
                                                            для
                                                            поиска наиболее выгодного решения;</li>
                                                        <li>&#149; исключили неконверсионные площадки исходя из
                                                            аналитических данных в ходе ежемесячной оптимизации;</li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content-4__list-wrap">
                                                    <ul>
                                                        <li>&#149; исключили нецелевые поисковые запросы на основе
                                                            аналитических данных по всем запросам за прошлый период
                                                            работы
                                                            рекламы (этим самым основной трафик изменился на целевой);
                                                        </li>
                                                        <li>&#149; еженедельно оптимизировали работу кампаний для
                                                            исключения
                                                            нецелевых показов объявлений;</li>
                                                        <li>&#149; настроили магазин на Yandex.Market по моделям FBS,
                                                            DBS;
                                                        </li>
                                                        <li>&#149; настроили магазин на маркетплейсе СбермегаМаркет;
                                                        </li>
                                                        <li>&#149; дополнительно запустили рекламную кампанию в
                                                            Yandex.Direct "Смарт-баннеры" и создали адаптивные
                                                            креативные
                                                            баннеры с динамическим контентом для показов в сетях и
                                                            товарной
                                                            галерее.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <!-- button -->
                                <div class="btn-magic-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                    result="goo" />
                                                <feComposite in="SourceGraphic" in2="goo" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="bubble-container">
                                        <a href="#" class="button button-bubble ">
                                            Хочу так же!
                                        </a>
                                        <span class="button-bubble__effect-container">
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>

                                            <span class="button effect-button "></span>

                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slide 3 -->
                    <div class="section-solution__slide swiper-slide">
                        <div class="flex-container">
                            <div class="flex-item-image">
                                <img src="img/photosphere-image.png" alt="photosphere image">
                            </div>
                            <div class="flex-item-content">
                                <div class="flex-item-content__header">
                                    <div class="section-solution__title-company">Сайт фотоуслуг</div>
                                    <div class="logo__header">
                                        <img src="img/photosphere-logo.png" alt="image logo">
                                    </div>
                                </div>
                                <!-- tabs navigation-->
                                <div class="tabs-container__flex-item-content">
                                    <div class="tab-panel">
                                        <div class="tab-menu">
                                            <input class="tab-input" type="radio" name="tab-group3" id="tab3_1" checked>
                                            <label class="tab-active" for="tab3_1">Воронка</label>
                                            <input class="tab-input" type="radio" name="tab-group3" id="tab3_2">
                                            <label for="tab3_2">Было-стало</label>
                                            <input class="tab-input" type="radio" name="tab-group3" id="tab3_3">
                                            <label for="tab3_3">О компании</label>
                                            <input class="tab-input" type="radio" name="tab-group3" id="tab3_4">
                                            <label for="tab3_4">Что сделали</label>
                                        </div>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-1">
                                                <div class="flex-item-picture">
                                                    <div class="image__flex-item-picture">
                                                        <img src="img/funnel.svg" alt="sales funnel">
                                                    </div>
                                                    <div class="statistic__flex-item-picture">
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/person.svg" alt="people icon">
                                                                <span class="large-number">12&nbsp;132</span>
                                                            </div>
                                                            <p>привлечено за месяц, человек</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/messages.svg" alt="emain icom">
                                                                <span class="large-number">465</span>
                                                            </div>
                                                            <p>заявок с сайта в месяц</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/rubleCurrency.svg" alt="ruble icon">
                                                                <span class="large-number">19</span>
                                                            </div>
                                                            <p>средняя стоимость клика, рублей</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-item-trade">
                                                    <div class="flex-item-trade__image">
                                                        <div class="diagramm">
                                                            <img src="img/icon-noun-diagram.svg"
                                                                alt="noun-diagram icon">
                                                        </div>
                                                        <div class="text">
                                                            <p class="bold__text">160&nbsp;000&nbsp;₽&nbsp;/&nbsp;мес
                                                            </p>
                                                            <p class="regular__text">бюджет на рекламу</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item-trade__text">
                                                        <p>Трафик на сайт увеличился в 4 раза</p>
                                                        <p>Стоимость 1 обращения уменьшилась на 81%</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content border-panel">
                                            <div class="tab-content__wrap">
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Было</h3>
                                                            <p>Заявок/день 2</p>
                                                            <p>Переходов на сайт/месяц 3 681</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 66 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>1100 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Стало</h3>
                                                            <p>Заявок/день 11</p>
                                                            <p>Переходов на сайт/месяц 3 945</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 68 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>206 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-3">
                                                <div class="column-flex-item">
                                                    <h3>Тематика</h3>
                                                    <p>Интернет-магазин ковров и ковровых покрытий</p>
                                                    <div class="row">
                                                        <h3>Региональность</h3>
                                                        <p>Москва/МО</p>
                                                    </div>
                                                </div>
                                                <div class="column-flex-item">
                                                    <h3>Цели</h3>
                                                    <ul>
                                                        <li>&#150; увеличить количество заявок с сайта;</li>
                                                        <li>&#150; уменьшить стоимость заявки.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-4">
                                                <div class="tab-content-4__list-wrap">
                                                    <h3>Что сделали</h3>
                                                    <ul>
                                                        <li>&#149; проработали семантическое ядро на заранее оговоренные
                                                            категории товаров;</li>
                                                        <li>&#149; подключили РСЯ с адаптивными креативными баннерами и
                                                            видеообъявлениями;</li>
                                                        <li>&#149; разработали кампанию ретаргетинга по необходимым
                                                            условиям
                                                            возврата целевых пользователей на сайт;</li>
                                                        <li>&#149; исходя из аналитических данных внедрили корректировки
                                                            показов объявлений для аудиторий (полу, возрасту), по
                                                            времени
                                                            заказов, по устройствам (мобильные, десктопные);</li>
                                                        <li>&#149; выполнили тестирование различных стратегий показов
                                                            для
                                                            поиска наиболее выгодного решения;</li>
                                                        <li>&#149; исключили неконверсионные площадки исходя из
                                                            аналитических данных в ходе ежемесячной оптимизации;</li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content-4__list-wrap">
                                                    <ul>
                                                        <li>&#149; исключили нецелевые поисковые запросы на основе
                                                            аналитических данных по всем запросам за прошлый период
                                                            работы
                                                            рекламы (этим самым основной трафик изменился на целевой);
                                                        </li>
                                                        <li>&#149; еженедельно оптимизировали работу кампаний для
                                                            исключения
                                                            нецелевых показов объявлений;</li>
                                                        <li>&#149; настроили магазин на Yandex.Market по моделям FBS,
                                                            DBS;
                                                        </li>
                                                        <li>&#149; настроили магазин на маркетплейсе СбермегаМаркет;
                                                        </li>
                                                        <li>&#149; дополнительно запустили рекламную кампанию в
                                                            Yandex.Direct "Смарт-баннеры" и создали адаптивные
                                                            креативные
                                                            баннеры с динамическим контентом для показов в сетях и
                                                            товарной
                                                            галерее.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <!-- button -->
                                <div class="btn-magic-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                    result="goo" />
                                                <feComposite in="SourceGraphic" in2="goo" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="bubble-container">
                                        <a href="#" class="button button-bubble ">
                                            Хочу так же!
                                        </a>
                                        <span class="button-bubble__effect-container">
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>

                                            <span class="button effect-button "></span>

                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slide 4 -->
                    <div class="section-solution__slide swiper-slide">
                        <div class="flex-container">
                            <div class="flex-item-image">
                                <img src="img/intex-image.png" alt="intex image">
                            </div>
                            <div class="flex-item-content">
                                <div class="flex-item-content__header">
                                    <div class="section-solution__title-company">Интернет-магазин бассейнов и
                                        сопутствующего оборудования</div>
                                    <div class="logo__header">
                                        <img src="img/logistik-logo.png" alt="image logo">
                                    </div>
                                </div>
                                <!-- tabs navigation-->
                                <div class="tabs-container__flex-item-content">
                                    <div class="tab-panel">
                                        <div class="tab-menu">
                                            <input class="tab-input" type="radio" name="tab-group4" id="tab4_1" checked>
                                            <label class="tab-active" for="tab4_1">Воронка</label>
                                            <input class="tab-input" type="radio" name="tab-group4" id="tab4_2">
                                            <label for="tab4_2">Было-стало</label>
                                            <input class="tab-input" type="radio" name="tab-group4" id="tab4_3">
                                            <label for="tab4_3">О компании</label>
                                            <input class="tab-input" type="radio" name="tab-group4" id="tab4_4">
                                            <label for="tab4_4">Что сделали</label>
                                        </div>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-1">
                                                <div class="flex-item-picture">
                                                    <div class="image__flex-item-picture">
                                                        <img src="img/funnel.svg" alt="sales funnel">
                                                    </div>
                                                    <div class="statistic__flex-item-picture">
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/person.svg" alt="people icon">
                                                                <span class="large-number">82&nbsp;516</span>
                                                            </div>
                                                            <p>привлечено за месяц, человек</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/messages.svg" alt="emain icom">
                                                                <span class="large-number">3&nbsp;224</span>
                                                            </div>
                                                            <p>заявок с сайта в месяц</p>
                                                        </div>
                                                        <div class="content__statistic">
                                                            <div class="icon__content">
                                                                <img src="img/rubleCurrency.svg" alt="ruble icon">
                                                                <span class="large-number">8</span>
                                                            </div>
                                                            <p>средняя стоимость клика, рублей</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-item-trade">
                                                    <div class="flex-item-trade__image">
                                                        <div class="diagramm">
                                                            <img src="img/icon-noun-diagram.svg"
                                                                alt="noun-diagram icon">
                                                        </div>
                                                        <div class="text">
                                                            <p class="bold__text">589&nbsp;398&nbsp;₽&nbsp;/&nbsp;мес
                                                            </p>
                                                            <p class="regular__text">бюджет на рекламу</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item-trade__text">
                                                        <p>Трафик на сайт увеличился в 2,5 раза</p>
                                                        <p>Стоимость 1 обращения уменьшилась на 78%</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content border-panel">
                                            <div class="tab-content__wrap">
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Было</h3>
                                                            <p>Заявок/день 2</p>
                                                            <p>Переходов на сайт/месяц 3 681</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 66 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>1100 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-container__tab-content-2">
                                                    <div class="flex-item-row">
                                                        <div class="col-1">
                                                            <h3>Стало</h3>
                                                            <p>Заявок/день 11</p>
                                                            <p>Переходов на сайт/месяц 3 945</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <p>Средняя стоимость клика 17 руб.</p>
                                                            <p>Месячный бюджет 68 000 руб.</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <p>Стоимость заявки </p>
                                                            <h3>206 руб.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-3">
                                                <div class="column-flex-item">
                                                    <h3>Тематика</h3>
                                                    <p>Интернет-магазин ковров и ковровых покрытий</p>
                                                    <div class="row">
                                                        <h3>Региональность</h3>
                                                        <p>Москва/МО</p>
                                                    </div>
                                                </div>
                                                <div class="column-flex-item">
                                                    <h3>Цели</h3>
                                                    <ul>
                                                        <li>&#150; увеличить количество заявок с сайта;</li>
                                                        <li>&#150; уменьшить стоимость заявки.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- tab-content -->
                                        <section class="tab-content">
                                            <div class="flex-container__tab-content-4">
                                                <div class="tab-content-4__list-wrap">
                                                    <h3>Что сделали</h3>
                                                    <ul>
                                                        <li>&#149; проработали семантическое ядро на заранее оговоренные
                                                            категории товаров;</li>
                                                        <li>&#149; подключили РСЯ с адаптивными креативными баннерами и
                                                            видеообъявлениями;</li>
                                                        <li>&#149; разработали кампанию ретаргетинга по необходимым
                                                            условиям
                                                            возврата целевых пользователей на сайт;</li>
                                                        <li>&#149; исходя из аналитических данных внедрили корректировки
                                                            показов объявлений для аудиторий (полу, возрасту), по
                                                            времени
                                                            заказов, по устройствам (мобильные, десктопные);</li>
                                                        <li>&#149; выполнили тестирование различных стратегий показов
                                                            для
                                                            поиска наиболее выгодного решения;</li>
                                                        <li>&#149; исключили неконверсионные площадки исходя из
                                                            аналитических данных в ходе ежемесячной оптимизации;</li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content-4__list-wrap">
                                                    <ul>
                                                        <li>&#149; исключили нецелевые поисковые запросы на основе
                                                            аналитических данных по всем запросам за прошлый период
                                                            работы
                                                            рекламы (этим самым основной трафик изменился на целевой);
                                                        </li>
                                                        <li>&#149; еженедельно оптимизировали работу кампаний для
                                                            исключения
                                                            нецелевых показов объявлений;</li>
                                                        <li>&#149; настроили магазин на Yandex.Market по моделям FBS,
                                                            DBS;
                                                        </li>
                                                        <li>&#149; настроили магазин на маркетплейсе СбермегаМаркет);
                                                        </li>
                                                        <li>&#149; дополнительно запустили рекламную кампанию в
                                                            Yandex.Direct "Смарт-баннеры" и создали адаптивные
                                                            креативные
                                                            баннеры с динамическим контентом для показов в сетях и
                                                            товарной
                                                            галерее.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <!-- button -->
                                <div class="btn-magic-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                    result="goo" />
                                                <feComposite in="SourceGraphic" in2="goo" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="bubble-container">
                                        <a href="#" class="button button-bubble ">
                                            Хочу так же!
                                        </a>
                                        <span class="button-bubble__effect-container">
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>
                                            <span class="circle top-left"></span>

                                            <span class="button effect-button "></span>

                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                            <span class="circle bottom-right"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>