<section class="main-marketplace">
    <div class="wrapper">
        <div class="main-marketplace__wrap">
            <div class="main-marketplace__row">
                <div class="main-marketplace__column">
                    <div class="main-marketplace__group">
                        <div class="main-marketplace__title main-title">ПРОДВИЖЕНИЕ НА МАРКЕТПЛЕЙСАХ</div>

                        <div class="main-marketplace__text">
                            <div class="main-marketplace__text-sub">
                                ИЗ ВСЕХ ОДИНАКОВЫХ ТОВАРОВ ИЛИ АНАЛОГОВ - КУПЯТ ИМЕННО ВАШ.<br> ДАЖЕ ЕСЛИ ОН ДОРОЖЕ.
                            </div>

                            <div class="main-marketplace__text-content">
                                Проработаем SEO в карточках товаров, сделаем качественную инфографику<br> и контент
                                маркетинг, запустим рекламу, выведем товары в ТОП.
                            </div>

                        </div>

                        <div class="main-marketplace__button">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="javascript:void(0);" data-scroll-to-anim=".sectDiscussProject"
                                        class="button button-bubble ">
                                        Оставить заявку
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>