<section class="case-review">
    <div class="wrapper">
        <div class="case-review__wrap">
            <div class="case-review__title"><span>ОТЗЫВ</span></div>

            <div class="case-review__item card-case-review">
                <div class="card-case-review__row">
                    <div class="card-case-review__column">
                        <div class="card-case-review__name">Погосян А.Л.</div>
                        <div class="card-case-review__post">Генеральный директор ООО Лидер Групп</div>
                        <a href="#" class="card-case-review__link">leaderg.ru</a>
                    </div>

                    <div class="card-case-review__column">
                        <a data-href="./img/image-case-review-1.png" class="card-case-review__image popupImageLink">
                            <img src="./img/image-case-review-1.png" alt="">
                        </a>
                    </div>

                    <div class="card-case-review__column">
                        <div class="card-case-review__text">
                            <p>
                                Сотрудничаем с компанией «WESMA» по СЕО больше года, предложенная стратегия для
                                продвижения сайта по всей России сработала эффективно, в результате выросли позиции и
                                трафик, запросы по аутстаффингу, аутсорсингу персонала и другие конкурентные запросы в
                                Москве и регионах заняли лидирующие позиции.
                            </p>

                            <p>
                                Через три месяца после старта работ сайт был успешно выведен в ТОП-10 по 40 запросам по
                                Москве. В течение первого полугодия показатель был увеличен до 140 запросов и через год
                                составил 349 запросов. В 5 раз выросла посещаемость. Увеличилось количество новых
                                клиентов и заказов с сайта.
                            </p>

                            <p>
                                Так же выражаем огромную благодарность за создание сервисов учета и интеграции с нашими
                                партнерами, благодаря чему многократно упростилась рутинная работа наших менеджеров,
                                увеличилась эффективность, высвободились дополнительные ресурсы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="case-review__other-case other-case">
                <a href="#" class="other-case__item --prev">
                    <div class="other-case__item-group">
                        <span class="other-case__name">Смотреть предыдущий кейс</span>
                        <span class="other-case__sign">
                            Разработали сайт по ремонту бытовой техники и продвинули с нуля по Москве и области
                        </span>
                    </div>
                    <div class="other-case__arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                </a>

                <div class="other-case__share">
                    <div class="other-case__block block-share">
                        <div class="block-share__text">Поделиться:</div>

                        <div class="block-share__social">
                            <div class="ya-share2" data-curtain data-size="l" data-shape="round"
                                data-color-scheme="whiteblack"
                                data-services="vkontakte,facebook,twitter,pinterest,linkedin"></div>
                        </div>
                    </div>
                </div>

                <a href="#" class="other-case__item --next">
                    <div class="other-case__item-group">
                        <span class="other-case__name">
                            Смотреть следующий кейс
                        </span>
                        <span class="other-case__sign">
                            Продвижение интернет-магазина
                            инженерной сантехники с нуля
                        </span>
                    </div>
                    <div class="other-case__arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#icon-rightArrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>