<section class="portfolio-logo js-section-numbers">
    <div class="wrapper">
        <div class="portfolio-logo__wrap">
            <div class="portfolio-logo__numbers numbers-portfolio" data-letter="5">5</div>

            <div class="portfolio-logo__group-title">
                <div class="portfolio-logo__title main-title">Логотип</div>

                <div class="portfolio-logo__row">
                    <div class="portfolio-logo__column">
                        <div class="portfolio-logo__main-logo">
                            <img src="./img/image-logo-portfolio-1.png" alt="">
                        </div>

                        <div class="portfolio-logo__group">
                            <div class="portfolio-logo__name">Цветовые решения</div>

                            <div class="portfolio-logo__list">
                                <div class="portfolio-logo__item logo-portfolio-item">
                                    <div class="logo-portfolio-item__option">
                                        Background: #ffffff
                                    </div>

                                    <div class="logo-portfolio-item__option">
                                        Color: #46B062
                                    </div>

                                    <div class="logo-portfolio-item__image">
                                        <img src="./img/image-logo-portfolio-2.png" alt="">
                                    </div>
                                </div>

                                <div class="portfolio-logo__item logo-portfolio-item">
                                    <div class="logo-portfolio-item__option">
                                        Background: #ffffff
                                    </div>

                                    <div class="logo-portfolio-item__option">
                                        Color: #46B062
                                    </div>

                                    <div class="logo-portfolio-item__image">
                                        <img src="./img/image-logo-portfolio-3.png" alt="">
                                    </div>
                                </div>

                                <div class="portfolio-logo__item logo-portfolio-item">
                                    <div class="logo-portfolio-item__option">
                                        Background: #f2f2f2
                                    </div>

                                    <div class="logo-portfolio-item__option">
                                        Color: #004DB4
                                    </div>

                                    <div class="logo-portfolio-item__image">
                                        <img src="./img/image-logo-portfolio-4.png" alt="">
                                    </div>
                                </div>

                                <div class="portfolio-logo__item logo-portfolio-item">
                                    <div class="logo-portfolio-item__option">
                                        Background: #f2f2f2
                                    </div>

                                    <div class="logo-portfolio-item__option">
                                        Color: #004DB4
                                    </div>

                                    <div class="logo-portfolio-item__image">
                                        <img src="./img/image-logo-portfolio-5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-logo__column">
                        <div class="portfolio-logo__slider logo-slider lightgallery">
                            <div class="logo-slider__container swiper-container">
                                <div class="logo-slider__wrapper swiper-wrapper">
                                    <div class="logo-slider__slide swiper-slide">
                                        <div class="logo-slider__image">
                                            <a href="./img/image-portfolio-logo-slider-1.png">
                                                <img src="./img/image-portfolio-logo-slider-1.png" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="logo-slider__slide swiper-slide">
                                        <div class="logo-slider__image">
                                            <a href="./img/image-portfolio-logo-slider-2.png">
                                                <img src="./img/image-portfolio-logo-slider-2.png" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="logo-slider__slide swiper-slide">
                                        <div class="logo-slider__image">
                                            <a href="./img/image-portfolio-logo-slider-1.png">
                                                <img src="./img/image-portfolio-logo-slider-1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-slider__arrow">
                                <div class="logo-slider__next">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="298" height="225"
                                        viewBox="0 0 298 225" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M298 0.164294C298 0.164294 229.06 224.164 149 224.164C64.61 224.164 -9.79135e-06 0.164307 -9.79135e-06 0.164307L298 0.164294Z"
                                            fill="#E9EBF7" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M147.94 159.044L150.06 161.164L184 127.284L181.88 125.164L147.94 159.044ZM148.94 161.164L151.06 159.044L117.12 125.164L115 127.284L148.94 161.164Z"
                                            fill="black" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>