<section class="seo-notwork js-tab-container">
    <div class="wrapper">
        <div class="seo-notwork__wrap">
            <div class="seo-notwork__title main-title">ПОЧЕМУ SEO МОЖЕТ НЕ РАБОТАТЬ?</div>

            <div class="seo-notwork__row">
                <div class="seo-notwork__column">

                    <div class="seo-notwork__slider swiper-container">
                        <div class="seo-notwork__slide-wrap swiper-wrapper">
                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Не тот сегмент и/или гео</div>

                                    <p>
                                        Замечали такие сайты, которые продвигается по запросам, не имеющих к нему
                                        отношения.
                                        Если вы
                                        продаете кондиционеры, то не продавайте на этом же сайте еще 3 вида сковородок.
                                        Поисковые
                                        системы любят тематичные сайты, если у вас конечно не маркетплейс, где есть все.
                                        Проблема с
                                        ГЕО банальна - нельзя продвинуть сайт в Москве, если у вас нет физически офиса в
                                        данном
                                        городе (сейчас жесткая проверка адреса вплоть до посещения его асессорами), но
                                        мы
                                        знаем
                                        секреты как с этим работать.
                                    </p>
                                </div>
                            </div>

                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Не хватает терпения</div>

                                    <p>
                                        «Здесь и сейчас» получить результаты от SEO – задача невыполнимая. Поисковая
                                        оптимизация —
                                        масштабный, сложный и длительный процесс, который в итоге дает долговременный
                                        эффект.
                                        Наберитесь
                                        немного терпения и после того, как правки на Вашем сайте проиндексируются – он
                                        начнет расти
                                        в
                                        поисковой выдаче.
                                    </p>
                                </div>
                            </div>

                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Я заплатил, вы и работайте!
                                    </div>

                                    <p>
                                        SEO — процесс нашей с вами совместной работы. Ведь сайт должен удовлетворять не
                                        только Вашим
                                        пожеланиям, но и требованиям поисковых систем. Это значит, что требуется
                                        постоянное
                                        согласование
                                        макетов, структуры, графического и текстового наполнения. Без согласования с
                                        Вами
                                        работы не
                                        смогут быть проведены, а значит — результата тоже не будет.
                                    </p>
                                </div>
                            </div>

                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Боязнь перемен</div>

                                    <p>
                                        В SEO-продвижении мы анализируем сайты конкурентов и на основе полученных данных
                                        разрабатываем
                                        индивидуальную стратегию продвижения. Как правило, стратегия предполагает
                                        улучшение
                                        страниц
                                        сайта, а значит — будьте готовы к переменам на своем сайте и помогайте нам
                                        осуществлять их.
                                        Верстка, дизайн, функционал, контент и многое другое — прямым образом влияет на
                                        позиции
                                        сайта в
                                        выдаче.
                                    </p>
                                </div>
                            </div>

                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Не хватает бюджета</div>

                                    <p>
                                        Помните, что SEO – это определенная статья расходов на программирование, дизайн
                                        и
                                        верстку.
                                        Даже
                                        на начальном этапе работ Вам будет необходимо это учитывать. Качественная работа
                                        специалистов
                                        компании — требует оплаты.
                                    </p>
                                </div>
                            </div>

                            <div class="seo-notwork__slide swiper-slide">
                                <div class="seo-notwork__text">
                                    <div class="seo-notwork__text-title">Я знаю все лучше вас</div>

                                    <p>
                                        Но Вы — один, а мы — целая команда профессионалов своего дела. Доверяйте нам,
                                        помогайте
                                        быстро и
                                        качественно выполнять работу, реализовывать SEO-стратегию в полной мере и тогда,
                                        через
                                        некоторое
                                        время, вы увидите результаты. Мы гарантируем.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="seo-notwork__arrows">
                            <div class="seo-notwork__prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="11" viewBox="0 0 58 11"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 6V5H57V6H0ZM57.25 4.56006L56.75 5.43005L49.75 1.43005L50.25 0.569946L57.25 4.56006ZM56.75 5.56995L57.25 6.43005L50.25 10.4301L49.75 9.56995L56.75 5.56995Z"
                                        fill="white" />
                                </svg>
                            </div>

                            <div class="seo-notwork__next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="11" viewBox="0 0 58 11"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 6V5H57V6H0ZM57.25 4.56006L56.75 5.43005L49.75 1.43005L50.25 0.569946L57.25 4.56006ZM56.75 5.56995L57.25 6.43005L50.25 10.4301L49.75 9.56995L56.75 5.56995Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>


                    <div class="seo-notwork__control">
                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" trigger="click"
                                    src="img/lord-icon-seo-notwork-1.json">
                                </lord-icon>
                            </div>
                        </div>

                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" trigger="click"
                                    src="img/lord-icon-seo-notwork-2.json">
                                </lord-icon>
                            </div>
                        </div>

                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" target="div.seo-notwork__button"
                                    trigger="click" src="img/lord-icon-seo-notwork-3.json">
                                </lord-icon>
                            </div>
                        </div>

                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" trigger="click"
                                    src="img/lord-icon-seo-notwork-4.json">
                                </lord-icon>
                            </div>
                        </div>

                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" trigger="click"
                                    src="img/lord-icon-seo-notwork-5.json">
                                </lord-icon>
                            </div>
                        </div>

                        <div class="seo-notwork__button">
                            <div class="seo-notwork__icon">
                                <lord-icon class="seo-notwork__lord-icon" trigger="click"
                                    src="img/lord-icon-seo-notwork-6.json">
                                </lord-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seo-notwork__column">
                    <canvas id="canvas-wesma"></canvas>
                </div>
            </div>

        </div>
    </div>
</section>