<section class="section-service">
    <div class="wrapper">
        <div class="main-title">
            Что значит хороший сервис?
        </div>
        <div class="tagline">
            Самый простой критерий - это клиенты, довольные нашей работой. <br>
            90 клиентов из 120 работают с нами больше 2 лет.
        </div>
        <div class="stat">
            <div class="stat__item">
                <div class="stat__number">
                    90
                </div>
                <div class="stat__text">
                    постоянных клиентов
                </div>
                <div class="stat__info">
                    оценили наши услуги и доверяют нам больше 2 лет
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__last-year">2020г.</div>
                <div class="stat__number">
                    120
                </div>
                <div class="stat__text">
                    наших клиентов
                </div>
                <div class="stat__present-year">2021г.</div>
            </div>
            <div class="stat__item">
                <div class="stat__number">
                    30
                </div>
                <div class="stat__text">
                    новых клиентов
                </div>
                <div class="stat__info">
                    присоединились к нам в период с 2020 года
                </div>
            </div>
        </div>
    </div>
</section>