<section class="tariff">
    <div class="wrapper">
        <div class="tariff__wrap">
            <div class="tariff__title main-title">ТАРИФЫ НА СОПРОВОЖДЕНИЕ САЙТОВ</div>

            <div class="tariff__list">
                <div class="tariff__item card-dev-all">
                    <a href="#" class="card-dev-all__link"></a>
                    <div class="card-dev-all__banner">
                        <div class="card-dev-all__banner-item --red">Нет мест</div>
                    </div>

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-1.png" alt=""></div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Базовый</div>
                                <div class="card-dev-all__sign">Для небольших задач</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">30 000 р</div>

                        <div class="card-dev-all__text ">
                            <ul class="card-dev-all__list">
                                <li class="card-dev-all__item">Обеспечение стабильной и быстрой работы вашего сайта.
                                </li>
                                <li class="card-dev-all__item">Выполнение работ по сайту по наполнению контента</li>
                                <li class="card-dev-all__item">Неиспользованные часы переносятся на новый месяц</li>
                                <li class="card-dev-all__item">Экстренное восстановление работы сайта</li>
                                <li class="card-dev-all__item --hot">Ежемесячно доступно 15 часов работы любых
                                    специалистов</li>
                                <li class="card-dev-all__item --hot">Время реакции специалистов - до 8 часов
                                </li>
                                <li class="card-dev-all__item --hot">Стоимость дополнительного нормо-часа - 2 000
                                    руб.
                                </li>
                            </ul>
                        </div>

                        <div class="card-dev-all__out-text">К сожалению тариф пока не действует</div>

                    </div>

                </div>

                <div class="tariff__item card-dev-all">
                    <a href="#" class="card-dev-all__link"></a>

                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-2.png" alt=""></div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">Премиум</div>
                                <div class="card-dev-all__sign">Выгодный тариф, когда много задач</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">54 000 р</div>

                        <div class="card-dev-all__text ">
                            <ul class="card-dev-all__list">
                                <li class="card-dev-all__item">Обеспечение стабильной и быстрой работы вашего сайта.
                                </li>
                                <li class="card-dev-all__item">Выполнение работ по сайту по наполнению контента</li>
                                <li class="card-dev-all__item">Неиспользованные часы переносятся на новый месяц</li>
                                <li class="card-dev-all__item">Экстренное восстановление работы сайта</li>

                                <li class="card-dev-all__item --hot">Ежемесячно доступно 30 часов работы любых
                                    специалистов</li>
                                <li class="card-dev-all__item --hot">Время реакции специалистов - до 2 часов</li>
                                <li class="card-dev-all__item --hot">Стоимость дополнительного нормо-часа - 1 800
                                    руб.</li>
                            </ul>
                        </div>

                        <div class="card-dev-all__order">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Заказать
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tariff__item card-dev-all">
                    <a href="#" class="card-dev-all__link"></a>
                    <div class="card-dev-all__bg">
                        <svg class="card-dev-all__bg-svg --one" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="347px" height="80px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M347.000,-0.001 C347.000,-0.001 266.726,79.999 173.500,79.999 C75.241,79.999 0.001,-0.001 0.001,-0.001 L347.000,-0.001 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --two" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="224px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M80.000,224.000 C80.000,224.000 -0.000,172.180 -0.000,112.000 C-0.000,48.570 80.000,-0.000 80.000,-0.000 L80.000,224.000 Z" />
                        </svg>

                        <svg class="card-dev-all__bg-svg --three" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="282px">
                            <path fill-rule="evenodd" fill="rgb(233, 235, 247)"
                                d="M-0.000,-0.001 C-0.000,-0.001 100.000,65.236 100.000,140.999 C100.000,220.853 -0.000,281.999 -0.000,281.999 L-0.000,-0.001 Z" />
                        </svg>
                    </div>

                    <div class="card-dev-all__wrap">
                        <div class="card-dev-all__group">
                            <div class="card-dev-all__icon"><img src="./img/image-tariff-3.png" alt=""></div>

                            <div class="card-dev-all__group-name">
                                <div class="card-dev-all__name">SEO + Поддержка</div>
                                <div class="card-dev-all__sign">Для комплекса</div>
                            </div>
                        </div>

                        <div class="card-dev-all__price">1 400 р. / час</div>

                        <div class="card-dev-all__text ">
                            <ul class="card-dev-all__list">
                                <li class="card-dev-all__item">Обеспечение стабильной и быстрой работы вашего сайта.
                                </li>
                                <li class="card-dev-all__item">Выполнение работ по сайту по наполнению контента</li>
                                <li class="card-dev-all__item">Экстренное восстановление работы сайта</li>

                                <li class="card-dev-all__item --hot">Постоплата в конце месяца</li>
                                <li class="card-dev-all__item --hot">Время реакции специалистов - до 2х часов</li>
                                <li class="card-dev-all__item --hot">Тариф автоматически предоставляется клиентам при
                                    действующем договоре SEO продвижения
                                </li>
                            </ul>
                        </div>

                        <div class="card-dev-all__order">
                            <div class="btn-magic-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                            <feColorMatrix in="blur" mode="matrix"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                            <feComposite in="SourceGraphic" in2="goo" />
                                        </filter>
                                    </defs>
                                </svg>
                                <span class="bubble-container">
                                    <a href="#" class="button button-bubble ">
                                        Заказать
                                    </a>
                                    <span class="button-bubble__effect-container">
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>
                                        <span class="circle top-left"></span>

                                        <span class="button effect-button "></span>

                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                        <span class="circle bottom-right"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="tariff__sign">* Кроме типовых тарифов у нас есть гибкая система заявки часов. Напишите нужное
                вам количество часов, и вы узнаете стоимость и условия.</div>

            <div class="tariff__hot">
                <div class="tariff__hot-group">
                    <div class="tariff__hot-name">Экстренные, срочные,
                        внеочередные задачи</div>
                    <div class="tariff__hot-value">X2 нормо-часа</div>
                </div>

                <div class="tariff__hot-group">
                    <div class="tariff__hot-name">Стоимость нормо-часа без приобретения пакета</div>
                    <div class="tariff__hot-value">2 200 р. / час</div>
                </div>
            </div>

            <div class="tariff__guarantees guarantees-tariff">
                <div class="guarantees-tariff__list">
                    <div class="guarantees-tariff__item">
                        <div class="guarantees-tariff__name">Финансовые гарантии</div>

                        <div class="guarantees-tariff__text">
                            Все работы выполняются на основании заключенного договора, полностью защищающего вас от
                            срыва сроков и недоброкачественного выполнения. На все работы дается гарантия.
                        </div>
                    </div>

                    <div class="guarantees-tariff__item">
                        <div class="guarantees-tariff__name">Личный кабинет</div>

                        <div class="guarantees-tariff__text">
                            Вы всегда в курсе происходящего. Удобная система уведомлений, возможность следить за
                            командой через приложение для Android и Apple устройств. Постановка задач, общение, трекинг
                            трудозатрат ведётся внутри нашего портала на Битрикс24.
                        </div>
                    </div>

                    <div class="guarantees-tariff__item">
                        <div class="guarantees-tariff__name">Тестовые сервера</div>

                        <div class="guarantees-tariff__text">Для безопасной проверки доработок, без ущерба работе
                            основной версии сайта, специально под ваш проект мы создаем его рабочую копию с защитой от
                            дублирования в поисковых системах Яндекс, Google.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>