<section class="errors-404">
    <div class="wrapper">
        <div class="errors-404__wrap">
            <div class="errors-404__text-wrap">
                <div class="errors-404__title">
                    404
                </div>

                <div class="errors-404__subtitle main-title">
                    Страница не<br> найдена
                </div>

                <div class="errors-404__text">
                    Возможно мы ее совсем снесли
                    Воспользуйтесь меню слева
                </div>
            </div>
            <div class="errors-404__image">
                <img src="./img/404.gif" alt="">
            </div>
        </div>
    </div>
</section>